<div id="account-confirm" fxLayout="column">

  <div id="account-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="account-confirm-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <mat-icon class="mat-accent s-96">how_to_reg</mat-icon>
      </div>

      <div class="title">KÍCH HOẠT TÀI KHOẢN</div>

      <div class="subtitle">
        <p>
            <button mat-raised-button color="accent" (click)="activateAccount()">
              Xác nhận
            </button>
        </p>
      </div>

      <div class="message">
        <a class="link" [routerLink]="'/pages/auth/login'">Trở về trang đăng nhập</a>
      </div>

    </div>

  </div>

</div>