$primaryFontSize: 12px;

.container {
  width: 100%;
  height: 90vh;

  .title1 {
    padding: 45px 60px 0 60px;
    height: 35vh;

    // background-color: #000000 !important;
    // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%) !important;
    background-color: #039be5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23039be5' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%230090de' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%230085d6' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23047bce' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%231070c6' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%231a65bd' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);

    font-size: 16px;
    font-weight: bold;

    .main-title {
      padding-top: 20px;
    }

    .adsId {
      color: yellow;
      margin-left: 5px;
    }

    .website-selection {
      width: 250px;

      ::ng-deep .mat-select {
        .mat-select-value {
          color: white !important;
          font-weight: bold;
        }
        .mat-select-arrow {
          color: white !important;
        }
      }
    }

    .no-website-notify {
      font-size: 14px;
      padding: 30px;
    }
  }

  .inner {
    margin: 30px 30px 30px 30px;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 7px;
    position: relative;
    top: -22vh;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    .statistic {
      width: 100%;
      padding-bottom: 15px;
      .section {
        padding: 20px;
        padding-left: 40px;
        padding-right: 0;
        border-radius: 7px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 0.2s;
        color: rgba(0, 0, 0, 0.7);

        .number {
          font-size: 20px;
          font-weight: bold;
        }

        .title {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.7);
        }

        mat-icon {
          font-size: 45px;
        }

        &.total {
          //background: #e6f5ff;
          // color: #039be5;
          -webkit-animation: fade 0.4s ease-out;

          mat-icon {
            margin-top: -3px;
            color: #039be5;
          }
        }

        &.real-click {
          //background: #ebfaeb;
          // color: green;
          -webkit-animation: fade 0.4s ease-out;

          mat-icon {
            color: green;
          }
        }

        &.spam-click {
          //background: #ffebe6;
          // color: crimson;
          -webkit-animation: fade 0.4s ease-out;

          mat-icon {
            color: crimson;
          }
        }

        @keyframes fade {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
    }

    .icon {
      height: 14px;
      width: 14px;
      margin-right: 3px;
    }

    mat-divider {
      margin-top: 30px;
    }

    .footer {
      text-align: center;
      padding: 30px;
      padding-top: 15px;

      mat-icon {
        font-size: 18px;
      }
    }

    .pagination-table-wrapper {
      border-radius: 7px;
      background: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      .pagination-buttons {
        display: table;
        margin: 0 auto;
        padding-left: 15px;
        color: gray;
      }

      .table-wrapper {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        background-color: white;
        overflow: auto;

        mat-table {
          box-shadow: none;

          .ip-detail-link {
            font-weight: bold;
            padding-left: 2px;
            font-size: $primaryFontSize - 2;
            transition: 0.2s;

            &:hover {
              background: rgba(3, 155, 229, 0.05);
            }
          }

          mat-header-cell:nth-child(1),
          mat-cell:nth-child(1) {
            flex: 0 0 10%;
          }

          mat-header-cell:nth-child(2),
          mat-cell:nth-child(2),
          mat-header-cell:nth-child(5),
          mat-cell:nth-child(5),
          mat-header-cell:nth-child(6),
          mat-cell:nth-child(6),
          mat-header-cell:nth-child(7),
          mat-cell:nth-child(7) {
            flex: 0 0 8%;
          }

          svg {
            margin-right: 5px;
            font-size: $primaryFontSize !important;
          }

          mat-cell:nth-child(6) {
            .fa-windows {
              color: #00baee;
            }
            .fa-apple {
              color: silver;
            }
            .fa-android {
              color: #44b543;
            }
            .fa-linux {
              color: gray;
            }
            .fa-ubuntu {
              color: darkorange;
            }
          }

          mat-cell:nth-child(7) {
            .fa-edge {
              color: #1a65bd;
            }
            .fa-firefox-browser {
              color: darkorange;
            }
            .fa-chrome {
              color: #44b543;
              &.chromium-icon {
                color: skyblue;
              }
            }
            .fa-safari {
              color: #00baee;
            }
            .fa-internet-explorer {
              color: #00baee;
            }
            .fa-opera {
              color: crimson;
            }
          }

          mat-header-cell:nth-child(3),
          mat-cell:nth-child(3),
          mat-header-cell:nth-child(11),
          mat-cell:nth-child(11) {
            justify-content: center;
          }

          mat-cell {
            mat-icon {
              font-size: 14px;
              margin-right: -5px;
              margin-top: 8px;
            }
          }

          mat-header-cell:nth-child(12),
          mat-cell:nth-child(12),
          mat-header-cell:nth-child(13),
          mat-cell:nth-child(13),
          mat-header-cell:nth-child(14),
          mat-cell:nth-child(14) {
            flex: 0 0 6%;
            justify-content: center;
          }

          mat-header-cell:nth-child(8),
          mat-cell:nth-child(8) {
            justify-content: center;
          }

          mat-header-row,
          mat-row {
            min-width: 1200px;
            width: 100%;
          }

          mat-row {
            transition: 0.2s;

            &:nth-child(odd) {
              background: whitesmoke;
            }

            &:hover {
              background-color: rgba(3, 155, 229, 0.05);
            }

            -webkit-animation: rowAppearance 0.4s linear;
            @keyframes rowAppearance {
              from {
                opacity: 0;
              }
              to {
                opacity: 1;
              }
            }
          }

          mat-header-cell {
            background: whitesmoke;
            color: rgba(0, 0, 0, 0.7);
            font-weight: bold;
          }

          mat-header-cell,
          mat-cell {
            font-size: $primaryFontSize - 2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      padding: 20px 20px 20vh 20px;
      height: 45vh;
      text-align: center;
    }
    .inner {
      margin: 30px 10px 10px 10px;
      padding: 15px;

      .statistic {
        .section {
          padding: 10px;
          padding-left: 20px;
          justify-content: center !important;
          align-items: center !important;
          mat-icon {
            font-size: 30px !important;
            margin-right: 15px;
          }

          .number {
            font-size: 18px;
          }
        }
      }

      .footer {
        mat-divider {
          margin-top: 40px;
        }
      }
    }
  }
}
