.container {
  width: 100%;

  .title1 {
    padding: 145px 30px 52px 30px;

    background: url("../../../../assets/images/backgrounds/dark-material-bg.jpg");
    background-size: 100% 100%;
    color: white;

    font-size: 16px;
    font-weight: bold;
  }

  .inner {
    .icon {
      height: 22px;
      width: 22px;
      margin-right: 5px;
    }

    .pagination-buttons {
      display: table;
      margin: 0 auto;
      padding-left: 10px;
      padding-bottom: 30px;
      color: gray;
    }

    .footer {
      text-align: center;
      padding: 30px;
      padding-top: 10px;
    }

    .table-wrapper {
      height: auto;
      background-color: white;
      box-shadow: 1px 1px 4px silver;
      margin-top: -18px;
      overflow: auto;
      overflow-y: hidden;

      mat-table {
        box-shadow: none;

        mat-header-cell:nth-child(1),
        mat-cell:nth-child(1) {
          flex: 0 0 15%;
        }

        mat-header-cell:nth-child(3),
        mat-cell:nth-child(3) {
          justify-content: center;
        }

        mat-header-cell:nth-child(4),
        mat-cell:nth-child(4),
        mat-header-cell:nth-child(5),
        mat-cell:nth-child(5),
        mat-header-cell:nth-child(6),
        mat-cell:nth-child(6) {
          flex: 0 0 11%;
        }

        mat-header-cell:nth-child(7),
        mat-cell:nth-child(7) {
          justify-content: center;
        }

        mat-header-row,
        mat-row {
          min-width: 1250px;
          width: 100%;
        }

        mat-row {
          transition: 0.2s;
        }

        mat-header-cell {
          background: #039be5;
          color: white;
        }

        mat-row:hover {
          background-color: rgba(3, 155, 229, 0.1);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
}
