<!-- <h1 matDialogTitle class="red-A700">Lỗi</h1> -->
<div style="text-align: center; margin-bottom: 15px">
  <mat-icon class="s-60" style="color: crimson">highlight_off</mat-icon>
</div>
<div mat-dialog-content style="text-align: center" [innerHTML]="errorMessages.join('<br/>')">
</div>
<div mat-dialog-content style="text-align: center" *ngIf="contact">
  Vui lòng liên hệ <a href="tel:0937573139" style="color: #40a5ec; font-weight: bold">SĐT, Zalo,
    Viber 093.757.3139</a> để được hỗ trợ thêm.
</div>
<div mat-dialog-actions [fxLayoutAlign]="'center center'" class="pt-24">
  <button mat-raised-button (click)="dialogRef.close(false)">Đóng</button>
</div>