.input-side {
}
.container {
  padding: 30px;
  width: 100%;
}
.submit-button {
  height: 58px;
  margin: 2px;
  margin-top: 4px;
  margin-right: 0;
  width: 120px;
}
.step {
  color: #039be5;
}
.box {
  padding: 30px;
}
.loginWithGoogle {
  display: table;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;

  button {
    color: darkred;
    background: #ffffff; 
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    &:disabled {
      img {
        opacity: 0.4;
      }
    } 
  }

  .note {
    font-size: 12px;
    font-style: italic;
  }
}
.g-sign-in-button {
  width: 250px;
  background: #2d77f3;
}
.g-sign-in-button {
  height: 40px;
  border-width: 0;
  border-radius: 2px;
  white-space: nowrap;
  /* box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05); */
  /* transition-property: background-color, box-shadow; */
  /* transition-duration: 150ms; */
  /* transition-timing-function: ease-in-out; */
  padding: 0;
  margin: 10px;
  display: inline-block;
  width: 210px;
  background-color: #4285f4;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
}

.text-container {
  display: inline-block;
  vertical-align: middle;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.21px;
  font-size: 14px;
  border: none;
  text-align: center;
  width: 166px;
  padding-top: 10px;
}

@media screen and(max-width: 600px) {
  .container{
    padding: 15px;
  }
  .submit-button {
    padding: 0;
    padding-right: 5px;
    font-size: 12px;
  }
}
