.container {
  width: 100%;
  background: whitesmoke;

  .title {
    background-color: #ffffb5;
    background-image: linear-gradient(315deg, #ffffb5 0%, #247ba0 74%);
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    font-weight: bold;
    color: white;
    //padding: 94px 30px 27px 30px;
    padding: 30px 30px 25px 30px;
  }

  .inner {
    padding: 30px;

    .input-side {
    }
    .submit-button {
      height: 58px;
      margin: 2px;
      margin-top: 4px;
      margin-right: 0;
      width: 120px;
    }

    .message {
      border: 1px solid #d2d2d2;
      box-shadow: 1px 1px 2px silver;
      background-color: white;
      min-width: 350px;
      margin-bottom: 10px;

      .message-title {
        padding: 10px;
        font-size: 18px;
        font-style: tahoma;

        img {
          height: 40px;
          width: 40px;
          margin-right: 10px;
        }
      }

      .message-text {
        padding: 10px;
      }
    }

    .step {
      color: #40a5ec;
    }
    .box {
      padding: 30px;
    }
    .loginWithGoogle {
      display: table;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 10px;

      button {
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;

        img {
          height: 24px;
          width: 24px;
          margin-top: -5px;
          margin-right: 5px;
        }

        &:disabled {
          img {
            opacity: 0.4;
          }
        }
      }

      .connect-by-emai-button {
        background: white;
        color: rgba(0, 0, 0, 0.6);
      }

      .disconnect-by-email-button {
        background: #cf493c;
        color: white;
      }

      .note {
        font-size: 12px;
        font-style: italic;
      }
    }

    .limit-account-notify {
      text-align: center;
      width: 100%;
      background: lightyellow;
      padding: 20px;
      margin-top: 40px;
      border-left: 4px solid darkorange;
      border-radius: 5px;
    }

    .ads-account-list {
      padding-top: 20px;

      -webkit-animation: tableAni 0.4s ease-out;
      @keyframes tableAni {
        from {
          transform: translateY(100vh);
        }
        to {
          transform: translateY(0);
        }
      }

      .div-connect-account-button {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;

        button {
          mat-icon {
            font-size: 20px;
          }
        }
      }

      .ads-account-list-title {
        padding-top: 10px;
        padding-bottom: 10px;

        span {
          font-weight: bold;
          font-size: 13px;
          color: rgba(0, 0, 0, 0.8);
        }

        img {
          width: 16px;
          height: 16px;
          margin-right: 7px;
        }
      }

      .ads-account-list-wrapper {
        max-height: 300px;
        overflow: auto;
        background-color: white;
        box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);

        mat-table {
          box-shadow: none;

          mat-row {
            transition: 0.2s;
            -webkit-animation: rowAppearance 0.4s linear;
            @keyframes rowAppearance {
              from {
                opacity: 0;
              }
              to {
                opacity: 1;
              }
            }

            &:hover {
              background-color: rgba(3, 155, 229, 0.05);
            }
          }

          mat-cell {
            color: #40a5ec;
          }

          .disabled-cell {
            color: silver;
          }

          mat-header-cell:nth-child(1),
          mat-cell:nth-child(1) {
            flex: 0 0 12%;
          }

          mat-header-cell:last-child,
          mat-cell:last-child {
            display: flex;
            justify-content: center;
          }

          mat-header-cell {
            background: #40a5ec;
            color: white;
            font-weight: bold;
          }

          mat-header-cell,
          mat-cell {
            font-size: 12px;
          }
        }
      }
    }

    .g-sign-in-button {
      width: 250px;
      background: #2d77f3;
    }
    .g-sign-in-button {
      height: 40px;
      border-width: 0;
      border-radius: 2px;
      white-space: nowrap;
      /* box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05); */
      /* transition-property: background-color, box-shadow; */
      /* transition-duration: 150ms; */
      /* transition-timing-function: ease-in-out; */
      padding: 0;
      margin: 10px;
      display: inline-block;
      width: 210px;
      background-color: #4285f4;
      color: #fff;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
      transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
    }

    .text-container {
      display: inline-block;
      vertical-align: middle;
      font-family: "Roboto", arial, sans-serif;
      font-weight: 500;
      letter-spacing: 0.21px;
      font-size: 14px;
      border: none;
      text-align: center;
      width: 166px;
      padding-top: 10px;
    }

    .instruction-steps {
      margin-top: 40px;

      -webkit-animation: instructionAni 0.4s ease-out;
      @keyframes instructionAni {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .instruction-step {
        font-size: 13px;

        .step-highline {
          color: #40a5ec;
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      img {
        margin: 15px;
        box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
      }

      .instruction-image {
        height: 50%;
        width: 50%;
      }
    }
  }
}

@media screen and(max-width: 600px) {
  .container {
    .inner {
      padding: 15px;

      .instruction-steps {
        margin-top: 10px;
        text-align: justify;

        img {
          margin: 10px;
          height: 90% !important;
          width: 90% !important;
        }
      }
    }
    .submit-button {
      padding: 0;
      padding-right: 5px;
      font-size: 12px;
    }
  }
}
