.container {
  width: 100%;
  height: 90vh;

  .title1 {
    padding: 60px 30px 0 45px;
    height: 27vh;
    background-color: #00a1e0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%2300a1e0' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%231095d2' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%231889c3' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%231c7eb5' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%231e72a7' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%231f6799' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: bold;

    .account-id {
      color: yellow;
      margin-left: 5px;
    }
  }

  .inner {
    padding: 15px 30px 30px 30px;
    margin: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    border-radius: 7px;
    position: relative;
    top: -15vh;

    -webkit-animation: formAni 0.4s ease-out;
    animation: formAni 0.4s ease-out;
    @keyframes formAni {
      from {
        transform: translateY(100vh);
      }
      to {
        transform: translateY(0);
      }
    }

    .highline {
      font-weight: bold;
      color: #40a5ec;
    }

    .title2 {
      padding-top: 30px;
      padding-bottom: 15px;

      font-weight: bold;
    }

    .notification {
      text-align: justify;
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.7);
    }

    .button-area {
      margin-top: 15px;
    }

    .step {
      font-weight: bold;
      font-size: 16px;
      margin-left: 5px;
      margin-right: 10px;
    }

    .banned-ip-info {
      margin-top: 30px;
      padding: 20px;

      background-color: #eee;
      border-left: 5px solid darkorange;
    }

    .success-button {
      background-color: #4bb543;
      color: white;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      text-align: center;
      padding: 45px 20px 20vh 20px;
      height: 33vh;
    }
    .inner {
      padding: 15px;
      margin: 10px;

      .submit-button {
        font-size: 12px;
      }
    }
  }
}
