<div class="container">

  <div class="main-title">
    HƯỚNG DẪN THANH TOÁN & NÂNG CẤP TÀI KHOẢN <span
      style="color: yellow; font-weight: bolder; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">VIP</span>
  </div>

  <div class="inner">
    <p>Để nâng cấp VIP cho tài khoản Google Ads của bạn, vui lòng
      lựa thực hiện theo hướng dẫn bên
      dưới.</p>

    <div class="choose-accounts-websites">

      <div class="choose-accounts-websites-main" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0"
        fxLayoutGap="40px" fxLayoutAlign="start">

        <div class="accounts" fxFlex="50">
          <mat-radio-group aria-labelledby="accounts-label" class="example-radio-group" [(ngModel)]="selectedAccount">
            <label id="accounts-label">
              <img src="../../../assets/icons/gg-ads.png" alt="" class="ggads-icon">
              Tài khoản Google Ads của bạn
            </label>
            <mat-radio-button class="example-radio-button" *ngFor="let account of accounts" [value]="account.adsId"
              (change)="onSelectAccount($event)" fxLayout="row">
              <span *ngIf="account.isFree == true">{{account.adsId}}</span>
              <span *ngIf="account.isFree == false" class="vip-account">
                <span class="vip-account">{{account.adsId}}</span>
                <span class="vip-label" style="margin-left: 10px">VIP</span>
                <span class="vip-expiration"
                  *ngIf="selectedAccount && websites[account.adsId].length > 0">({{websites[account.adsId][0].expiredAt | date: 'dd/MM/yyyy'}})</span>
              </span>
            </mat-radio-button>
          </mat-radio-group>
          <span style="color: gray" *ngIf="accounts.length === 0 && !isProcessing">Bạn chưa kết nối tài khoản nào. Vui
            lòng kết nối <a routerLink="/them-tai-khoan-moi" style="text-decoration: underline !important">tại
              đây</a>!</span>
        </div>

        <div class="websites">
          <mat-radio-group aria-labelledby="websites-label" class="example-radio-group" [(ngModel)]="selectedWebsite">
            <label id="websites-label">Website của tài khoản</label>
            <mat-radio-button class="example-radio-button"
              *ngFor="let website of websites[selectedAccount]; let i = index" [value]="website.domain"
              (change)="onSelectAccountWebsite(i)" fxLayout="row">
              <a href="{{website.domain}}" target="_blank">{{website.domain}}</a>
              <span *ngIf="website.isExpired === false">
                <span class="vip-label" style="margin-left: 10px">VIP</span>
                <span class="vip-expiration">({{website.expiredAt | date: 'dd/MM/yyyy'}})</span>
              </span>
              <span *ngIf="website.isExpired === true" class="free-label" style="margin-left: 10px">FREE</span>
            </mat-radio-button>
          </mat-radio-group>
          <span *ngIf="!selectedWebsite && !isProcessing && accounts.length > 0" style="color: gray">Tài khoản này hiện
            chưa có website nào.
            Vui lòng thêm <a [routerLink]="['/quan-ly-website', selectedAccountId]"
              style="text-decoration: underline !important">tại
              đây</a>!</span>
        </div>

      </div>

      <mat-divider></mat-divider>

      <!--<p class="payment-title">Vui lòng lựa chọn hình thức thanh toán</p>-->
      <!--<p class="payment-buttons" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">-->
      <!--<button mat-raised-button color="accent" matTooltip="Sắp ra mắt" disabled>CHUYỂN KHOẢN-->
      <!--VCB</button>-->
      <!--<button mat-raised-button color="basic" matTooltip="Sắp ra mắt" disabled>-->
      <!--<img src="https://seeklogo.net/wp-content/uploads/2015/11/paypal-logo-preview.png" class="paypal-logo" alt="">-->
      <!--</button>-->
      <!--</p>-->

      <div class="website-code" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" *ngIf="selectedWebsite">
        <div class="website-code-title">Vui lòng chuyển khoản theo nội dung sau:</div>
        <div class="website-code-content" [(ngModel)]="selectedWebsiteCode" ngDefaultControl>{{selectedWebsiteCode}}
        </div>
      </div>

      <p class="advisement">
        Nếu bạn mua <span style="color: #039be5; font-weight: bold">Gói 1 tháng</span>, vui lòng chuyển khoản số tiền
        <span style="color: crimson; font-weight: bold">500.000
          VNĐ</span>. Các gói
        khác vui lòng xem số tiền bên dưới.
      </p>

    </div>

    <div class="instruction">
      <p style="font-size: 16px; font-weight: bold">Hướng dẫn</p>
      <mat-divider></mat-divider>
      <br>
      <mat-icon style="font-size: 20px; margin-top: 5px">keyboard_arrow_right</mat-icon>
      <span style="color: red; font-weight: bold">"Chuyển khoản"</span> theo nội dung bên trên. Hệ
      thống sẽ tự động kiểm tra và nâng cấp VIP cho bạn.
      <br>
      <mat-icon style="font-size: 20px; margin-top: 5px">keyboard_arrow_right</mat-icon> Nếu gói VIP đang còn thời hạn,
      hệ thống sẽ tự
      động thêm thời hạn VIP cho bạn.
    </div>

    <div class="packages">
      <p class="packages-title">
        Vui lòng chuyển khoản nâng cấp VIP theo số tiền và thông tin sau
      </p>

      <div class="packages-table">
        <mat-table [dataSource]="packages" class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Gói </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <!-- <img src="../../../assets/icons/golden-shield.png" alt="" class="vip-logo"> -->
              <span class="vip-label" style="margin-right: 10px">VIP</span>
              <span style="color: #039be5; font-weight: bold">{{element.name}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Số tiền </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.price}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="recommendance">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngIf="element.recommendance" style="font-weight: bold">
                <span *ngIf="element.recommendance === 'Khuyên dùng'" style="color: #44b543">
                  {{element.recommendance}} - {{element.discount}}
                </span>
                <span *ngIf="element.recommendance === 'Yêu thích'" style="color: deeppink">
                  {{element.recommendance}} - {{element.discount}}
                </span>
                <span *ngIf="element.recommendance === 'HOT'" style="color: crimson">
                  <span class="packages-vip-label"
                    style="background: crimson; color: white; font-weight: bold">{{element.recommendance}}</span>{{element.discount}}
                </span>
              </span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="packagesCols; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: packagesCols;"></mat-row>
        </mat-table>
      </div>

    </div>

    <div class="casher">
      <p class="casher-title">Thông tin tài khoản nhận tiền</p>
      <mat-divider></mat-divider>
      <ul>
        <li>
          <b>Ngân hàng:</b> Vietcombank
        </li>
        <li>
          <b>Chủ tài khoản:</b> Nguyen Binh Long
        </li>
        <li>
          <b>Số tài khoản:</b> 0331000419983
        </li>
        <li>
          <b>Chi nhánh:</b> VCB Chi nhánh Bến Thành Tp.HCM
        </li>
      </ul>
    </div>

  </div>

</div>