.homepage {
  font-size: 16px;
  width: 100%;
  background: url("../../assets/images/backgrounds/Abstract-Blue-Futuristic-Wallpaper.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;

  .main-content {
    button {
      transition: 0.2s;

      &:hover {
        transform: scale(1.05, 1.05);
      }
    }

    .banner-container {
      background-image: url("../../assets/images/backgrounds/shutterstock_503902966-Converted-01x1200.jpg");
      //background-attachment: fixed;
      background-position: center center;
      background-size: 100% 100%;
      box-shadow: 0 2px 8px black;

      .banner {
        background: rgba(0, 0, 0, 0.55);
        color: white;
        padding: 90px 30px 70px 30px;
        position: relative;
        z-index: 100;

        .app-title {
          font-size: 35px !important;
          text-shadow: 1px 2px 2px black;
          font-weight: bolder;
          color: skyblue;
          font-family: "Segoe UI";
          -webkit-animation: titleAppearance 0.8s linear;
        }

        @keyframes titleAppearance {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        .logo {
          width: 180px;
          margin: 32px auto;
          -webkit-animation: logoScale 0.2s linear;
          transition: 0.2s;

          &:hover {
            transform: scale(1.05, 1.05);
          }

          @keyframes logoScale {
            from {
              -webkit-transform: scale(0, 0);
            }
            to {
              -webkit-transform: scale(1, 1);
            }
          }

          img {
            filter: drop-shadow(0px 1px 5px black);
          }
        }

        .title0 {
          padding-top: 30px;
        }

        .title1 {
          font-size: 25px;
          width: 100%;
          text-align: center;
        }

        .title2 {
          width: 100%;
          text-align: center;
          text-shadow: 1px 1px 4px black;
          font-size: 18px;
          -webkit-animation: titleAppearance 0.8s linear;
        }

        .login-with-google {
          text-align: center;
          padding: 20px;

          img {
            width: 24px;
          }

          .login-google-button {
            transition: 0.2s;

            &:hover {
              transform: scale(1.05, 1.05);
            }
          }

          .access-system-button {
            background: #44b543;
            color: white;
            transition: 0.2s;

            &:hover {
              transform: scale(1.05, 1.05);
            }
          }
        }
      }
    }

    .table {
      padding: 30px;
      padding-top: 50px;
      padding-bottom: 50px;
      background: rgba(0, 0, 0, 0.5);

      .table-title {
        padding: 20px;
        text-align: center;
        background-color: whitesmoke;
        box-shadow: 1px 1px 4px silver;
      }

      .table-wrapper {
        overflow: auto;
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.8));

        .network-logo,
        .mobifone,
        .fpt {
          height: 20px;
          width: 80px;
        }

        .vietnamobile {
          height: 25px;
        }

        .vnpt {
          height: 45px;
          width: 100px;
          margin-left: -15px;
          margin-top: -10px;
        }

        .fpt {
          height: 30px;
        }

        .icon {
          height: 22px;
          width: 22px;
          margin-right: 5px;
        }

        .location-icon {
          height: 36px;
          width: 36px;
          margin-left: -10px;
        }

        mat-table {
          width: 100%;
          background: rgba(3, 155, 229, 0.1);

          mat-header-row {
            background: rgba(3, 155, 229, 0.3);
          }

          mat-header-cell {
            color: white;
          }

          mat-cell {
            color: white;
          }

          mat-row {
            transition: 0.2s;
            -webkit-animation: rowAppearance 0.4s linear;

            // &:nth-child(odd) {
            //   background-color: whitesmoke;
            // }

            &:hover {
              //background-color: rgba(3, 155, 229, 0.1);
              background: rgba(3, 155, 229, 0.18);
            }
          }

          @keyframes rowAppearance {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }

          mat-header-cell:nth-child(4),
          mat-cell:nth-child(4) {
            flex: 0 0 17%;
          }

          mat-header-row,
          mat-row {
            min-width: 1300px;
            width: 100%;
          }
        }
      }
    }

    .instruction-container {
      .instruction {
        padding: 30px;
        background: rgba(3, 155, 229, 0.2);
        //background: rgba(125, 125, 125, 0.2);

        .steps-main-title {
          font-size: 25px;
          width: 100%;
          text-align: center;
          color: white;
          text-shadow: 1px 1px 4px black;
        }

        .demo-video {
          text-align: center;

          button {
            border-radius: 15px;
          }
        }

        .step-wrapper {
          padding-top: 30px;
          padding-bottom: 30px;

          .step {
            background: rgba(0, 0, 0, 0.4);
            text-shadow: 1px 1px 4px black;
            color: white;
            border-radius: 5px;
            box-shadow: 1px 1px 4px black;
            padding: 20px;
            transition: 0.2s;

            // &:nth-child(1) {
            //   background: rgba(68, 181, 67, 0.4);
            // }

            // &:nth-child(2) {
            //   background: rgba(3, 155, 229, 0.4);
            // }

            // &:nth-child(3) {
            //   background: rgba(255, 69, 0, 0.4);
            // }

            .step-image {
              height: 65%;
              background-color: #eee;

              img {
                width: 100%;
                height: 100%;
                cursor: pointer;
              }
            }

            .step-description {
              padding-top: 25px;
              text-align: justify;

              .step-name {
                font-size: 20px;
              }
            }
          }
        }

        .step:hover {
          transform: scale(1.01, 1.01);
        }
      }
    }

    .feature-container {
      background: url("../../assets/images/backgrounds/dell-background.jpg");
      background-size: 100% 100%;

      .feature {
        background: rgba(0, 0, 0, 0.6);
        padding: 30px;
        padding-top: 70px;
        padding-bottom: 70px;
        color: white;

        .overview {
          padding-top: 40px;
          padding-right: 80px;
          text-shadow: 1px 1px 4px black;

          .overview-title {
            font-size: 25px;

            img {
              width: 52px;
              height: 48px;
              margin-right: 5px;
              margin-top: -20px;
              filter: drop-shadow(0px 1px 4px gold);
            }
          }

          .overview-info {
            line-height: 40px;
            text-align: justify;
          }

          .trial {
            padding-top: 20px;

            button {
              background-color: #44b543;
              color: white;
              border-radius: 15px;
            }
          }
        }
      }
    }

    .feature-item {
      background: rgba(3, 155, 229, 0.2);
      color: white;
      border-radius: 5px;
      filter: drop-shadow(0px 1px 4px black);
      //text-shadow: 1px 1px 4px black;
      padding: 20px;
      padding-top: 30px;
      transition: 0.2s;
      text-align: justify;

      mat-icon {
      }
    }

    .feature-item:hover {
      transform: scale(1.01, 1.01);
    }

    .benefit-container {
      // background: url("../../assets/images/backgrounds/45760598514_3da4c18fa7_b.jpg");
      // background-size: 100% 100%;

      .benefit {
        text-align: center;
        padding: 60px 30px 100px 30px;
        color: white;
        //background: rgba(125, 125, 125, 0.2);
        background: rgba(3, 155, 229, 0.2);
        text-shadow: 1px 1px 4px black;

        .main-benefit {
          padding-top: 60px;
        }

        .benefit-title {
          font-size: 30px;
        }

        .benefit-symbol {
          img {
            width: 150px;
            height: 150px;
            transition: 0.2s;
            filter: drop-shadow(0px 1px 5px black);

            &:hover {
              transform: scale(1.05, 1.05);
            }
          }
        }
      }
    }
  }
  .footer {
    padding: 60px;
    padding-bottom: 40px;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.6);
    color: silver;
    text-align: justify;

    .footer-title1 {
      font-size: 35px;
      font-family: "Courier New";
    }

    .footer-divider {
      margin-top: 30px;
      margin-bottom: 30px;
      border: 0.5px solid #eee;
    }

    .view-more-button {
      padding-top: 20px;

      button {
        border-radius: 15px;
        transition: 0.2s;

        &:hover {
          transform: scale(1.05, 1.05);
        }
      }
    }

    mat-icon {
      color: silver;
      font-size: 24px !important;
    }

    .footer-col {
      padding-bottom: 20px;
      text-align: justify;
    }
  }

  .footer-contact-container {
    background-color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0px 1px 4px black);
    .footer-contact {
      background: rgba(3, 155, 229, 0.4);
      color: white;
      padding: 15px;
      text-align: center;
      font-weight: bold;
    }
  }

  .contact {
    //background: #1E2129;
    background: #013a55;
    filter: drop-shadow(0px 1px 4px black);
    color: silver;
    font-weight: bold;
    position: fixed;
    z-index: 200;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 15px;
    -webkit-animation: contactAppearance 0.4s linear;
  }

  .topbar-container {
    //background: rgba(0, 0, 0, 0.6);

    .topbar {
      //background: #1E2129;
      //background: rgba(3, 155, 229, 0.4);
      background: url("../../assets/images/backgrounds/simple-color-wallpaper_623648412.jpg");
      background-size: 100% 100%;
      filter: drop-shadow(0px 1px 4px black);
      color: #eee;
      text-shadow: 1px 1px 4px black;
      font-weight: bold;
      position: fixed;
      z-index: 200;
      width: 100%;
      top: 0;
      padding: 15px;
      padding-right: 30px;
      -webkit-animation: contactAppearance 0.2s linear;

      .topbar-logo {
        height: 50px;
        width: 50px;
        margin-right: 5px;
        filter: drop-shadow(0px 1px 2px black);
      }

      .topbar-access-system-button {
        background: #44b543;
        color: white;
      }
    }
  }

  @keyframes contactAppearance {
    from {
      top: -100px;
    }
    to {
      top: 0;
    }
  }

  .none-displayed {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .homepage {
    font-size: 14px;

    .topbar-container {
      .topbar {
        .topbar-logo {
          height: 36px;
          width: 36px;
        }
      }
    }

    .contact {
      font-size: 12px;
    }

    .footer-contact {
      font-size: 12px;
    }

    .main-content {
      .banner-container {
        .banner {
          .app-title {
            font-size: 20px !important;
          }

          .logo {
            width: 140px;
            margin: 32px auto;
          }

          .login-with-google {
            .access-system-button {
              font-size: 11px;
              padding-left: 5px;
              padding-right: 0;
              margin-left: -15px;
            }
          }
        }
      }

      .table {
        padding: 10px;
        padding-top: 30px;

        .table-title {
          font-size: 12px;
        }
      }

      .instruction-container {
        .instruction {
          padding: 10px;
          padding-top: 20px;

          .steps-main-title {
            padding: 10px 10px 0 20px;
            font-size: 18px;
          }

          .step-wrapper {
            .step {
              .step-description {
                .step-name {
                  font-size: 18px;
                }
              }
              .step-image {
                height: 50%;
              }
            }
          }
        }
      }

      .feature-container {
        .feature {
          padding: 10px;
          padding-bottom: 30px;
          padding-top: 30px;

          .overview {
            padding: 0;

            .overview-title {
              font-size: 20px;

              img {
                margin-right: 5px;
                margin-top: -20px;
              }
            }

            .overview-info {
              line-height: 25px;
            }

            .trial {
              padding-top: 20px;
              padding-bottom: 20px;
            }
          }
        }
      }

      .benefit-container {
        .benefit {
          .main-benefit {
            padding-top: 30px;
          }

          .benefit-title {
            font-size: 16px !important;
          }

          .benefit-symbol {
            img {
              width: 70px;
              height: 70px;
            }
          }
        }
      }
    }

    .footer {
      padding: 20px;
      padding-top: 40px;

      .view-more-button {
        padding-bottom: 20px;
      }
    }
  }
}
