.homepage {
  font-size: 14px;
  width: 100%;

  background: url("../../assets/images/backgrounds/loading-bg1.jpg");
  background-size: 100% 100%;
  background-position: center center;

  background-attachment: fixed;

  .main-content {
    button {
      transition: 0.2s;

      &:hover {
        transform: scale(1.05, 1.05);
      }
    }

    .shiny {
      color: #f5c21b;
      background: -webkit-gradient(linear, left top, left bottom, from(#f5c21b), to(#d17000));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 30px !important;
      font-weight: 900;
      position: relative;
      text-transform: uppercase;
    }

    .shiny::before {
      // background-position: -180px;
      -webkit-animation: flare 2s infinite;
      -webkit-animation-timing-function: linear;
      background-image: linear-gradient(
        65deg,
        transparent 20%,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.3) 27%,
        transparent 27%,
        transparent 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      content: "Chặn Click Ảo 2019 - Giảm đến 50% phí quảng cáo Google Ads";
      color: #fff;
      display: block;
      // padding-right: 140px;
      position: absolute;
    }

    .shiny::after {
      // content: "Chặn Click Ảo 2019 - Giảm đến 50% phí quảng cáo Google Ads";
      color: #fff;
      display: block;
      position: absolute;
      text-shadow: 0 1px #6e4414, 0 2px #6e4414, 0 3px #6e4414, 0 4px #6e4414, 0 5px #6e4414, 0 6px #6e4414,
        0 7px #6e4414, 0 8px #6e4414, 0 9px #6e4414, 0 10px #6e4414;
      top: 0;
      z-index: -1;
    }

    .inner-shiny::after,
    .inner-shiny::before {
      -webkit-animation: sparkle 3s infinite;
      -webkit-animation-timing-function: linear;
      background: #fff;
      border-radius: 100%;
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
      content: "Chặn Click Ảo 2019 - Giảm đến 50% phí quảng cáo Google Ads";
      display: block;
      height: 10px;
      opacity: 0.7;
      position: absolute;
      width: 10px;
    }

    .inner-shiny::before {
      -webkit-animation-delay: 0.2s;
      height: 7px;
      left: 0.12em;
      top: 0.8em;
      width: 7px;
    }

    .inner-shiny::after {
      top: 0.32em;
      right: -5px;
    }

    .shiny2 {
      color: #f5c21b;
      background: -webkit-gradient(linear, left top, left bottom, from(#f5c21b), to(#d17000));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 26px !important;
      font-weight: 900;
      position: relative;
      text-transform: uppercase;
    }

    .shiny2::before {
      // background-position: -180px;
      -webkit-animation: flare 2s infinite;
      -webkit-animation-timing-function: linear;
      background-image: linear-gradient(
        65deg,
        transparent 20%,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.3) 27%,
        transparent 27%,
        transparent 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      content: "Lợi ích khi sử dụng chặn click ảo";
      color: #fff;
      display: block;
      // padding-right: 140px;
      position: absolute;
    }

    .shiny2::after {
      // content: "Chặn Click Ảo 2019 - Giảm đến 50% phí quảng cáo Google Ads";
      color: #fff;
      display: block;
      position: absolute;
      text-shadow: 0 1px #6e4414, 0 2px #6e4414, 0 3px #6e4414, 0 4px #6e4414, 0 5px #6e4414, 0 6px #6e4414,
        0 7px #6e4414, 0 8px #6e4414, 0 9px #6e4414, 0 10px #6e4414;
      top: 0;
      z-index: -1;
    }

    .inner-shiny2::after,
    .inner-shiny2::before {
      -webkit-animation: sparkle 3s infinite;
      -webkit-animation-timing-function: linear;
      background: #fff;
      border-radius: 100%;
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
      content: "Lợi ích khi sử dụng chặn click ảo";
      display: block;
      height: 10px;
      opacity: 0.7;
      position: absolute;
      width: 10px;
    }

    .inner-shiny2::before {
      -webkit-animation-delay: 0.2s;
      height: 7px;
      left: 0.12em;
      top: 0.8em;
      width: 7px;
    }

    .inner-shiny2::after {
      top: 0.32em;
      right: -5px;
    }

    @-webkit-keyframes flare {
      0% {
        background-position: -180px;
      }
      30% {
        background-position: 500px;
      }
      100% {
        background-position: 500px;
      }
    }

    @-webkit-keyframes sparkle {
      0% {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      40% {
        opacity: 0.8;
      }
      60% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    .banner-container {
      background-image: url("../../assets/images/backgrounds/cybersecurity-lock.jpg");
      background-attachment: fixed;
      background-position: left center;
      background-size: 100% 100%;

      .banner {
        background: rgba(0, 0, 0, 0.65);
        color: white;
        height: 85vh;
        position: relative;
        z-index: 100;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .decoration {
          position: absolute;
          top: 0;
          right: 0;
          opacity: 0.5;
        }

        .app-title {
          filter: drop-shadow(0px 1px 2px black);
          font-weight: bolder;
          font-family: "Poppins", sans-serif;

          background: rgba(255, 255, 255, 0.1);
          padding: 20px 0 20px 0;

          .insider {
            -webkit-animation: titleAppearance 1s ease-in;
          }
        }

        @keyframes titleAppearance {
          from {
            opacity: 0;
            transform: translateX(-800px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }

        .logo {
          width: 180px;
          margin: 52px auto;
          -webkit-animation: logoScale 0.4s linear;
          transition: 0.2s;
          display: none;

          &:hover {
            transform: scale(1.05, 1.05);
          }

          @keyframes logoScale {
            from {
              -webkit-transform: scale(0, 0);
            }
            to {
              -webkit-transform: scale(1, 1);
            }
          }

          img {
            filter: drop-shadow(0px 1px 5px black);
          }
        }

        .title0 {
          padding-top: 30px;
        }

        .title1 {
          font-size: 25px;
          width: 100%;
          text-align: center;
        }

        .title2 {
          width: 100%;
          text-align: center;
          text-shadow: 1px 1px 4px black;
          font-size: 16px;
          -webkit-animation: title2Appearance 1s ease-in;
        }

        @keyframes title2Appearance {
          from {
            opacity: 0;
            transform: translateX(800px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }

        .login-with-google {
          text-align: center;
          padding-top: 20px;

          .gg-icon {
            height: 18px;
            width: 18px;
            margin-top: -5px;
            margin-right: 2px;
          }

          .login-google-button {
          }

          .access-system-button {
            background: #44b543;
            color: white;
          }

          button {
            transition: 0.2s;
            -webkit-animation: buttonAppearance 1.2s ease-in;

            &:hover {
              transform: scale(1.05, 1.05);
            }
          }
        }
      }
    }

    @keyframes buttonAppearance {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .table {
      padding: 150px;
      padding-top: 50px;
      padding-bottom: 50px;
      background: rgba(0, 0, 0, 0.2);

      .table-title {
        padding: 20px;
        text-align: center;
        background-color: whitesmoke;
        box-shadow: 1px 1px 4px silver;
      }

      .table-wrapper {
        overflow: auto;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
        background: rgba(12, 20, 33, 1);
        background: -webkit-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
        background: -moz-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
        background: linear-gradient(to bottom right, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));

        .network-logo,
        .mobifone,
        .fpt {
          height: 20px;
          width: 80px;
        }

        .vietnamobile {
          height: 25px;
        }

        .vnpt {
          height: 45px;
          width: 100px;
          margin-left: -15px;
          margin-top: -10px;
        }

        .fpt {
          height: 30px;
        }

        .icon {
          height: 22px;
          width: 22px;
          margin-right: 5px;
        }

        .location-icon {
          height: 36px;
          width: 36px;
          margin-left: -10px;
        }

        mat-table {
          margin: 0 auto;
          display: table;
          width: 100%;
          background: rgba(3, 155, 229, 0.1);

          mat-header-row {
            background: rgba(0, 0, 0, 0.3);
          }

          mat-header-cell {
            color: white;
          }

          mat-cell {
            color: white;
          }

          mat-row {
            transition: 0.2s;
            -webkit-animation: rowAppearance 0.4s linear;

            // &:nth-child(odd) {
            //   background-color: whitesmoke;
            // }

            &:nth-child(odd) {
              background: rgba(0, 0, 0, 0.05);
            }

            &:hover {
              //background-color: rgba(3, 155, 229, 0.1);
              font-weight: bolder;

              mat-cell {
                color: orange !important;
              }
            }
          }

          @keyframes rowAppearance {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }

          mat-header-cell:nth-child(4),
          mat-cell:nth-child(4) {
            flex: 0 0 17%;
          }

          mat-cell:nth-child(2) {
            color: skyblue;
          }

          mat-header-row,
          mat-row {
            min-width: 850px;
            width: 100%;
          }
        }
      }
    }

    .instruction-container {
      .instruction {
        padding: 30px 150px 30px 150px;
        background: rgba(0, 0, 0, 0.2);

        .steps-main-title {
          font-size: 22px;
          width: 100%;
          text-align: center;
          color: #eee;
          text-shadow: 1px 1px 4px black;
          padding-bottom: 15px;
        }

        .demo-video {
          text-align: center;

          button {
            border-radius: 15px;
          }
        }

        .step-wrapper {
          padding-bottom: 30px;

          .step {
            background: rgba(12, 20, 33, 1);
            background: -webkit-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
            background: -moz-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
            background: linear-gradient(to bottom right, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
            text-shadow: 1px 1px 4px black;
            color: white;
            border-radius: 5px;
            box-shadow: 1px 1px 4px black;
            padding: 20px;
            transition: 0.2s;

            // &:nth-child(1) {
            //   background: rgba(68, 181, 67, 0.4);
            // }

            // &:nth-child(2) {
            //   background: rgba(3, 155, 229, 0.4);
            // }

            // &:nth-child(3) {
            //   background: rgba(255, 69, 0, 0.4);
            // }

            .step-image {
              height: 65%;
              background-color: #eee;

              img {
                width: 100%;
                height: 100%;
                cursor: pointer;
                pointer-events: none;
                filter: drop-shadow(1px 1px 2px black);
              }
            }

            .step-description {
              padding-top: 25px;
              text-align: justify;

              .step-name {
                font-size: 18px;
              }
            }
          }
        }

        .step:hover {
          transform: translateY(-10px);
        }
      }
    }

    .feature-container {
      background: url("../../assets/images/backgrounds/WindyImpeccableArkshell-size_restricted.gif");
      background-size: 100% 100%;
      background-attachment: fixed;

      .feature {
        background: rgba(0, 0, 0, 0.6);
        padding: 70px 150px 70px 150px;
        color: white;

        .overview {
          padding-top: 40px;
          padding-right: 80px;
          text-shadow: 1px 1px 4px black;

          .overview-title {
            font-size: 22px;

            img {
              width: 48px;
              height: 44px;
              margin-right: 5px;
              margin-top: -20px;
              filter: drop-shadow(0px 1px 4px gold);
            }
          }

          .overview-info {
            padding-top: 20px;
            line-height: 40px;
            text-align: justify;
          }

          .trial {
            padding-top: 20px;

            button {
              background-color: #44b543;
              color: white;
              border-radius: 15px;
            }
          }
        }
      }
    }

    .feature-item {
      //background: rgba(3, 155, 229, 0.25);
      background: rgba(12, 20, 33, 1);
      background: -webkit-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
      background: -moz-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
      background: linear-gradient(to bottom right, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
      color: white;
      border-radius: 5px;
      //filter: drop-shadow(0px 1px 4px black);
      //text-shadow: 1px 1px 4px black;
      padding: 10px;
      padding-top: 25px;
      padding-bottom: 15px;
      transition: 0.2s;
      text-align: justify;
      min-height: 100px;

      mat-icon {
        color: skyblue;
        margin-top: -5px;
      }

      p {
        font-size: 13px;
        color: #eee;
      }

      img {
        height: 55px;
        max-width: 170px;
        margin-left: 5px;
      }
    }

    .feature-item:hover {
      // transform: scale(1.02, 1.02);
      // p {
      //   color: white;
      // }
      color: orange;
    }

    .benefit-container {
      // background: url("../../assets/images/backgrounds/45760598514_3da4c18fa7_b.jpg");
      // background-size: 100% 100%;

      .benefit {
        background: rgba(0, 0, 0, 0.2);
        text-align: center;
        padding: 90px 150px 90px 150px;
        color: white;
        //background: rgba(125, 125, 125, 0.2);
        //background: rgba(3, 155, 229, 0.2);
        //background: url("../../assets/images/backgrounds/QL5I0O.jpg");

        .benefit-title {
          filter: drop-shadow(0px 1px 2px black);
        }

        .secondary-benefit-title {
          font-weight: bold;
        }

        .main-benefit {
          padding-top: 60px;
        }

        .benefit-symbol {
          img {
            width: 150px;
            height: 150px;
            transition: 0.2s;
            filter: drop-shadow(0px 1px 2px black);

            &:hover {
              transform: scale(1.05, 1.05);
            }
          }
        }
      }
    }
  }
  .footer {
    padding: 100px 150px 40px 150px;
    //background: rgba(0, 0, 0, 0.6);
    background: rgba(12, 20, 33, 1);
    background: -webkit-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
    background: -moz-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
    background: linear-gradient(to bottom right, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
    color: silver;
    text-align: justify;

    .footer-title1 {
      font-size: 35px;
      font-family: "Courier New";
    }

    .footer-divider {
      margin-top: 30px;
      margin-bottom: 30px;
      border: 0.5px solid #eee;
    }

    .view-more-button {
      padding-top: 20px;

      button {
        border-radius: 15px;
        transition: 0.2s;

        &:hover {
          transform: scale(1.05, 1.05);
        }
      }
    }

    mat-icon {
      color: silver;
      font-size: 24px !important;
    }

    .footer-col {
      padding-bottom: 20px;
      text-align: justify;
    }
  }

  .footer-contact-container {
    //background-color: rgba(0, 0, 0, 0.3);
    //filter: drop-shadow(0px 1px 4px black);
    .footer-contact {
      background: rgba(12, 20, 33, 1);
      background: -webkit-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
      background: -moz-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
      background: linear-gradient(to bottom right, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
      color: white;
      padding: 15px;
      text-align: center;
      font-weight: bold;
    }
  }

  .contact {
    background: rgba(12, 20, 33, 1);
    background: -webkit-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
    background: -moz-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
    background: linear-gradient(to bottom right, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
    // background: url("../../assets/images/backgrounds/simple-color-wallpaper_623648412.jpg");
    // background-size: 100% 100%;
    filter: drop-shadow(0px 1px 2px black);
    color: silver;
    font-weight: bold;
    position: fixed;
    z-index: 200;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 15px;
    -webkit-animation: contactAppearance 0.4s linear;
  }

  .topbar-container {
    //background: rgba(0, 0, 0, 0.6);

    .topbar2 {
      position: fixed !important;
      background: rgba(12, 20, 33, 1) !important;
      background: -webkit-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1)) !important;
      background: -moz-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1)) !important;
      background: linear-gradient(to bottom right, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1)) !important;
      -webkit-animation: topbarAppearance 0.2s linear;
    }

    .topbar {
      //background: #1E2129;
      //background: rgba(3, 155, 229, 0.4);
      // background: url("../../assets/images/backgrounds/simple-color-wallpaper_623648412.jpg");
      // background-size: 100% 100%;

      // background: rgba(12, 20, 33, 1);
      // background: -webkit-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
      // background: -moz-linear-gradient(top left, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));
      // background: linear-gradient(to bottom right, rgba(12, 20, 33, 1), rgba(7, 87, 115, 1));

      //background: #20222a;

      filter: drop-shadow(0px 1px 4px black);
      text-shadow: 1px 1px 4px black;
      font-weight: bold;
      position: absolute;
      z-index: 200;
      width: 100%;
      top: 0;
      padding: 15px;
      padding-left: 145px;
      padding-right: 148px;
      border: 0 !important;
      outline: 0 !important;
      box-sizing: 0 !important;

      .topbar-logo {
        height: 32px;
        width: 32px;
        margin-right: 8px;
        filter: drop-shadow(0px 1px 2px black);
      }

      .topbar-title {
        color: #c5e5ed;
        font-weight: bolder;
      }

      .topbar-google-button {
        -webkit-animation: buttonAppearance 0.5s ease-in;
        transition: 0.2s;
        &:hover {
          transform: scale(1.05, 1.05);
        }
      }

      .topbar-access-system-button {
        -webkit-animation: buttonAppearance 0.5s ease-in;
        background: #44b543;
        color: white;
        &:hover {
          transform: scale(1.05, 1.05);
        }
      }
    }
  }

  @keyframes topbarAppearance {
    from {
      top: -100px;
    }
    to {
      top: 0;
    }
  }

  @keyframes contactAppearance {
    from {
      bottom: -100px;
    }
    to {
      bottom: 0;
    }
  }

  .none-displayed {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .homepage {
    font-size: 14px;

    background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%);
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;

    .topbar-container {
      .topbar {
        padding: 10px;

        .topbar-access-system-button {
          font-size: 12.5px;
        }
      }
    }

    .contact {
      font-size: 12px;
    }

    .footer-contact {
      font-size: 12px;
    }

    .main-content {
      .shiny {
        font-size: 20px !important;
      }

      .shiny2 {
        font-size: 18px !important;
      }

      .banner-container {
        background: url("../../assets/images/backgrounds/cybersecurity-750x450.jpg");
        background-size: 100% 100%;

        .banner {
          padding-left: 30px;
          padding-right: 30px;

          padding-top: 100px;
          height: 65vh;

          .decoration {
            width: 60vw;
            //display: initial;
            display: none;
          }

          .app-title {
            font-size: 22px !important;
          }

          .logo {
            width: 140px;
            margin: 32px auto;
            margin-bottom: 16px;
          }

          .title2 {
            font-size: 14px;
          }

          .login-with-google {
            padding-top: 10px;

            .gg-icon {
              height: 18px;
              width: 18px;
              margin-top: -5px;
              margin-right: 2px;
            }

            .access-system-button {
              font-size: 11px;
              padding-left: 5px;
              padding-right: 0;
              margin-left: -15px;
            }
          }
        }
      }

      .table {
        padding: 10px;
        padding-top: 30px;

        .table-title {
          font-size: 12px;
        }

        mat-table {
          width: 100%;
        }
      }

      .instruction-container {
        .instruction {
          padding: 10px;
          padding-top: 20px;

          .steps-main-title {
            padding: 10px 10px 0 20px;
            font-size: 18px;
          }

          .step-wrapper {
            .step {
              padding-bottom: 0;
              .step-description {
                .step-name {
                  font-size: 18px;
                }
              }
              .step-image {
                height: 50%;
              }
            }
          }
        }
      }

      .feature-container {
        background: url("../../assets/images/backgrounds/maxresdefault.jpg");

        .feature {
          padding: 10px;
          padding-bottom: 30px;
          padding-top: 30px;

          .overview {
            padding: 0;

            .overview-title {
              font-size: 20px;

              img {
                margin-right: 5px;
                margin-top: -20px;
              }
            }

            .overview-info {
              line-height: 25px;
            }

            .trial {
              padding-top: 20px;
              padding-bottom: 20px;
            }
          }
        }
      }

      .benefit-container {
        background: url("../../assets/images/backgrounds/loading-bg1.jpg");
        background-size: 100% 100%;
        background-position: center center;
        background-attachment: fixed;
        .benefit {
          padding: 60px 30px 60px 30px;
          .main-benefit {
            padding-bottom: 10px;
          }

          .benefit-title {
            font-size: 18px !important;
          }

          .benefit-symbol {
            img {
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }

    .footer {
      padding: 20px;
      padding-top: 40px;

      .view-more-button {
        padding-bottom: 20px;
      }
    }
  }
}
