<div class="homepage">

   <div class="contact" *ngIf="isContactDisplayed">
      Vui lòng liên hệ email <span style="color: orange">ha@appnet.edu.vn</span> nếu bạn cần trợ giúp.
   </div>

   <div class="topbar-container" *ngIf="isTopbarDisplayed">
      <div class="topbar" [class.topbar2]="isLoginButtonDisplayed">
         <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.xs="center center" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
               <img src="../../assets/images/app-logo.png" alt="" class="topbar-logo" fxFlex="none">
               <span class="topbar-title" fxFlex *ngIf="isTopbarTitleDisplayed">
                  CHẶN CLICK ẢO 2019
               </span>
            </div>
            <button mat-raised-button color="warn" (click)="checkLogin()" *ngIf="!isOnLogin && isLoginButtonDisplayed"
               class="topbar-google-button" fxFlex="nogrow" [disabled]="isProcessing">
               <img src="../../assets/icons/google-icon.png"
                  style="height: 18px; width: 18px; margin-top: -5px; margin-right: 2px" alt=""> Đăng nhập bằng
               Google
            </button>
            <button mat-raised-button class="topbar-access-system-button" (click)="checkLogin()"
               *ngIf="isOnLogin && isLoginButtonDisplayed" fxFlex="nogrow" [disabled]="isProcessing">
               TRUY CẬP HỆ THỐNG CHẶN CLICK ẢO<mat-icon style="font-size: 20px">navigate_next</mat-icon>
            </button>
         </div>
      </div>
   </div>

   <div class="main-content">

      <div class="banner-container">
         <div class="banner">

            <!-- <img src="https://i.pinimg.com/originals/c1/16/d0/c116d0bcd7663786a5a2d619a70fd2b7.png" class="decoration" alt=""> -->

            <div class="title1 app-title">
               <div class="insider">
                  <span class="shiny">
                     <span class="inner-shiny">Chặn Click Ảo 2019 - Giảm đến 50% phí quảng cáo Google Ads</span>
                  </span>
               </div>
            </div>

            <div class="logo">
               <img src="../../assets/images/app-logo.png" alt="">
            </div>

            <p class="title2">
               <span class="highline">Giải Pháp Chặn Click Ảo</span> sử dụng Công nghệ <span class="highline">AI</span>
               và
               <span class="highline">Big Data</span> giúp ngăn chặn Click Ảo nhanh chóng, đơn
               giản và
               hiệu
               quả.
            </p>

            <!-- <div class="login-with-google" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px"
               fxLayoutAlign="center center">
               <a routerLink="/auth/register">
                  <button mat-raised-button class="register-button">
                     <mat-icon>arrow_right</mat-icon> Đăng ký ngay
                  </button>
               </a>
               <button mat-raised-button color="warn" class="google-login-button">
                  <img src="../../assets/icons/google-icon.png"
                     style="height: 18px; width: 18px; margin-top: -5px; margin-right: 2px" alt=""> Đăng nhập bằng
                  Google
               </button>
            </div> -->

            <div class="login-with-google">
               <button mat-raised-button color="warn" (click)="checkLogin()" *ngIf="!isOnLogin"
                  class="login-google-button">
                  <img src="../../assets/icons/google-icon.png" class="gg-icon" alt=""> Đăng nhập bằng
                  Google
               </button>
               <button mat-raised-button class="access-system-button" (click)="checkLogin()" *ngIf="isOnLogin">
                  TRUY CẬP HỆ THỐNG CHẶN CLICK ẢO<mat-icon style="font-size: 20px">navigate_next</mat-icon>
               </button>
            </div>

            <!-- <div class="login">
               <a routerLink="/auth/login" style="color: skyblue">Đăng nhập tài khoản</a>
            </div> -->

         </div>
      </div>

      <div class="table">

         <!-- <div class="table-title">
            Trong 30 ngày qua đã có <span style="color: skyblue; font-weight: bold">19,227,560</span> click quảng
            cáo, tỉ
            lệ <span style="color: orange; font-weight: bold">17.50%</span>
         </div> -->

         <div class="table-wrapper">
            <mat-table [dataSource]="dataSource">

               <ng-container matColumnDef="datetime">
                  <mat-header-cell *matHeaderCellDef> Thời gian </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.createdAt | date: 'HH:mm dd/MM/yyyy'}}</mat-cell>
               </ng-container>

               <ng-container matColumnDef="ip">
                  <mat-header-cell *matHeaderCellDef> IP </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     <span>{{element.ip}}</span>
                  </mat-cell>
               </ng-container>

               <ng-container matColumnDef="os">
                  <mat-header-cell *matHeaderCellDef> Hệ điều hành </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     <img *ngIf="element.os?.name === 'Windows'"
                        src="https://1000logos.net/wp-content/uploads/2017/06/Windows-Logo.png" alt="" class="icon">
                     <img *ngIf="element.os?.name === 'iOS'"
                        src="https://fairphone.cdn.shoprenter.hu/custom/fairphone/image/data/brand%20k%C3%A9pek/PNGPIX-COM-Apple-Grey-Logo-PNG-Transparent-500x576.png?lastmod=1534242773.1525780115"
                        alt="" class="icon">
                     <img *ngIf="element.os?.name === 'Android'"
                        src="https://image.flaticon.com/icons/png/512/226/226770.png" alt="" class="icon">
                     <img *ngIf="element.os?.name === 'Mac OS'"
                        src="https://www.pinclipart.com/picdir/big/204-2040230_post-mac-os-7-logo-clipart.png" alt=""
                        class="icon">
                     <img *ngIf="element.os?.name === 'Linux'"
                        src="https://1000logos.net/wp-content/uploads/2017/03/LINUX-LOGO.png" alt="" class="icon">
                     <img *ngIf="element.os?.name === 'Ubuntu'"
                        src="https://s24255.pcdn.co/wp-content/uploads/2014/03/ubuntu-logo.png" alt="" class="icon">
                     <span *ngIf="element.os?.name">{{element.os?.name + ' ' + (element.os?.version || '')}}</span>

                     <span *ngIf="!element.os?.name" class="UNKNOWN">Unknown</span>
                  </mat-cell>
               </ng-container>

               <ng-container matColumnDef="browser">
                  <mat-header-cell *matHeaderCellDef> Trình duyệt </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     <img *ngIf="element.browser?.name === 'Edge'"
                        src="https://cdn1.vox-cdn.com/uploads/chorus_asset/file/3665120/Microsoft_Edge_logo.svg.0.png"
                        alt="" class="icon">
                     <img *ngIf="element.browser?.name === 'Firefox'"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Firefox_Logo%2C_2017.svg/1024px-Firefox_Logo%2C_2017.svg.png"
                        alt="" class="icon">
                     <img *ngIf="element.browser?.name === 'Chrome'"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Chrome_icon_%28September_2014%29.svg/1200px-Google_Chrome_icon_%28September_2014%29.svg.png"
                        alt="" class="icon">
                     <img *ngIf="element.browser?.name === 'Safari' || element.browser?.name === 'Mobile Safari'"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Safari_browser_logo.svg/1200px-Safari_browser_logo.svg.png"
                        alt="" class="icon">
                     <img *ngIf="element.browser?.name === 'IE'"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Internet_Explorer_10%2B11_logo.svg/1200px-Internet_Explorer_10%2B11_logo.svg.png"
                        alt="" class="icon">
                     <img *ngIf="element.browser?.name === 'Chromium'"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Chromium_11_Logo.svg/1024px-Chromium_11_Logo.svg.png"
                        alt="" class="icon">
                     <img *ngIf="element.browser?.name === 'Cốc Cốc'"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/C%E1%BB%91c_C%E1%BB%91c_logo.svg/1024px-C%E1%BB%91c_C%E1%BB%91c_logo.svg.png"
                        alt="" class="icon">
                     <img *ngIf="element.browser?.name === 'Opera'"
                        src="https://cdn.freebiesupply.com/logos/large/2x/opera-2-logo-png-transparent.png" alt=""
                        class="icon">
                     <img *ngIf="element.browser?.name === 'Tor'"
                        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/2d904534-a747-4e77-b01c-a7a77fe8adb7/d7t716u-49fc2695-680d-4264-b8c0-510f85dd2ebf.png/v1/fill/w_894,h_894,strp/tor_logo_by_stanchenko_d7t716u-pre.png"
                        alt="" class="icon">

                     <span *ngIf="element.browser?.name">
                        <span>{{element.browser?.name}}</span>
                        <br>
                        <span>{{element.browser?.version || ''}}</span>
                     </span>
                     <span *ngIf="!element.browser?.name" class="UNKNOWN">Unknown</span>

                  </mat-cell>
               </ng-container>

               <ng-container matColumnDef="network">
                  <mat-header-cell *matHeaderCellDef> Mạng </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     <!-- <span *ngIf="element.network?.name !== 'MOBIFONE'
                                 && element.network?.name !== 'VIETTEL'
                                 && element.network?.name !== 'VIETNAMOBILE'
                                 && element.network?.name !== 'VNPT'
                                 && element.network?.name !== 'FPT'">{{element.network?.name}}</span>

                     <img class="mobifone"
                        src="https://brasol.vn/public/uploads/1521197514-brasol.vn-logo-mobifone-mobifone-logo.svg_.png"
                        *ngIf="element.network?.name === 'MOBIFONE'" alt="">
                     <img class="network-logo"
                        src="https://dangky3gviettel.vn/wp-content/uploads/2018/10/cropped-logo-dang-ky-3g-viettel.png"
                        *ngIf="element.network?.name === 'VIETTEL'" alt="">
                     <img class="vietnamobile" src="https://css.vietnamobile.com.vn/images/logo.png"
                        *ngIf="element.network?.name === 'VIETNAMOBILE'" alt="">
                     <img class="vnpt" src="https://www.sunocean.com.vn/wp-content/uploads/2018/08/logo-vnpt.png"
                        *ngIf="element.network?.name === 'VNPT'" alt="">
                     <img class="fpt" src="http://vinacorp.vn/uploads/news/FPT-ava_1828613.png"
                        *ngIf="element.network?.name === 'FPT'" alt=""> -->

                     <span *ngIf="element.network?.name"
                        class="{{element.network?.name}}">{{element.network?.name}}</span>
                     <span *ngIf="!element.network?.name" class="UNKNOWN">Unknown</span>
                  </mat-cell>
               </ng-container>

               <ng-container matColumnDef="location">
                  <mat-header-cell *matHeaderCellDef> Tại (địa điểm) </mat-header-cell>

                  <mat-cell *matCellDef="let element">
                     <!-- <img src="../../assets/icons/location.svg" alt="" class="location-icon"
                        *ngIf="element.location?.city"> -->
                     <span *ngIf="element.location?.city">{{element.location?.city}}</span>

                     <span *ngIf="!element.location?.city" class="UNKNOWN">Unknown</span>
                  </mat-cell>
               </ng-container>

               <ng-container matColumnDef="keyword">
                  <mat-header-cell *matHeaderCellDef> Từ khóa </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     <span *ngIf="element.keyword">{{element.keyword}}</span>
                     <span *ngIf="!element.keyword" class="UNKNOWN"></span>
                  </mat-cell>
               </ng-container>

               <ng-container matColumnDef="campaignType">
                  <mat-header-cell *matHeaderCellDef> Chiến dịch </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     <span *ngIf="element.campaignType">{{element.campaignType}}</span>
                     <span *ngIf="!element.campaignType" class="UNKNOWN"></span>
                  </mat-cell>
               </ng-container>

               <ng-container matColumnDef="matchType">
                  <mat-header-cell *matHeaderCellDef> Đối sánh </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     <span *ngIf="element.matchType">{{element.matchType}}</span>
                     <span *ngIf="!element.matchType" class="UNKNOWN"></span>
                  </mat-cell>
               </ng-container>

               <ng-container matColumnDef="page">
                  <mat-header-cell *matHeaderCellDef> Trang </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     <span *ngIf="element.page">{{element.page}}</span>
                     <span *ngIf="!element.page" class="UNKNOWN"></span>
                  </mat-cell>
               </ng-container>

               <ng-container matColumnDef="position">
                  <mat-header-cell *matHeaderCellDef> Vị trí </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     <span *ngIf="element.position">{{element.position}}</span>
                     <span *ngIf="!element.position" class="UNKNOWN"></span>
                  </mat-cell>
               </ng-container>

               <mat-header-row *matHeaderRowDef="logColumns; sticky: true"></mat-header-row>
               <mat-row *matRowDef="let row; columns: logColumns;"></mat-row>
            </mat-table>
         </div>

      </div>

      <div class="instruction-container">
         <div class="instruction">
            <p class="steps-main-title">
               3 BƯỚC PHÁT HIỆN VÀ CHẶN CLICK ẢO
            </p>

            <!-- <div class="demo-video">
               <button mat-raised-button style="background-color:crimson; color: white" matTooltip="Sắp ra mắt">
                  <mat-icon>ondemand_video</mat-icon> VIDEO DEMO CÔNG CỤ
               </button>
            </div> -->

            <div class="step-wrapper" fxLayout="row" fxLayoutGap="40px" fxLayout.sm="column" fxLayout.xs="column">

               <div class="step step1" fxFlex="33.33">
                  <div class="step-image">
                     <img src="../../assets/images/step1.png" alt="" matTooltip="Phóng to ảnh"
                        (click)="showImageDialog('../../assets/images/step1.png')" loading="lazy">
                  </div>
                  <div class="step-description">
                     <span class="step-name">Bước 1: Liên kết Google Ads</span>
                     <p>
                        Liên kết tài khoản quảng cáo <span style="color:skyblue">Google Ads</span> của bạn với hệ thống
                        của Appnet Technology.
                     </p>
                  </div>
               </div>

               <div class="step step2" fxFlex="33.33">
                  <div class="step-image">
                     <img src="../../assets/images/step2.png" alt="" matTooltip="Phóng to ảnh"
                        (click)="showImageDialog('../../assets/images/step2.png')" loading="lazy">
                  </div>
                  <div class="step-description">
                     <span class="step-name">Bước 2: Theo dõi click quảng cáo</span>
                     <p>
                        Theo dõi thiết bị, trình duyệt, vị trí đang click quảng cáo của bạn. Xác định đối tượng phá
                        hoại.
                     </p>
                  </div>
               </div>

               <div class="step step3" fxFlex="33.33">
                  <div class="step-image">
                     <img src="../../assets/images/step3.png" alt="" matTooltip="Phóng to ảnh"
                        (click)="showImageDialog('../../assets/images/step3.png')" loading="lazy">
                  </div>
                  <div class="step-description">
                     <span class="step-name">Bước 3: Chặn click ảo</span>
                     <p>
                        Thực hiện chặn những IP đang phá hoại bằng tác vụ thủ công hoặc tự động.
                     </p>
                  </div>
               </div>

            </div>
         </div>
      </div>

      <div class="feature-container">
         <div class="feature" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <div class="overview" fxFlex="32.7">
               <p class="overview-title">
                  <img src="../../assets/icons/bulb-icon.png" alt="" loading="lazy">
                  <span>Thông minh hơn</span>
               </p>
               <mat-divider style="border: 0.5px solid gray"></mat-divider>
               <div class="overview-info">
                  Tích hợp 10 công cụ giảm chi phí trong 1 tool duy nhất.
                  <br>
                  Tất cả các công cụ hoạt động theo cơ chế tự động hóa, không chỉ cung cấp báo cáo trực quan mà còn có
                  thể
                  tương
                  tác trực tiếp đến quảng cáo của bạn, cải thiện nó giúp bạn tiết kiệm đáng kể chi phí và thời gian.
                  <br>
                  <div class="trial">
                     <button mat-raised-button color="accent" (click)="checkLogin()" [disabled]="isProcessing">
                        DÙNG THỬ NGAY <mat-icon style="font-size: 20px">navigate_next</mat-icon>
                     </button>
                  </div>
               </div>
               <img src="../../assets/images/analytics-graphic.png" alt="" class="overview-image" loading="lazy">
            </div>
            <div class="feature-detail" fxLayout="row" fxLayout.xs="column">
               <div class="feature-left" fxLayout="column" fxLayoutGap="20px">
                  <div class="feature-item" fxFlex="25" fxLayout="row" fxLayoutGap="20px">
                     <div class="icon">
                        <mat-icon color="accent">verified_user</mat-icon>
                     </div>
                     <div class="feature-description">
                        <span class="feature-name">Chặn theo IP</span>
                        <p>
                           Giải pháp chặn click ảo theo IP này được cải tiến hơn nhờ sự đồng bộ với toàn bộ mạng lưới
                           <span style="color: skyblue">Big Data</span> giúp chặn chính xác hơn.
                        </p>
                     </div>
                  </div>
                  <div class="feature-item" fxFlex="25" fxLayout="row" fxLayoutGap="20px">
                     <div class="icon">
                        <!-- <mat-icon color="accent" >public</mat-icon> -->
                        <img src="../../assets/icons/incognito.png" alt="">
                     </div>
                     <div class="feature-description">
                        <span class="feature-name">Chặn trình duyệt ẩn danh</span>
                        <p>
                           Nhận diện người dùng đang sử dụng <span style="color:skyblue">Trình duyệt Ẩn danh</span>, từ
                           đó có thể <span style="color: orange">ngừng quảng cáo</span>, giúp
                           tiết kiệm chi phí với những người dùng muốn dấu thông tin truy cập vào quảng cáo.
                        </p>
                     </div>
                  </div>
                  <div class="feature-item" fxFlex="25" fxLayout="row" fxLayoutGap="20px">
                     <div class="icon">
                        <mat-icon color="accent">wifi</mat-icon>
                     </div>
                     <div class="feature-description">
                        <span class="feature-name">Chặn theo 3G & 4G</span>
                        <p>
                           Chỉ với 1 thao tác bạn có thể chặn quảng cáo trên toàn bộ mạng 3G & 4G, giúp ngăn chặn <span
                              style="color: orange">Click ảo</span> hiệu quả.
                        </p>
                     </div>
                  </div>
                  <div class="feature-item" fxFlex="25" fxLayout="row" fxLayoutGap="20px">
                     <div class="icon">
                        <mat-icon color="accent">timeline</mat-icon>
                     </div>
                     <div class="feature-description">
                        <span class="feature-name">Chặn theo Big Data</span>
                        <p>
                           Dựa vào thống kê các IP đang phá hoại bằng <span style="color: orange">Click ảo</span> trên
                           toàn bộ
                           mạng
                           lưới, bạn có thể thiết lập chặn toàn bộ các IP này.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="feature-right" fxLayout="column" fxLayoutGap="20px">
               <div class="feature-item" fxFlex="25" fxLayout="row" fxLayoutGap="20px">
                  <div class="icon">
                     <mat-icon color="accent">phonelink</mat-icon>
                  </div>
                  <div class="feature-description">
                     <span class="feature-name">Chặn theo thiết bị</span>
                     <p>
                        Dễ dàng theo dõi tình trạng bật/tắt quảng cáo theo từng thiết bị: <span
                           style="color: skyblue">Mobile,
                           Tablet, PC</span>. Nếu bạn muốn tắt quảng cáo trên các thiết bị này chỉ cần bấm là xong.
                     </p>
                  </div>
               </div>
               <div class="feature-item" fxFlex="25" fxLayout="row" fxLayoutGap="20px">
                  <div class="icon">
                     <mat-icon color="accent">apps</mat-icon>
                  </div>
                  <div class="feature-description">
                     <span class="feature-name">Chặn theo mạng lưới</span>
                     <p>
                        Xem xét quảng cáo đang hiển thị ở đâu trên <span style="color: skyblue">Google Search</span> hay
                        trên
                        <span style="color: skyblue">đối tác</span> của Google. Liều thuốc đơn giản nhưng tiết kiệm đến
                        <span style="color: orange; font-weight: bold">30%</span> chi phí.
                     </p>
                  </div>
               </div>
               <div class="feature-item" fxFlex="25" fxLayout="row" fxLayoutGap="20px">
                  <div class="icon">
                     <mat-icon color="accent">location_on</mat-icon>
                  </div>
                  <div class="feature-description">
                     <span class="feature-name">Tỉnh-Thành quảng cáo</span>
                     <p>
                        Biết chính xác các <span style="color: skyblue">tỉnh, thành</span> đang hiện quảng cáo. Bạn có
                        thể
                        <span style="color: orange">ngừng quảng cáo</span> theo tỉnh, thành nếu muốn.
                     </p>
                  </div>
               </div>
               <div class="feature-item" fxFlex="25" fxLayout="row" fxLayoutGap="20px">
                  <div class="icon">
                     <mat-icon color="accent">view_list</mat-icon>
                  </div>
                  <div class="feature-description">
                     <span class="feature-name">Blacklist / Whitelist</span>
                     <p>
                        Nếu bạn biết chính xác địa chỉ IP của đối thủ, hoặc của khách hàng, bạn có thể <span
                           style="color: orange">ngưng quảng cáo</span>
                        với đối thủ để tránh mất thêm chi phí và luôn hiển thị quảng cáo tới khách hàng của mình.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="benefit-container">
         <div class="benefit">

            <div class="benefit-title">
               <!-- <span class="shiny2">
                  <span class="inner-shiny2">Lợi ích khi sử dụng chặn click ảo</span>
               </span> -->
               <span>LỢI ÍCH KHI SỬ DỤNG CHẶN CLICK ẢO</span>
            </div>

            <p class="secondary-benefit-title">
               Lợi ích thấy ngay khi đăng ký và sử dụng Công cụ Chặn Click Ảo
            </p>

            <div class="main-benefit" fxLayout="row" fxLayoutGap="80px" fxLayout.xs="column" fxLayoutGap.xs="30px">
               <div class="main-benefit-item">
                  <div class="benefit-symbol">
                     <img src="../../assets/images/save-money.svg" alt="" loading="lazy">
                  </div>
                  <div class="benefit-description">
                     <p class="benefit-description-title">TIẾT KIỆM CHI PHÍ <mat-icon style="color: lime">add</mat-icon>
                     </p>
                     Giảm thiểu đến 50% chi phí quảng cáo <span style="color: orange">lãng phí vô ích</span> do đối thủ
                     phá
                     hoại
                     hay virus, bot click quảng cáo.
                  </div>
               </div>
               <div class="main-benefit-item">
                  <div class="benefit-symbol">
                     <img src="../../assets/images/timer.svg" alt="" loading="lazy">
                  </div>
                  <div class="benefit-description">
                     <p class="benefit-description-title">GIẢM THỜI GIAN <mat-icon style="color: lime">arrow_downward
                        </mat-icon>
                     </p>
                     Không còn tốn thời gian để chặn từng IP. Công cụ có thể giúp bạn thực hiện chặn 24h/ngày và 7
                     ngày/tuần.
                  </div>
               </div>
               <div class="main-benefit-item">
                  <div class="benefit-symbol">
                     <img src="../../assets/images/customer.png" alt="" loading="lazy">
                  </div>
                  <div class="benefit-description">
                     <p class="benefit-description-title">TĂNG KHÁCH HÀNG <mat-icon style="color: lime">arrow_upward
                        </mat-icon>
                     </p>
                     Giảm các chi phí <span style="color:orange">lãng phí</span> do click ảo, bạn sẽ có thêm chi phí
                     quảng
                     cáo.
                     Từ
                     đó có thêm tiềm năng.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="footer" fxLayout="row" fxLayoutGap="80px" fxLayout.xs="column" fxLayoutGap.xs="20px">

      <div class="footer-col1" fxFlex="33.33">
         <div class="footer-title1">FAQ</div>
         <mat-divider class="footer-divider"></mat-divider>
         <div class="footer-col1-info">
            <span class="question-title">
               Mỗi đóng góp ý kiến của bạn là động lực giúp chúng tôi tồn tại và phát triển
            </span>
            <br><br>
            Trong quá trình sử dụng sản phẩm, nếu bạn chưa hài lòng hoặc có bất kì ý kiến đóng góp nào xin vui lòng liên
            hệ
            với chúng tôi.
            <div class="view-more-button">
               <button mat-raised-button color="accent" (click)="checkLogin()" [disabled]="isProcessing">
                  XEM THÊM <mat-icon style="font-size: 20px; color: white">navigate_next</mat-icon>
               </button>
            </div>
         </div>
      </div>

      <div class="footer-col2" fxFlex="33.33">

         <div class="footer-col footer-col2-1" fxLayout="row">
            <mat-icon color="accent" class="s-30" fxFlex="10">help</mat-icon>
            <div>
               <span class="question-title">
                  Chặn click ảo là gì?
               </span>
               <p>
                  Chặn click ảo không còn là chặn các IP phá hoại mà là một giải pháp tổng thể giúp bạn tiết kiệm chi
                  phí quảng cáo.
               </p>
            </div>
         </div>

         <div class="footer-col footer-col2-2" fxLayout="row">
            <mat-icon color="accent" class="s-30" fxFlex="10">help</mat-icon>
            <div>
               <span class="question-title">
                  Thật sự giảm được 50% chi phí?
               </span>
               <p>
                  Chi phí quảng cáo của bạn gồm: hữu ích và lãng phí. Hữu ích là chi phí có sinh ra khách hàng. Lãng phí
                  là chi phí không (hoặc ít) sinh ra khách hàng. Hệ thống sẽ giúp bạn giảm toàn bộ chi phí lãng phí và
                  chuyển chi phí lãng phí thành hữu ích. Vì thế nó vừa giảm chi phí, vừa giúp bạn tăng khách hàng.
               </p>
            </div>
         </div>

         <div class="footer-col footer-col2-3" fxLayout="row">
            <mat-icon color="accent" class="s-30" fxFlex="10">help</mat-icon>
            <div>
               <span class="question-title">
                  Thời gian dùng thử bao lâu?
               </span>
               <p>
                  Hệ thống không giới hạn thời gian dùng thử. Các gói dùng thử các thể xem được tất cả các báo cáo, để
                  thực
                  hiện
                  giảm chi phí bạn cần phải trả phí.
               </p>
            </div>
         </div>

      </div>

      <div class="footer-col3" fxFlex="33.33">

         <div class="footer-col footer-col3-1" fxLayout="row">
            <mat-icon color="accent" class="s-30" fxFlex="10">help</mat-icon>
            <div>
               <span class="question-title">
                  Chi phí là bao nhiêu?
               </span>
               <p>
                  Chi phí bạn thanh toán hàng tháng đối với mỗi tài khoản Google Ads được tối ưu là <strong>500.000
                     VNĐ/tháng</strong>. Bạn sẽ có thể thêm không giới hạn tài khoản Google Ads.
               </p>
            </div>
         </div>

         <div class="footer-col footer-col3-2" fxLayout="row">
            <mat-icon color="accent" class="s-30" fxFlex="10">help</mat-icon>
            <div>
               <span class="question-title">
                  Bảo mật tài khoản Google Ads?
               </span>
               <p>
                  Toàn bộ thông tin tài khoản của bạn sẽ được bảo mật theo quy định bảo mật của công ty Appnet
                  Technology. Vì
                  thế
                  bạn hãy yên tâm trong việc kết nối và tối ưu tài khoản. Khi ngừng sử dụng, vui lòng ngắt kết nối với
                  chúng
                  tôi.
               </p>
            </div>
         </div>

         <div class="footer-col footer-col3-3">
            <mat-icon color="accent" class="s-30" fxFlex="10">help</mat-icon>
            <div>
               <span class="question-title">
                  Tôi phải làm gì khi cần trợ giúp thêm?
               </span>
               <p>
                  Trong trường hợp bạn cần thêm trợ giúp hãy liên hệ địa chỉ email bên dưới tài khoản của bạn hoặc chat
                  với
                  nhân
                  viên hỗ trợ ngay cạnh bên phải màn hình.
               </p>
            </div>
         </div>

      </div>
   </div>

   <div class="footer-contact-container" *ngIf="isContactFooterDisplayed">
      <div class="footer-contact">
         Vui lòng liên hệ <a href="tel:0937573139" style="color: orange">SĐT, Zalo,
            Viber 093.757.3139</a> khi bạn cần trợ giúp. <br>
         Phát triển bởi Appnet Technology
      </div>
   </div>

</div>