<mat-form-field appearance="outline">
  <mat-label>{{title}}</mat-label>
  <textarea (blur)="onLostFocus()"
            [style.height]="height"
            (focus)="onFocus($event)"
            (ngModelChange)="onInputChange()"
            [(ngModel)]="innerValue"
            [disabled]="isDisabled"
            (change)="onInputChange()"
            (valueChanged)="onInputChange()"
            [errorStateMatcher]="matcher"
            [placeholder]="placeholder"
            matInput
            type="text"></textarea>
  <mat-icon *ngIf="icon" matSuffix>{{icon}}</mat-icon>
  <mat-error *ngIf="!pristine">
    <div *ngFor="let m of errors" class="error">{{m}}</div>
  </mat-error>
  <mat-error *ngIf="pristine">
    <div class="error">{{errors[0]}}</div>
  </mat-error>
</mat-form-field>
