<div class="upgrade-dialog">
  <div matDialogTitle style="font-size: 16px">NÂNG CẤP TÀI KHOẢN {{licenceName | uppercase}}</div>
  <!-- <div style="text-align: center; margin-bottom: 15px">
        <mat-icon class="s-60" style="color: #039be5">info</mat-icon>
      </div> -->
  <div mat-dialog-content style="text-align: justify">
    <p id="expirations-label">
      Vui lòng lựa chọn các gói dưới đây:
    </p>
    <mat-radio-group aria-labelledby="expirations-label" class="example-radio-group" [(ngModel)]="selectedExpiration">
      <mat-radio-button class="example-radio-button" *ngFor="let option of expirations" [value]="option.value"
        (change)="onSelectExpiration($event)" fxLayout="row" style="margin-top: 5px">
        {{option.text}}
      </mat-radio-button>
    </mat-radio-group>
    <p style="color: gray">
      <span style="color: red">*</span> <b>Chú ý:</b> Nếu gói {{licenceName}} của bạn đang còn thời hạn, hệ thống sẽ tự
      động
      thêm thời hạn cho gói của bạn.
    </p>
  </div>
  <div mat-dialog-actions [fxLayoutAlign]="'center center'" class="pt-24">
    <button mat-raised-button color="accent" (click)="sendRequest()" [disabled]="isProcessing">Gửi yêu cầu
    </button>
  </div>
</div>