<div class="container">

  <div class="title1">
    CẤU HÌNH CHẶN TỰ ĐỘNG THEO MẠNG 3G & 4G - TÀI KHOẢN <span
      class="account-id">{{sessionService.activeAdsAccountId || ''}}</span>
  </div>

  <div class="inner">
    <p class="title2"> Bằng việc cấu hình này, quảng cáo sẽ <span style="color: crimson; font-weight: bold">không hiển
        thị</span> trên hầu hết
      các thiết bị sử
      dụng truy cập <span style="color: #40a5ec; font-weight: bold">3G & 4G</span> của các nhà mạng di động tại Việt
      Nam.</p>

    <div class="checkbox-group" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around">
      <mat-checkbox [checked]="mobileNetworks.viettel" (change)="selectNetwork($event,'viettel')"
        [disabled]="isProcessing" class="viettel-animation">
        <img src="../../../../assets/images/vt.png"
          class="network-logo" alt="">
      </mat-checkbox>
      <mat-checkbox [checked]="mobileNetworks.mobifone" (change)="selectNetwork($event,'mobifone')"
        [disabled]="isProcessing" class="mobifone-animation">
        <img src="../../../../assets/images/mbf.png"
          class="network-logo" alt="">
      </mat-checkbox>
      <mat-checkbox [checked]="mobileNetworks.vinafone" (change)="selectNetwork($event,'vinafone')"
        [disabled]="isProcessing" class="vinafone-animation">
        <img src="../../../../assets/images/vnp.png" class="network-logo"
          alt="">
      </mat-checkbox>
      <mat-checkbox [checked]="mobileNetworks.vietnammobile" (change)="selectNetwork($event,'vietnammobile')"
        [disabled]="isProcessing" class="vietnammobile-animation">
        <img src="../../../../assets/images/vnm.png" class="network-logo" alt="">
      </mat-checkbox>
      <mat-checkbox [checked]="mobileNetworks.fpt" (change)="selectNetwork($event,'fpt')" [disabled]="isProcessing"
        class="fpt-animation">
        <img src="../../../../assets/images/fpt.png" class="fpt" alt="">
      </mat-checkbox>
    </div>

    <p class="text-center">
      <button mat-raised-button color="accent" class="submit-button" aria-label="Kết nối"
        (click)="setAutoBlocking3G4G()" [disabled]="isProcessing">
        <mat-icon style="font-size: 20px">check</mat-icon> KÍCH HOẠT VÀ CẬP NHẬT CẤU HÌNH
      </button>
    </p>
  </div>

</div>