<div class="container">
  <div class="title1">
    CẤU HÌNH CHẶN TỰ ĐỘNG THEO IP - TÀI KHOẢN <span class="account-id">{{_sessionService.activeAdsAccountId || ''}}</span>
  </div>

  <div class="title2">
    CẤU HÌNH CHẶN TỰ ĐỘNG THEO IP
  </div>

  <p class="notification">
    Thông thường 1 người dùng chỉ click quảng cáo 1,2 lần trước khi mua hàng. Chặn người dùng click quảng cáo liên tục
    giúp bạn tiết kiệm được chi phí lãng phí do những hành vi phá hoại gây ra
  </p>

  <form [formGroup]="form" (ngSubmit)="onSubmitForm()" novalidate>

    <p>
      <b>
        Chặn sau khi 1 IP nhấn quảng cáo (<span style="color: red">thường là 2 lần</span>)
      </b>
    </p>
    <app-select-text [itemsSource]="itemsSource.maxClick" [displayPath]="'text'" [valuePath]="'value'"
      [title]="'Chọn hình thức'" [formControlName]="'maxClick'" [errors]="getMessageErrors('maxClick')">
    </app-select-text>

    <p>
      <b>
        Xóa hết IP đã chặn khi qua ngày mới (<span style="color: red">xóa vào lúc 0h-1h sáng</span>)
      </b>
    </p>
    <app-select-text [itemsSource]="itemsSource.autoRemove" [displayPath]="'text'" [valuePath]="'value'"
      [title]="'Chọn hình thức'" [formControlName]="'autoRemove'" [errors]="getMessageErrors('autoRemove')">
    </app-select-text>

    <p class="text-center">
      <button mat-raised-button color="accent" class="submit-button" aria-label="Kết nối" type="submit" [disabled]="isProcessing">
        <mat-icon>check</mat-icon> KÍCH HOẠT VÀ CẬP NHẬT CẤU HÌNH
      </button>
    </p>

  </form>
</div>