<!-- <h1 matDialogTitle>Thông báo</h1> -->
<div style="text-align: center; margin-bottom: 15px">
  <mat-icon class="s-60" style="color: #0093e5">info</mat-icon>
</div>
<div mat-dialog-content style="text-align: center">
  {{confirmMessage}}

  <a routerLink="{{linkUrl}}" (click)="dialogRef.close(true)" *ngIf="navigatedPage !== 'select-campaign'"><span
      style="text-decoration: underline">{{linkName}}</span></a>

  <a (click)="navigateToSelectCampaign()" style="cursor: pointer" *ngIf="navigatedPage === 'select-campaign'"><span
      style="text-decoration: underline">tại đây</span></a>

</div>
<div mat-dialog-actions [fxLayoutAlign]="'center center'" class="pt-24">
  <button mat-raised-button color="basic" (click)="dialogRef.close(true)">Đóng
  </button>
</div>