@import "src/@fuse/scss/fuse";

$primaryFontSize: 12px;

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#academy-course {
  .sidebar {
    background-color: #d2d2d2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23d2d2d2' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23dbdbdb' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23e4e4e4' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23ededed' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23f6f6f6' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23ffffff' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    .steps {
      padding: 16px 0;

      .tab-search {
        padding: 16px;

        label {
          font-size: $primaryFontSize;
        }

        input {
          font-size: $primaryFontSize;
        }

        mat-icon {
          font-size: 16px;
        }
      }

      .step {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 16px;
        margin-left: 5px;
        cursor: pointer;

        &.current {
          background: #0b2b9e;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
          color: white;
          border-top-left-radius: 24px;
          border-bottom-left-radius: 24px;

          .index {
            span {
              border: 2px solid;
            }
          }

          .title {
            font-weight: bold;
          }
        }

        &.completed {
          .index {
            span {
              border: 2px solid;
            }
          }
        }

        &.first {
          .index {
            &:before {
              display: none;
            }
          }
        }

        &.last {
          .index {
            &:after {
              display: none;
            }
          }
        }

        .index {
          display: flex;
          margin-right: 12px;

          &:before,
          &:after {
            position: absolute;
            display: block;
            content: " ";
            border-left: 1px solid;
            width: 1px;
            height: 50%;
            left: 29px;
            z-index: 8;
          }

          &:before {
            top: 0;
          }

          &:after {
            bottom: 0;
          }

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            height: 28px;
            border-radius: 100%;
            border: 2px solid;
            font-weight: bold;
            font-size: 12px;
            z-index: 10;
          }
        }

        .title {
          display: flex;
          font-size: $primaryFontSize;
        }
      }
    }
  }

  .center {
    position: relative;
    overflow: hidden;

    .header {
      height: 72px;
      min-height: 72px;
      max-height: 72px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      color: white;

      background-color: #0b2b9e;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%230b2b9e' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%2307278f' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23052380' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23041e71' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23041a62' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23041654' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;

      .header__title {
        font-size: $primaryFontSize + 4;
        font-weight: bold;
      }

      .header__no-website-notifier {
        font-size: $primaryFontSize;
        font-weight: normal;
      }

      .header__website-selection {
        margin-top: 25px;

        mat-label {
          color: #eee;
          font-size: $primaryFontSize;
        }

        .mat-select {
          font-size: $primaryFontSize !important;
          font-weight: bold;
        }

        .header__website-selection__icon {
          font-size: 18px;
          color: white;
          margin-right: 3px;
        }
      }

      /* Border */
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        color: silver !important;
      }

      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.5em 0 0.5em 0 !important;
      }
    }

    .content {
      position: relative;
      display: flex;

      background-color: #d2d2d2;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23d2d2d2' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23dbdbdb' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23e4e4e4' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23ededed' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23f6f6f6' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23ffffff' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;

      .event-widget__sample {
        .__container {
          position: fixed;
          z-index: 10;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          background: rgba(0, 0, 0, 0.6);
          backdrop-filter: blur(6px);
          display: flex;
          justify-content: center;
          align-items: center;

          .__div-iframe {
            font-size: 16px;
            position: relative;

            .__iframe {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
            }

            .__btn-close {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              overflow: hidden;
              cursor: pointer;
              opacity: 0.6;

              position: absolute;
              z-index: 2;
              right: 1%;
              top: 1%;
              display: flex;
              justify-content: center;
              align-items: center;

              mat-icon {
                font-size: 20px;
                color: rgba(0, 0, 0, 0.8);
              }

              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }

      .course-step {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        &.ng-animating {
          overflow: hidden;
        }

        @media (max-width: 720px) {
          padding: 0 0 120px 0;
        }

        .course-step-content {
          // padding: 24px;
          // max-width: 720px;
          // margin: 0 auto;
          // width: 100%;
          // border-radius: 8px;
          // background: white;
          // @include mat-elevation(1);

          mat-grid-tile {
            $widgetBorderRadius: 7px;
            border-radius: $widgetBorderRadius;
            overflow: hidden;

            box-sizing: border-box;
            background-size: 100% 100%;
            @include mat-elevation(1);

            .event-widget {
              width: 100%;
              height: 100%;
              position: relative;
              cursor: pointer;

              @extend .no-select;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.4s;
              }

              &:hover {
                img {
                  transform: scale(1.2, 1.2);
                }
              }

              animation: widgetFadeIn 0.6s ease;
              @keyframes widgetFadeIn {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }

              .event-widget__menu {
                position: absolute;
                z-index: 3;
                top: 1%;
                right: 0;
                width: 15%;
                height: 99%;
                border-top-right-radius: $widgetBorderRadius;
                border-bottom-right-radius: $widgetBorderRadius;
                list-style: none;
                padding-left: 10px;
                margin: 0;
                text-align: center;
                box-sizing: border-box;

                button {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  max-width: 35px;
                  max-height: 35px;
                  box-sizing: border-box;
                  border-radius: 50%;
                  background: rgba(0, 0, 0, 0.5);

                  mat-icon {
                    color: white;
                    font-size: 14px;
                  }
                }

                animation: menuSlideInRight 0.2s ease-out;
                -webkit-animation: menuSlideInRight 0.2s ease-out;
                @keyframes menuSlideInRight {
                  from {
                    right: -100px;
                  }
                  to {
                    right: 0;
                  }
                }
              }
            }
          }

          .instruction-step-body {
            padding-bottom: 20px;
            .instruction-step-title {
              font-size: $primaryFontSize;
              color: rgba(0, 0, 0, 0.7);

              .step-highline {
                font-weight: bold;
              }

              .tracking-icon {
                color: crimson;
                font-size: 16px;
                position: relative;
                top: 3px;
                left: 3px;
              }

              .update-icon {
                color: #039be5;
                font-size: 16px;
                position: relative;
                top: 3px;
                left: 3px;
              }

              h4 {
                font-weight: bold;
              }
            }

            img {
              display: table;
              margin: 0 auto;
              border-radius: 7px;
            }
          }
        }
      }
    }

    .step-navigation {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      bottom: 32px;
      max-width: 944px;
      padding: 0 24px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);

      .previous {
        margin-right: auto;
      }

      .next,
      .done {
        margin-left: auto;
      }
    }
  }
}
