<div class="notification" *ngIf="isNotificationShown">
  <mat-horizontal-stepper [linear]="isLinear" #stepper *ngIf="isStepperShown"
    (selectionChange)="onStepperSelectionChanged($event)" (click)="onClickStepper($event)">

    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>

    <mat-step [stepControl]="stepForms[0]" state="step1">
      <ng-template matStepLabel>{{STEP_INFO.CONNECT_ACCOUNT.name}}</ng-template>
    </mat-step>
    <mat-step [stepControl]="stepForms[1]">
      <ng-template matStepLabel>{{STEP_INFO.SELECT_CAMPAIGN.name}}</ng-template>
    </mat-step>
    <mat-step [stepControl]="stepForms[2]" (click)="alert()">
      <ng-template matStepLabel>{{STEP_INFO.ADD_WEBSITE.name}}</ng-template>
    </mat-step>
    <mat-step [stepControl]="stepForms[3]">
      <ng-template matStepLabel>{{STEP_INFO.ADD_TRACKING.name}}</ng-template>
    </mat-step>
    <mat-step [stepControl]="stepForms[4]">
      <ng-template matStepLabel>{{STEP_INFO.SEE_REPORT.name}}</ng-template>
    </mat-step>

  </mat-horizontal-stepper>

</div>