.notification {
  width: 100vw;
  position: relative;
  z-index: 99;
  padding-top: 65px;
  background: white;

  -webkit-animation: notificationAni 0.2s ease-out;
  @keyframes notificationAni {
    from {
      transform: translateY(-5vh)
    } to {
      transform: translateY(0)
    }
  }

  ::ng-deep .mat-horizontal-content-container {
    padding: 0;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    width: 80%;
    padding-left: 5px;
  }

  ::ng-deep .mat-step-header {
    .mat-step-icon-selected {
      background-color: orangered;
    }

    .mat-step-icon-state-edit {
      background-color: #44b543;
    }

    a {
      color: inherit;
    }
  }
}
