$primaryFontSize: 12px;

.notification {
  width: 100vw;
  position: relative;
  z-index: 99;
  padding-top: 62px;
  background: white;

  -webkit-animation: notificationAni 0.2s ease-out;
  @keyframes notificationAni {
    from {
      transform: translateY(-5vh);
    }
    to {
      transform: translateY(0);
    }
  }

  ::ng-deep .mat-stepper-horizontal {
    overflow: auto;
  }

  ::ng-deep .mat-horizontal-content-container {
    padding: 0;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    width: 1200px;
    padding: 5px;
    padding-bottom: 0;
  }

  ::ng-deep .mat-step-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .mat-step-icon-selected,
    .mat-step-icon-state-edit,
    .mat-step-icon-state-number {
      width: 20px;
      height: 20px;
    }

    .mat-step-icon-selected {
      background-color: #44b543;
      pointer-events: none;
    }

    .mat-step-icon-state-edit {
      background-color: #44b543;
      pointer-events: none;
    }

    a {
      color: inherit;
    }
  }
}

@media screen and (max-width: 600px) {
  .notification {
    padding-top: 55px;

    ::ng-deep .mat-horizontal-stepper-header-container {
      width: 1000px;
    }
  }
}
