.container {
  width: 100%;
  background: #e7ecf0;

  .title1 {
    padding: 30px 30px 45px 30px;
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);

    text-shadow: 1px 1px 2px black;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .inner {
    .pagination-buttons {
      display: table;
      margin: 0 auto;
      padding-left: 10px;
      color: gray;
    }

    .table-wrapper {
      height: auto;
      background-color: white;
      border-bottom: 0.5px solid #eee;
      margin-top: -18px;
      overflow: auto;
      overflow-y: hidden;

      mat-table {
        box-shadow: none;
        width: 100%;
      }

      mat-header-cell:nth-child(2),
      mat-cell:nth-child(2) {
        flex: 0 0 80%;
      }

      mat-header-cell,
      mat-cell {
        font-size: 12px;
      }

      mat-row {
        transition: 0.2s;

        &:nth-child(odd) {
          background: whitesmoke;
        }

        &:hover {
          background: rgba(3, 155, 229, 0.05);
        }
      }

      mat-header-cell {
        background: whitesmoke;
        color: rgba(0, 0, 0, 0.7);
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .inner {
      .table-wrapper {
        mat-table {
          mat-header-cell:nth-child(2),
          mat-cell:nth-child(2) {
            flex: 0 0 60%;
          }
        }
      }
    }
  }
}
