.container {
  width: 100%;

  .title1 {
    padding: 143px 30px 53px 30px;
    background: url("../../../../assets/images/backgrounds/dark-material-bg.jpg");
    background-size: 100% 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .inner {
    .pagination-buttons {
      display: table;
      margin: 0 auto;
      padding-left: 10px;
    }

    .table-wrapper {
      height: auto;
      background-color: white;
      box-shadow: 1px 1px 4px silver;
      margin-top: -18px;
      overflow: auto;
      overflow-y: hidden;

      mat-table {
        box-shadow: none;
        width: 100%;
      }

      mat-header-cell:nth-child(2),
      mat-cell:nth-child(2) {
        flex: 0 0 80%;
      }

      mat-row {
        transition: 0.2s;
      }

      mat-row:hover {
        background: rgba(3, 155, 229, 0.1);
      }

      mat-header-cell {
        background: #039be5;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .inner {
      .table-wrapper {
        mat-table {
          mat-header-cell:nth-child(2),
          mat-cell:nth-child(2) {
            flex: 0 0 60%;
          }
        }
      }
    }
  }
}
