.container {
  width: 100%;
  height: 90vh;

  .title1 {
    padding: 60px 30px 0 60px;
    height: 25vh;
    background-color: #00a1e0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%2300a1e0' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%231095d2' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%231889c3' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%231c7eb5' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%231e72a7' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%231f6799' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: bold;
  }

  .inner {
    border-radius: 7px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: white;
    margin: 40px 30px 30px 30px;
    top: -13vh;
    position: relative;

    .pagination-buttons {
      display: table;
      margin: 0 auto;
      padding-left: 10px;
      color: gray;
    }

    .table-wrapper {
      border-radius: 7px;
      mat-table {
        box-shadow: none;
        width: 100%;
        border-radius: 7px;

        mat-header-cell:nth-child(2),
        mat-cell:nth-child(2) {
          flex: 0 0 80%;
        }

        mat-header-cell,
        mat-cell {
          font-size: 12px;
        }

        mat-row {
          transition: 0.2s;

          &:nth-child(odd) {
            background: whitesmoke;
          }

          &:hover {
            background: rgba(3, 155, 229, 0.05);
          }

          -webkit-animation: rowAppearance 0.4s linear;
          animation: rowAppearance 0.4s linear;
          @keyframes rowAppearance {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }

        mat-header-row {
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
        }

        mat-header-cell {
          background: whitesmoke;
          color: rgba(0, 0, 0, 0.7);
          font-weight: bold;

          &:first-child {
            border-top-left-radius: 7px;
          }

          &:last-child {
            border-top-right-radius: 7px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      text-align: center;
      padding: 45px 20px 20vh 20px;
      height: 15vh;
    }
    .inner {
      margin: 33px 10px 10px 10px;
      .table-wrapper {
        mat-table {
          mat-header-cell:nth-child(2),
          mat-cell:nth-child(2) {
            flex: 0 0 60%;
          }
        }
      }
    }
  }
}
