.container {
  .update-table-button {
    max-height: 40px;
    max-width: 120px;
    padding-left: 0;
    font-size: 12px;
    mat-icon {
      font-size: 18px;
    }
  }

  .table-wrapper {
    max-height: 350px;
    overflow: auto;
    border: 0.5px solid #eee;

    mat-table {
      box-shadow: none;

      mat-header-cell:nth-child(1),
      mat-cell:nth-child(1) {
        flex: 0 0 15%;
      }

      mat-header-cell:nth-child(2),
      mat-cell:nth-child(2) {
        flex: 0 0 60%;
      }

      mat-header-row,
      mat-row {
        transition: 0.2s;
        min-width: 400px;
        width: 100%;
      }

      mat-header-cell {
        background: #40a5ec;
        color: white;
        font-weight: bold;
      }

      mat-cell {
        font-size: 12px;

        mat-icon {
          font-size: 20px;
        }

        button {
          font-size: 12px;
        }
      }

      mat-row {
        transition: 0.2s;
        -webkit-animation: rowAppearance 0.4s linear;
        @keyframes rowAppearance {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        &:hover {
          background-color: rgba(3, 155, 229, 0.05);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
    width: 100%;

    .update-table-button {
      margin-bottom: 10px;
    }
  }
}
