.container {
  padding: 0px 30px 15px 30px;
  width: 100%;

  .title1 {
    padding: 15px;
    background-color: #eee;
    color: gray;
    font-size: 16px;
    font-weight: bold;

    box-shadow: 2px 2px 5px silver;
    text-align: center;
  }

  .pagination-buttons {
    display: table;
    margin: 0 auto;
  }

  .device-symbol {
    height: 50px;
    width: 50px;
  }

  .table-wrapper {
    margin-top: -18px;
    box-shadow: 2px 2px 5px silver;
    overflow: auto;
    overflow-y: hidden;

    mat-table {
      box-shadow: none;
    }

    mat-header-row,
    mat-row {
      min-width: 1000px;
      width: 100%;
      transition: 0.2s;
    }

    mat-header-cell:nth-child(1),
    mat-cell:nth-child(1) {
      flex: 0 0 18%;
    }

    mat-row:hover {
      background-color: #eee;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 15px;
    padding-top: 0;
  }
}
