.container {
  width: 100%;

  .title1 {
    padding: 126px 30px 28px 30px;
    background: url("../../../../assets/images/backgrounds/dark-material-bg.jpg");
    background-size: 100% 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;

    .datePicker {
      color: #039be5;

      input {
        color: white;
      }
    }
  }

  .icon {
    height: 22px;
    width: 22px;
    margin-right: 5px;
  }

  .inner {
    .user-image {
      height: 30px;
      width: 30px;
      margin-right: 10px;
      border-radius: 50%;
    }

    .keywords {
      background-color: whitesmoke;
      margin: 3px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 2px;
      transition: 0.2s;
    }

    .datePicker {
      width: 250px;
    }

    .pagination-buttons {
      display: table;
      margin: 0 auto;
      padding-left: 10px;
      color: gray;
    }

    .device-symbol {
      height: 50px;
      width: 50px;
    }

    .table-wrapper {
      margin-top: -18px;
      box-shadow: 1px 1px 4px silver;
      overflow: auto;
      overflow-y: hidden;

      .table-uuid {
        padding-left: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      mat-table {
        box-shadow: none;
      }

      mat-header-cell:nth-child(1),
      mat-cell:nth-child(1) {
        flex: 0 0 14%;
      }

      mat-header-cell:nth-child(3),
      mat-cell:nth-child(3) {
        flex: 0 0 10%;
        justify-content: center;
      }

      mat-header-cell:nth-child(2),
      mat-cell:nth-child(2),
      mat-header-cell:nth-child(5),
      mat-cell:nth-child(5),
      mat-header-cell:nth-child(6),
      mat-cell:nth-child(6),
      mat-header-cell:nth-child(7),
      mat-cell:nth-child(7) {
        flex: 0 0 12%;
      }

      mat-cell:nth-child(4) {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      mat-header-cell {
        background: #039be5;
        color: white;
      }

      mat-row:hover {
        background-color: rgba(3, 155, 229, 0.1);
      }

      ul {
        list-style: none;
        padding-left: 0;
      }

      mat-header-row,
      mat-row {
        min-width: 1100px;
        width: 100%;
        transition: 0.2s;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    pagination-controls {
      display: flex !important;
      justify-content: center !important;
      margin-left: -50px;
    }
  }
}
