.container {
  width: 100%;

  .title1 {
    padding: 45px 30px 15px 45px;
    // background-color: #000000 !important;
    // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%) !important;
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    text-shadow: 1px 1px 2px black;
    color: white;
    font-size: 16px;
    font-weight: bold;

    .datePicker {
      color: #40a5ec;

      input {
        color: white;
        text-shadow: 1px 1px 2px black;
        font-weight: bold;
      }
    }

    .adsId {
      color: yellow;
      margin-left: 5px;
    }
  }

  .icon {
    height: 14px;
    width: 14px;
    margin-right: 3px;
  }

  .inner {
    .user-image {
      height: 24px;
      width: 24px;
      margin-right: 10px;
      border-radius: 50%;
    }

    .keywords {
      background-color: whitesmoke;
      margin: 3px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 2px;
      transition: 0.2s;
    }

    .datePicker {
      width: 250px;
    }

    .pagination-buttons {
      display: table;
      margin: 0 auto;
      padding-left: 10px;
      color: gray;
    }

    .device-symbol {
      height: 50px;
      width: 50px;
    }

    .table-wrapper {
      margin-top: -18px;
      border-bottom: 0.5px solid #eee;
      overflow: auto;
      overflow-y: hidden;
      box-shadow: none !important;

      mat-table {
        box-shadow: none;

        .uuid-detail-link {
          padding-left: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-weight: bold;
          font-size: 11px;

          &:hover {
            background: rgba(3, 155, 229, 0.05);
          }
        }

        mat-header-cell:nth-child(3),
        mat-cell:nth-child(3) {
          flex: 0 0 5%;
          justify-content: center;
        }

        mat-header-cell:nth-child(1),
        mat-cell:nth-child(1) {
          flex: 0 0 10%;
        }

        mat-header-cell:nth-child(2),
        mat-cell:nth-child(2),
        mat-header-cell:nth-child(5),
        mat-cell:nth-child(5),
        mat-header-cell:nth-child(6),
        mat-cell:nth-child(6),
        mat-header-cell:nth-child(7),
        mat-cell:nth-child(7) {
          flex: 0 0 8%;
        }

        mat-header-cell:nth-child(3),
        mat-cell:nth-child(3),
        mat-header-cell:nth-child(4),
        mat-cell:nth-child(4),
        mat-header-cell:nth-child(10),
        mat-cell:nth-child(10) {
          justify-content: center;
        }

        mat-header-cell:nth-child(11),
        mat-cell:nth-child(11),
        mat-header-cell:nth-child(12),
        mat-cell:nth-child(12),
        mat-header-cell:nth-child(13),
        mat-cell:nth-child(13) {
          flex: 0 0 6%;
          justify-content: center;
        }

        mat-header-cell {
          background: whitesmoke;
          color: rgba(0, 0, 0, 0.7);
          font-weight: bold;
        }

        mat-header-cell,
        mat-cell {
          font-size: 11px;
        }

        mat-cell {
          mat-icon {
            font-size: 14px;
            margin-right: -5px;
            margin-top: 8px;
          }
        }

        mat-row {
          &:nth-child(odd) {
            background: whitesmoke;
          }

          &:hover {
            background-color: rgba(3, 155, 229, 0.05);
          }

          -webkit-animation: rowAppearance 0.4s linear;
          @keyframes rowAppearance {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }

        ul {
          list-style: none;
          padding-left: 0;
        }

        mat-header-row,
        mat-row {
          min-width: 1100px;
          width: 100%;
          transition: 0.2s;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      padding: 25px;
    }
  }
}
