<div class="container">

  <div class="title1">
    GẮN MÃ TRACKING CHO WEBSITE - TÀI KHOẢN <span class="adsId">{{adsId}}</span>
  </div>

  <div class="inner">
    <p class="info">
      <span class="bold-text">Tại sao cần gắn mã tracking:
        <br></span> Hệ thống sẽ dựa vào một đoạn mã được gắn trên website của bạn để tiến hành <span class="highline">theo dõi
        hành vi </span> của các thiết bị đang truy cập.
      Bạn có thể nhúng mã vào bất cứ vị trí nào trong website. Tuy nhiên tốt nhất hãy nhúng mã vào trong
      <span class="highline1">&lt;head&gt;[mã tracking]&lt;/head&gt;</span>
    </p>

    <div style="padding-top: 10px">
      <span class="step"><span class="bold-text">Bước 1:</span> Copy mã</span>
      <div fxLayout="row" style="padding-top: 10px">
        <input class="key" type="text" #inputKey
          value='&lt;script type="text/javascript" src="{{hostTracking}}?key={{key}}"&gt;&lt;/script&gt;' readonly>
        <button mat-icon-button (click)="copyKey(inputKey.value)" class="copy-button" matTooltip="Nhấn vào để copy">
          <mat-icon style="font-size: 20px">file_copy</mat-icon>
        </button>
      </div>
      <p style="padding-top: 10px; line-height: 30px">
        <span class="step"><span class="bold-text">Bước 2:</span> Mở các website của bạn và gắn mã vào trong thẻ
          <span class="highline1">&lt;head&gt;[mã tracking]&lt;/head&gt;</span></span>
      </p>
      <div style="padding-top: 10px">
        <span class="step">
          <span class="bold-text">Bước 3:</span> Kiểm tra các website đã được gắn mã
          <u><a (click)="checkWebsiteTracking()" style="cursor: pointer;">tại đây</a></u>
        </span>
      </div>
    </div>
  </div>

</div>