.container {
  width: 100%;
  background: #e7ecf0;

  .title1 {
    // padding: 94px 30px 27px 30px;
    // background-color: #000000 !important;
    // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%) !important;
    // color: white;

    //background: url("https://image.freepik.com/free-vector/shiny-blue-geometric-background-design_1055-3184.jpg");
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    font-weight: bold;
    color: white;
    //padding: 94px 30px 27px 30px;
    padding: 80px 30px 0 30px;
    height: 45vh;
    text-align: center;

    .adsId {
      color: yellow;
      margin-left: 5px;
    }
  }

  .inner {
    width: 60%;
    margin: 0 auto;
    padding: 30px 30px 30px 30px;
    background: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 10;
    top: -26vh;
    height: 50vh;

    -webkit-animation: innerAni 0.4s ease-out;
    @keyframes innerAni {
      from {
        transform: translateY(100vh);
      }
      to {
        transform: translateY(0);
      }
    }

    .info {
      line-height: 20px;
      font-size: 12px;
      color: gray;
    }

    .highline1 {
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 3px;
      background-color: whitesmoke;
      color: deeppink;
      font-size: 12px;
    }

    .step {
    }

    .bold-text {
      font-weight: bold;
    }

    .highline {
      font-weight: bold;
      color: green;
    }

    .key {
      font-size: 12px;
      padding: 10px;
      padding-right: 0;
      width: 100%;
      border-right: 0;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      // background-color: rgba(0,0,0,0.8);
      // color: skyblue;
      background: whitesmoke;
      color: deeppink;
    }

    .code {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    .copy-button {
      border-radius: 0;
      color: gray;
      padding-left: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 0;
      background: whitesmoke;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .inner {
      padding: 15px;
      padding-bottom: 30px;
      margin: 0 auto;
      margin-top: 15px;
      width: 95vw;
      height: auto;

      .key {
        width: 100%;
      }
    }
  }
}
