.container {
  width: 100%;

  .title1 {
    padding: 35px 30px 30px 30px;
    background: url("../../../../assets/images/backgrounds/dark-material-bg.jpg");
    background-size: 100% 100%;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  ::ng-deep .ngx-charts {
    width: 60%;
  }

  ::ng-deep .chart-legend .legend-labels {
    width: auto;
  }

  .inner {
    .highline2 {
      background: white;
      padding-bottom: 50px;

      .hl2-title1 {
        padding: 55px 30px 17px 30px;
        background: url("../../../../assets/images/backgrounds/dark-material-bg.jpg");
        background-size: 100% 100%;
        color: white;
        font-size: 16px;
        font-weight: bold;

        .datePicker {
          color: #039be5;
          width: 250px;

          input {
            color: white;
          }
        }
      }

      .hl2-title2 {
        text-align: center;
        padding: 40px 30px 50px 30px;
      }
    }

    .highline {
      padding: 60px 30px 50px 15px;
      background: white;

      .left {
        .visitor {
          .visitor-title {
            font-size: 24px;
            text-align: center;
          }

          .visitor-number {
            color: rgba(0, 0, 0, 0.7);
            font-size: 70px;
            font-weight: bold;
            text-align: center;
          }

          .visitor-number-note {
            text-align: center;
          }

          .device-chart {
            padding-top: 40px;

            .chart-legend {
              padding: 20px;
              padding-bottom: 0;

              .chart-label {
                height: 12px;
                width: 12px;
                display: inline-block;
                margin-right: 10px;
                border-radius: 2px;
              }
            }
          }
        }
      }

      :host ::ng-deep .ngx-charts-bar-horizontal-stacked {
        display: table;
        margin: 0 auto;
      }

      .right {
        width: 100%;

        .right-table-title {
          color: #039be5;
          font-weight: bold;
          font-size: 16px;
        }

        .right-table {
          box-shadow: 1px 1px 4px silver;
          margin-top: 12px;
          overflow: auto;

          mat-table {
            box-shadow: none;
            width: 100%;

            mat-header-cell:nth-child(1),
            mat-cell:nth-child(1) {
              flex: 0 0 10%;
            }

            mat-header-cell:nth-child(3),
            mat-cell:nth-child(3) {
              flex: 0 0 35%;
              justify-content: center;

              .user-percentage {
                color: #039be5;
              }
            }

            mat-header-cell {
              background: #039be5;
              color: white;
            }

            mat-row {
              transition: 0.2s;

              &:hover {
                background: rgba(3, 155, 229, 0.1);
              }
            }

            mat-header-row,
            mat-row {
              min-width: 600px;
              width: 100%;
            }
          }
        }
      }
    }

    .overview {
      .overview-title1 {
        padding: 20px 30px 15px 30px;
        background: url("../../../../assets/images/backgrounds/dark-material-bg.jpg");
        background-size: 100% 100%;
        color: white;
        font-size: 16px;
        font-weight: bold;

        .datePicker {
          color: #039be5;

          input {
            color: white;
          }
        }
      }

      .icon {
        height: 22px;
        width: 22px;
        margin-right: 5px;
      }

      .pagination-buttons {
        padding: 10px;
        color: gray;
      }

      .overview-table {
        box-shadow: 1px 1px 4px silver;
        overflow: auto;

        mat-table {
          box-shadow: none;

          mat-header-cell:nth-child(1),
          mat-cell:nth-child(1),
          mat-header-cell:nth-child(2),
          mat-cell:nth-child(2) {
            flex: 0 0 12%;
          }

          mat-header-cell:nth-child(5),
          mat-cell:nth-child(5),
          mat-header-cell:nth-child(6),
          mat-cell:nth-child(6) {
            flex: 0 0 14%;
          }

          mat-header-cell {
            background: #039be5;
            color: white;
          }

          mat-row {
            transition: 0.2s;

            &:hover {
              background: rgba(3, 155, 229, 0.1);
            }
          }

          mat-header-row,
          mat-row {
            min-width: 1000px;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    ::ng-deep .ngx-charts {
      width: 100%;
      padding-left: 35px;
    }
    ::ng-deep .chart-legend .legend-labels {
      margin-left: 30px;
      margin-top: 20px;
    }
    .inner {
      .highline2 {
        padding-bottom: 60%;
        .hl2-title1 {
          .datePicker {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
