@import "src/@fuse/scss/fuse";

toolbar {
  position: absolute;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;

  background-color: #1e2129;
  color: white;

  width: 100%;
  justify-content: flex-end;

  &.below {
    z-index: 2;
  }

  .mat-toolbar {
    position: relative;
    background: inherit !important;
    color: inherit !important;
    padding-top: 30px;
  }

  .padding {
    padding-top: 30px;
  }

  .alert {
    background: darkred;
    color: white;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 2px;
    z-index: 100;

    font-size: 14px;
    padding: 10px;
    cursor: pointer;
  }

  .logo {
    display: flex;
    align-items: center;

    .logo-icon {
      width: 38px;
    }
  }

  .user-button,
  fuse-search-bar,
  .language-button,
  .chat-panel-toggle-button,
  .quick-panel-toggle-button {
    min-width: 64px;
    height: 64px;

    @include media-breakpoint("xs") {
      height: 56px;
    }
  }

  .navbar-toggle-button {
    min-width: 56px;
    height: 56px;
  }

  .toolbar-separator {
    height: 64px;
    width: 1px;

    @include media-breakpoint("xs") {
      height: 56px;
    }
  }
}

.submit-button {
  height: 40px;
  border-radius: 0px;
}

a {
  text-decoration: none !important;
}

@media screen and (max-width: 600px) {
  toolbar {
    .alert {
      color: red;
    }
  }
}
