.container {
  width: 100%;
  background: whitesmoke;

  .main-title {
    padding: 30px 30px 27px 30px;
    background: url("../../../assets/images/backgrounds/adword-bg3.jpg");
    background-size: 100% 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }

  .blue-highline {
    color: #0093e5;
    font-weight: bold;
  }

  .inner {
    padding: 30px;
    padding-top: 20px;

    .step {
      .step-title {
        font-size: 18px;
        padding-top: 20px;
      }

      img {
        -webkit-animation: imgAni 0.4s ease-in;
        @keyframes imgAni {
          from {
            opacity: 0
          } to {
            opacity: 1
          }
        }
      }

      .step1-img1 {
        width: 15vw;
        display: table;
        margin: 30px auto;
        box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
      }

      .step1-img2 {
        width: 45vw;
        display: table;
        margin: 30px auto;
        //box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
        box-shadow: 1px 1.5px 1.5px silver;
      }

      .step2-img1 {
        width: 30vw;
        display: table;
        margin: 30px auto;
        box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
      }

      .step2-img2 {
        width: 45vw;
        display: table;
        margin: 30px auto;
        box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
      }

      .step3-img1 {
        display: table;
        margin: 30px auto;
        box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .inner {
      padding: 15px;

      .step {
        .step1-img1 {
          width: 45vw;
        }

        .step1-img2 {
          width: 100vw;
        }

        .step2-img1 {
          width: 100vw;
        }

        .step2-img2 {
          width: 100vw;
        }

        .step3-img1 {
          width: 100vw;
        }
      }
    }
  }
}
