<div class="container">

  <div class="main-title">
    HƯỚNG DẪN BỒI HOÀN CHI PHÍ QUẢNG CÁO GOOGLE ADS
  </div>

  <div class="inner">
    <p>
      Trong quá trình chạy quảng cáo <span class="blue-highline">Google Ads</span>, nếu bạn bị nhiều
      IP click chuột và nghĩ rằng mình đang bị <span style="color: crimson; font-weight: bold">tính tiền quảng cáo
        sai</span> so với hiệu quả mang lại và cần yêu cầu
      hoàn phí mới. Vui lòng <b>đăng nhập vào email nhà quảng cáo</b> và thực hiện theo các bước sau đây:
    </p>

    <div class="step">
      <p class="step-title">
        Bước 1: Lấy danh sách IP click nhiều
      </p>
      <div class="step-content">
        <p>Truy cập vào mục <b>Xem Báo Cáo Click Ảo</b> tại menu trái màn hình.</p>

        <img src="../../../assets/images/cash-back-step1_1.PNG" alt="" class="step1-img1" loading="lazy">

        <p>
          Sau đó bạn chọn <span class="blue-highline">Khoảng thời gian thống kê</span> và chụp màn hình tại khu vực
          <b>BÁO CÁO IP CLICK QUẢNG CÁO</b>.
          <br>
          Để chụp màn hình, bạn bấm nút: <b>Print Screen (PrtScr)</b> trên bàn phím và dán <b>(Ctrl+V)</b> vào trong
          chương trình <b>Paint</b>.
        </p>

        <img src="../../../assets/images/cash-back-step1_2.PNG" alt="" class="step1-img2" loading="lazy">

        <p>
          Hình ảnh dạng này sẽ là bằng chứng giúp Google theo dõi lại tài khoản của
          bạn và lọc bỏ những chi phí sai, từ đó hoàn tiền lại cho bạn.
        </p>
      </div>
    </div>

    <div class="step">
      <p class="step-title">
        Bước 2: Gửi yêu cầu xem xét
      </p>
      <div class="step-content">
        <p>Bạn cần phải gửi yêu cầu để Google xem xét các IP đã click chuột vào quảng
          cáo của bạn. Để thực hiện việc đó, bạn cần truy cập vào trang <a
            href="https://support.google.com/google-ads/contact/click_quality?rd=1&hl=vi" target="_blank">Gửi yêu cầu
            xem xét</a>.
          <br>
          Đây là link do Google cung cấp và bạn cần đăng nhập vào email (đang chạy quảng cáo) của bạn để Google dễ hoàn
          trả hơn.
        </p>
        <p>
          Tại đây bạn điền thông tin theo yêu cầu của Google
        </p>
        <img src="../../../assets/images/cash-back-step2_1.PNG" alt="" class="step2-img1" loading="lazy">
        <p>Chú ý khi điền mục IP, bạn sẽ điền IP ở <b>Bước 1</b> vào</p>
        <img src="../../../assets/images/cash-back-step2_2.PNG" alt="" class="step2-img2" loading="lazy">
        <p>
          Trong quá trình điền thông tin, nếu bạn gặp khó khăn vui lòng liên hệ với hỗ trợ viên để được hỗ trợ nhanh
          nhất.
        </p>
      </div>
    </div>

    <div class="step">
      <p class="step-title">
        Bước 3: Chờ Google phản hồi
      </p>
      <p>
        Sau khi làm xong <b>Bước 2</b>, bạn chờ khoảng vài ngày sẽ nhận được phản hồi từ Google. Trong trường hợp bạn
        được hoàn lại tiền, thông báo từ Google sẽ như sau:
      </p>

      <img src="../../../assets/images/cash-back-step3.PNG" alt="" class="step3-img1" loading="lazy">

      <p>
        Như vậy, bạn đã hoàn tất quá trình <b>yêu cầu bồi hoàn phí</b>. Nếu bạn gặp khó khăn xin vui lòng liên hệ hỗ trợ
        viên <a href="tel:0937573139" style="color: #40a5ec; font-weight: bold">Mr.Long - SĐT, Zalo,
          Viber 093.757.3139</a>
        để được trợ giúp.
      </p>
    </div>

  </div>

</div>