.container {
  padding: 15px 30px 15px 30px;

  width: 100%;

  .title1 {
    padding: 15px;

    background-color: whitesmoke;
    color: gray;
    font-size: 16px;
    font-weight: bold;

    .account-id {
      color: black;
    }

    box-shadow: 2px 2px 5px silver;
  }

  .title2 {
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: justify;

    .advise {
      font-size: 12px;
    }
  }

  .success-badge {
    margin-right: 5px;
    background-color: #4bb543;
    color: white;
    padding: 4px;
    box-shadow: 1px 1px 2px silver;
    font-size: 10px;
    font-weight: bold;
  }

  .table-wrapper {
    margin-top: 10px;
    box-shadow: 2px 2px 5px silver;
    overflow: auto;

    mat-table {
      width: 100%;
      box-shadow: none;
    }

    mat-row {
      transition: 0.2s;
    }

    mat-row:hover {
      background-color: whitesmoke;
    }

    mat-cell,
    mat-header-cell {
      display: flex;
      justify-content: center;
    }

    mat-header-cell:nth-child(1),
    mat-cell:nth-child(1) {
      justify-content: left;
    }

    mat-header-cell:nth-child(7),
    mat-cell:nth-child(7) {
      padding-top: 10px;
      flex: 0 0 20%;
    }

    mat-row,
    mat-header-row {
      min-width: 1000px;
      width: 100%;
    }
  }

  .empty-report-notification {
    background-color: #eee;
    padding: 20px;
    border-left: 4px solid darkorange;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 15px;
  }
}
