<div class="container">
  <div class="title1">
    CẤU HÌNH CHẶN THEO THIẾT BỊ - TÀI KHOẢN <span class="account-id">{{_sessionService.activeAccountId || ''}}</span>
  </div>

  <div class="title2">
    Kết quả có được theo thống kê từ ngày 25/05/2019 đến ngày 08/06/2019
    <br><br>
    <span class="success-badge">MẸO</span> Bạn có thể dừng quảng cáo trên các thiết bị mang lại hiệu quả quảng cáo thấp
  </div>

  <form [formGroup]="form">

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="device">
        <mat-header-cell *matHeaderCellDef> Thiết bị </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.device}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef> Chi phí </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="display">
        <mat-header-cell *matHeaderCellDef> Hiển thị </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.display}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="click">
        <mat-header-cell *matHeaderCellDef> Click </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.click}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="guest">
        <mat-header-cell *matHeaderCellDef> Khách </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.guest}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="avgPosition">
        <mat-header-cell *matHeaderCellDef> Vị trí trung bình </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.avgPosition}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="costPerGuest">
        <mat-header-cell *matHeaderCellDef> Chi phí/Khách </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.costPerGuest}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="optimization">
        <mat-header-cell *matHeaderCellDef>Tối ưu</mat-header-cell>
        <mat-cell *matCellDef="let element">

            <app-select-text
            *ngIf="element.type === 'mobile'"
            (valueChanged)="submitForm()"
            [itemsSource]="optimizationItemsSource.mobile"
            [displayPath]="'text'"
            [valuePath]="'value'"
            [formControlName]="'mobile'"
            [title]="'Chọn hình thức'"></app-select-text>

            <app-select-text
            *ngIf="element.type === 'tablet'"
            (valueChanged)="submitForm()"
            [itemsSource]="optimizationItemsSource.tablet"
            [displayPath]="'text'"
            [valuePath]="'value'"
            [formControlName]="'tablet'"
            [title]="'Chọn hình thức'"></app-select-text>

            <app-select-text
            *ngIf="element.type === 'pc'"
            (valueChanged)="submitForm()"
            [itemsSource]="optimizationItemsSource.pc"
            [displayPath]="'text'"
            [valuePath]="'value'"
            [formControlName]="'pc'"
            [title]="'Chọn hình thức'"></app-select-text>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </form>

</div>
