.container {
  margin: 15px 30px 15px 30px;

  width: 100%;

  .title1 {
    padding: 15px;

    background-color: #eee;
    color: gray;
    font-size: 16px;
    font-weight: bold;

    .account-id {
      color: black;
    }
  }

  .title2 {
    padding-top: 30px;
    padding-bottom: 15px;
    
    text-align: justify;
  }

  .success-badge{
    background-color: #4bb543;
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
  }

  mat-table{
    margin-top: 20px;
  }

  mat-row:hover{
    background-color: #eeee;
  }

  mat-cell:nth-child(8){
    margin-right: 5px;
    margin-top: 10px;
  }
}
