.container {
  width: 100%;

  .title1 {
    padding: 95px 30px 45px 30px;
    background: url("../../../../assets/images/backgrounds/dark-material-bg.jpg");
    background-size: 100% 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;

  }

  .inner {
    .network-logo {
      height: 20px;
      width: 70px;
    }

    .pagination-buttons {
      display: table;
      margin: 0 auto;
      padding-left: 10px;
      color: gray;
    }

    .table-wrapper {
      margin-top: -17px;
      background-color: white;
      box-shadow: 1px 1px 4px silver;
      height: auto;
      overflow: auto;
      overflow-y: hidden;

      mat-table {
        box-shadow: none;
      }

      mat-header-cell:nth-child(1),
      mat-cell:nth-child(1) {
        flex: 0 0 5%;
      }

      mat-header-cell:nth-child(2),
      mat-cell:nth-child(2),
      mat-header-cell:nth-child(4),
      mat-cell:nth-child(4) {
        flex: 0 0 10%;
        justify-content: center;
      }

      mat-header-cell:nth-child(7),
      mat-cell:nth-child(7) {
        flex: 0 0 45%;
      }

      mat-header-row,
      mat-row {
        min-width: 1000px;
        width: 100%;
      }

      mat-header-cell {
        background: #039be5;
        color: white;
      }

      mat-row {
        transition: 0.2s;
      }

      mat-row:hover {
        background-color: rgba(3, 155, 229, 0.1);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
  }
}
