.container {
  padding: 0px 30px 15px 30px;
  width: 100%;

  .title1 {
    padding: 15px;
    background-color: #eee;
    color: gray;
    font-size: 16px;
    font-weight: bold;

    box-shadow: 2px 2px 5px silver;
    text-align: center;
  }

  .network-logo {
    height: 20px;
    width: 70px;
  }

  .table-wrapper {
    margin-top: -18px;
    background-color: white;
    height: 520px;
    overflow: auto;

    mat-table {
      box-shadow: none;
    }

    mat-header-cell:nth-child(1),
    mat-cell:nth-child(1) {
      flex: 0 0 5%;
    }

    mat-header-cell:nth-child(2),
    mat-cell:nth-child(2) {
      flex: 0 0 10%;
      display: flex;
      justify-content: center;
    }

    mat-header-cell:nth-child(6),
    mat-cell:nth-child(6) {
      flex: 0 0 45%;
    }

    mat-header-row,
    mat-row {
      min-width: 1000px;
      width: 100%;
    }

    mat-row {
      transition: 0.2s;
    }
    
    mat-row:hover{
      background-color: #eee;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 15px;
    padding-top: 0;
  }
}