.container {
  width: 100%;
  background: #e7ecf0;

  .title1 {
    padding: 45px 30px 0 45px;
    height: 25vh;
    // background-color: #000000 !important;
    // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%) !important;
    // background-color: #ffffb5;
    // background-image: linear-gradient(315deg, #ffffb5 0%, #247ba0 74%);
    background-color: #e0455f;
    background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
    text-shadow: 1px 1px 2px black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    //box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);

    .statistic {
      font-weight: normal;
      color: white;
      padding-top: 25px;
      font-size: 14px;
      display: flex;
      align-items: center;

      mat-icon {
        font-size: 18px;
      }

      .number {
        font-weight: bolder;
        color: white;
      }
    }

    .adsId {
      color: yellow;
      margin-left: 5px;
    }
  }

  .inner {
    position: relative;
    z-index: 10;
    top: -57px;

    .network-logo {
      height: 20px;
      width: 70px;
    }

    .pagination-buttons {
      display: table;
      margin: 0 auto;
      color: gray;
      margin: -20px 45px 0 45px;
    }

    .table-wrapper {
      background-color: white;
      height: auto;
      overflow: auto;
      overflow-y: hidden;

      border-radius: 7px;
      box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
      margin: 40px;
      margin-top: 0;

      mat-table {
        box-shadow: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .ip-detail-link {
          color: crimson;
          font-weight: bold;
          padding-left: 2px;
          transition: 0.2s;
          font-size: 11px;

          &:hover {
            background: rgba(3, 155, 229, 0.05);
          }
        }

        .view-campaign-button {
          margin-left: 10px;
          font-size: 11px;
          background: none;
          color: #039be5;
          box-shadow: none;
          border: 0;
          height: 30px;
          display: flex;
          align-items: center;
        }

        mat-header-cell:nth-child(1),
        mat-cell:nth-child(1) {
          flex: 0 0 3%;
        }

        mat-header-cell:nth-child(2),
        mat-cell:nth-child(2),
        mat-header-cell:nth-child(4),
        mat-cell:nth-child(4) {
          flex: 0 0 10%;
          justify-content: center;
        }

        mat-cell:nth-child(2) {
          mat-icon {
            margin-top: -5px;
          }
        }

        mat-header-cell:nth-child(4),
        mat-cell:nth-child(4) {
          mat-icon {
            font-size: 14px;
            margin-top: 6px;
          }
        }

        mat-header-cell:nth-child(6),
        mat-cell:nth-child(6) {
          flex: 0 0 17%;
        }

        mat-header-cell:nth-child(8),
        mat-cell:nth-child(8) {
          justify-content: center;
        }

        mat-header-cell:nth-child(9),
        mat-cell:nth-child(9),
        mat-header-cell:nth-child(10),
        mat-cell:nth-child(10),
        mat-header-cell:nth-child(11),
        mat-cell:nth-child(11) {
          flex: 0 0 8%;
          justify-content: center;
        }

        mat-header-row,
        mat-row {
          min-width: 1200px;
          width: 100%;
        }

        mat-header-cell {
          //background: rgba(217, 83, 79, 1);
          background: whitesmoke;
          color: rgba(0, 0, 0, 0.7);
          font-weight: bold;
        }

        mat-cell {
          padding-top: 5px;
          padding-bottom: 5px;

          mat-icon {
            font-size: 16px;
          }
        }

        mat-header-cell,
        mat-cell {
          font-size: 11px;
        }

        mat-row {
          transition: 0.2s;

          -webkit-animation: rowAppearance 0.4s linear;
          @keyframes rowAppearance {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }

          &:nth-child(odd) {
            background: whitesmoke;
          }

          &:hover {
            background-color: rgba(217, 83, 79, 0.1);

            .campaign {
              background: rgba(217, 83, 79, 0.1);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      height: 30vh;
      padding-left: 20px;
      padding-right: 20px;
    }
    .inner {
      .table-wrapper {
        margin: 15px;
        margin-top: 0;
      }

      .pagination-buttons {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}
