.container {
  // background-color: #7fcec5;
  // background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
  background: url("../../../../assets/images/backgrounds/simple2.png");
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;

  .inner-container {
    //background: rgba(0, 0, 0, 0.3);
    .inner {
      padding: 60px 30px 30px 30px;

      .form {
        width: 60%;
        display: table;
        margin: 0 auto;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        background-color: white;
        padding: 80px 50px 20px 50px;
        border-radius: 7px;

        -webkit-animation: InDown 0.4s ease-out;
        animation: InDown 0.4s ease-out;

        @keyframes InDown {
          from {
            transform: translateY(-100vh);
          }
          to {
            transform: translateY(0vh);
          }
        }

        .title1 {
          background-color: white;
          display: table;
          margin: 0 auto;
          font-size: 18px;
          width: 70%;
          font-size: 18px;
          color: rgba(0, 0, 0, 0.7);
          padding-bottom: 30px;
        }

        .user-info {
          padding: 20px;
          padding-top: 10px;
          border-radius: 5px;
          //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          border: 1px solid #eee;
          background-color: white;

          .avatar {
            text-align: center;
            width: 100%;

            img {
              border-radius: 50%;
              height: 100px;
              width: 100px;
              display: table;
              margin: 0 auto;
            }
          }
        }

        .title2 {
          padding-bottom: 10px;
          color: gray;
        }

        mat-divider {
          margin-bottom: 30px;
        }

        .change-password {
          padding: 20px;
          background: white;
          border-radius: 5px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          margin-top: 20px;
        }

        .submit-button {
          margin-top: 20px;
          background-color: #44b453;
          color: white;

          mat-icon {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .inner-container {
      .inner {
        padding: 15px;

        .form {
          width: 100%;
          padding: 10px;
          padding-top: 20px;

          .title1 {
            padding-bottom: 20px;
            font-size: 18px;
          }

          .user-info {
            .info {
              padding-top: 110px;
            }
          }
        }
      }
    }
  }
}
