<div class="container">

	<form [formGroup]="form" novalidate class="form">
		<div class="title1 text-center">
			THAY ĐỔI THÔNG TIN TÀI KHOẢN
		</div>

		<app-input-text [formControlName]="'email'" [title]="'Email(*)'" [pristine]="true" [icon]="'mail'"
			[errors]="getMessageErrors('email')" [(ngModel)]="userInfo.email"></app-input-text>
			
		<app-input-text [formControlName]="'name'" [title]="'Họ và Tên'" [pristine]="true" [icon]="'person_outline'"
			[errors]="getMessageErrors('name')" [(ngModel)]="userInfo.name"></app-input-text>

		<app-input-text [formControlName]="'phone'" [title]="'Số điện thoại'" [pristine]="true" [icon]="'phone'"
			[errors]="getMessageErrors('phone')"></app-input-text>

		<mat-divider></mat-divider>

		<p class="text-center title2"><strong>CẬP NHẬT MẬT KHẨU</strong></p>

		<app-input-text [formControlName]="'password'" [title]="'Mật khẩu cũ'" [pristine]="true" [type]="'password'"
			[icon]="'vpn_key'" [errors]="getMessageErrors('password')"></app-input-text>

		<app-input-text [formControlName]="'confirmedPassword'" [title]="'Mật khẩu mới'" [pristine]="true"
			[type]="'password'" [icon]="'vpn_key'" [errors]="getMessageErrors('confirmedPassword')"></app-input-text>

		<p class="text-center">
			<button mat-raised-button color="accent" class="submit-button" aria-label="Cập nhật"
				(click)="onClickBtnSubmit()">
				<mat-icon>check</mat-icon> CẬP NHẬT
			</button>
		</p>
	</form>
</div>