.container {
  // background-color: #537895;
  // background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  background: url("../../../../assets/images/backgrounds/loading-bg1.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;

  width: 100%;

  .inner-container {
    background: rgba(0, 0, 0, 0.5);
    .inner {
      padding: 50px 30px 30px 30px;

      .form {
        width: 70%;
        display: table;
        margin: 0 auto;
        filter: drop-shadow(2px 2px 3px black);
        background-color: whitesmoke;
        padding: 40px 50px 20px 50px;

        -webkit-animation: formAnimation 0.4s ease-out;

        @keyframes formAnimation {
          from {
            transform: translateY(-100vh)
          } to {
            transform: translateY(0vh)
          }
        }

        .title1 {
          background-color: whitesmoke;
          display: table;
          margin: 0 auto;
          font-size: 18px;
          width: 70%;
          font-size: 16px;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.7);
          padding-bottom: 30px;
        }

        .user-info {
          padding: 20px;
          padding-top: 10px;
          border-radius: 5px;
          box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
          background-color: white;

          .avatar {
            text-align: center;
            width: 100%;

            img {
              border-radius: 50%;
              height: 122px;
              width: 122px;
              display: table;
              margin: 0 auto;
            }
          }
        }

        .title2 {
          padding-bottom: 10px;
          color: gray;
        }

        mat-divider {
          margin-bottom: 30px;
        }

        .change-password {
          padding: 20px;
          background: white;
          border-radius: 5px;
          box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
          margin-top: 20px;
        }

        .submit-button {
          margin-top: 20px;
          background-color: #44b453;
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .inner-container {
      .inner {
        padding: 15px;
        padding-top: 80px;

        .form {
          width: 100%;
          padding: 10px;
          padding-top: 20px;

          .title1 {
            padding-bottom: 20px;
            font-size: 18px;
          }

          .user-info {
            .info {
              padding-top: 110px;
            }
          }
        }
      }
    }
  }
}
