<mat-form-field appearance="outline">
  <mat-label>{{title}}</mat-label>
  <mat-select
              [compareWith]="compareFn"
              [(value)]="_selectedItems"
              [disabled]="isDisabled"
              [errorStateMatcher]="matcher"
              (selectionChange)="selected($event)">
    <mat-option *ngFor="let item of itemsSource"
                [disabled]="item.isDisabled === true"
                [value]="item">{{item[displayPath]}}</mat-option>
  </mat-select>
  <mat-icon matSuffix *ngIf="icon">{{icon}}</mat-icon>
  <mat-hint class="err">
    <div *ngFor="let m of errors">{{m}}</div>
  </mat-hint>
</mat-form-field>
