<mat-form-field appearance="outline">
  <mat-label>{{title}}</mat-label>
  <input matInput
         type="text"
         [disabled]="isDisabled"
         [placeholder]="placeholder"
         [(ngModel)]="innerValue"
         [errorStateMatcher]="matcher"
         (focus)="onFocus()"
         (blur)="onLostFocus()"
         (ngModelChange)="onInputChange()">
  <mat-icon matSuffix *ngIf="icon">{{icon}}</mat-icon>
  <mat-error *ngIf="!pristine && ngControl.invalid">
    <div *ngFor="let m of errors" class="error">{{m}}</div>
  </mat-error>
  <mat-error *ngIf="pristine && ngControl.invalid">
    <div class="error">{{errors[0]}}</div>
  </mat-error>

</mat-form-field>
