<div class="container">
  <div class="title1">
    GẮN TRACKING THEO DÕI CHIẾN DỊCH TÀI KHOẢN <span style="color: black">{{_sessionService.activeAdsAccountId}}</span>
  </div>

  <p class="usage">
    <b>Công dụng của Tracking:</b> Tracking là đoạn mã nhỏ, tích hợp vào trong quảng cáo AdWords để theo dõi hoạt động
    bấm quảng cáo
  </p>

  <div class="tracking-example">
    <img mat-card-image src="../../../../assets/images/huong-dan-tracking.jpg" alt="Photo about tracking">
  </div>

  <p class="title2">
    <span style="color: dodgerblue">[GẮN MÃ]</span> CHỌN CHIẾN DỊCH CẦN GẮN MÃ
  </p>

  <form class="form">

    <p class="table-title">Chọn chiến dịch để gắn tracking (nên chọn tất cả)</p>

    <div class="table-wrapper" *ngIf="campaignList.length > 0">

      <mat-table [dataSource]="campaignList" class="mat-elevation-z8">

        <ng-container matColumnDef="order">
          <mat-header-cell *matHeaderCellDef> STT </mat-header-cell>
          <mat-cell *matCellDef="let i = index"> {{i+1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Chiến dịch </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        "let element"
        <ng-container matColumnDef="tracking">
          <mat-header-cell *matHeaderCellDef> Gắn mã </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-checkbox (change)="onSelectCampaign($event, element.id)"></mat-checkbox>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>

    <p style="text-align: center" *ngIf="campaignList.length > 0">
      <button (click)="addCampaignTracking()" mat-raised-button class="submit-button" color="warn">
        <mat-icon>location_searching</mat-icon> GẮN MÃ TRACKING
      </button>
    </p>

  </form>

  <p class="notification" *ngIf="campaignList.length === 0">
    Chúng tôi không tìm thấy chiến dịch nào đang chạy. Vui lòng thử lại hoặc <span style="color: dodgerblue">liên
      hệ</span> với hỗ trợ viên để được giúp đỡ.
  </p>

</div>