<div class="container">
  <div class="title1">
    GẮN TRACKING THEO DÕI ADWORDS
  </div>

  <p class="usage">
    <b>Công dụng của Tracking:</b> Tracking là đoạn mã nhỏ, tích hợp vào trong quảng cáo AdWords để theo dõi hoạt động
    bấm quảng cáo
  </p>

  <div class="tracking-example">
    <img mat-card-image src="https://files.slack.com/files-pri/THXMMTH2T-FL9V2KSTC/ma-traking-theo-doi-quang-cao.jpg"
      alt="Photo about tracking">
  </div>

  <p class="title2">
    <span style="color: dodgerblue">[GÁN MÃ]</span> CHỌN CHIẾN DỊCH CẦN GÁN MÃ
  </p>

  <form class="form">

    <p class="table-title">Chọn chiến dịch để gắn tracking (nên chọn tất cả)</p>

    <div class="table-wrapper">

      <mat-table [dataSource]="campaignList" class="mat-elevation-z8">

        <ng-container matColumnDef="order">
          <mat-header-cell *matHeaderCellDef> STT </mat-header-cell>
          <mat-cell *matCellDef="let i = index"> {{i+1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Chiến dịch </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Trạng thái </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.status === 'Hoạt động'" class="enable-status">
              {{element.status}}
            </span>
            <span *ngIf="element.status === 'Đang dừng'" class="disabled-status">
              {{element.status}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tracking">
          <mat-header-cell *matHeaderCellDef> Gán mã </mat-header-cell>
          <mat-cell *matCellDef>
            <mat-checkbox></mat-checkbox>
          </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>

    <p style="text-align: center">
      <button type="submit" mat-raised-button class="submit-button" color="accent">
        <mat-icon>crop_free</mat-icon> GÁN MÃ TRACKING
      </button>
    </p>

  </form>

</div>