.container {
  padding: 15px 30px 15px 30px;
  width: 100%;
  box-shadow: 2px 2px 5px silver;

  .title1 {
    padding: 15px;
    background-color: #039be5;
    color: white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 2px 5px silver;
  }

  .title2 {
    margin-top: 50px;
    font-weight: bold;
    text-align: justify;
  }

  .usage {
    text-align: justify;
    color: gray;
    padding-top: 20px;
  }

  .tracking-example {
    margin-top: 20px;

    img {
      width: 100%;
      box-shadow: 2px 2px 5px silver;
    }
  }

  .table-title {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
  }

  .notification{
    display: table;
    margin: 0 auto;
    text-align: center;
    background-color: #eee;
    width: 80%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 5px solid darkorange;
  }

  .table-wrapper {
    height: 500px;
    box-shadow: 2px 2px 5px silver;
    background-color: white;
    overflow: auto;

    mat-table {
      width: 100%;
      box-shadow: none;
    }

    mat-row:hover {
      background-color: #eeee;
    }

    mat-header-cell,
    mat-cell {
      display: flex;
      justify-content: center;

      flex: 0 0 15%;
    }

    mat-header-cell:nth-child(1),
    mat-cell:nth-child(1) {
      flex: 0 0 10%;
      justify-content: left;
    }


    mat-header-cell:nth-child(2),
    mat-cell:nth-child(2) {
      justify-content: left;
      flex: 0 0 70%;
    }

    mat-row,
    mat-header-row {
      min-width: 1000px;
      width: 100%;
    }
  }

  .submit-button {
    margin: 0 auto;
    margin-top: 10px;
  }

  .enable-status {
    color: dodgerblue;
  }

  .disabled-status {
    color: silver;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .submit-button {
    font-size: 12px;
  }
}
