.container {
  width: 100%;
  height: 90vh;

  .title1 {
    padding: 60px 30px 0 45px;
    height: 27vh;
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    text-shadow: 1px 1px 2px black;
    color: white;
    font-size: 16px;
    font-weight: bold;

    .adsId {
      color: yellow;
      margin-left: 5px;
    }
  }

  width: 100%;

  .inner {
    padding: 15px 30px 30px 30px;
    margin: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: white;
    border-radius: 7px;
    position: relative;
    top: -15vh;

    -webkit-animation: formAni 0.4s ease-out;
    animation: formAni 0.4s ease-out;

    .title2 {
      padding-top: 30px;
      padding-bottom: 15px;

      font-weight: bold;
    }

    .notification {
      text-align: justify;
      padding-top: 20px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.7);
    }

    mat-divider {
      margin-top: 30px;
    }

    .ban-ip-form {
      margin-top: 25px;
      background-color: white;
      border-radius: 7px;
    }

    .button-area {
      margin-top: 15px;

      mat-icon {
        font-size: 18px;
        margin-top: 2px;
      }
    }

    .step {
      font-weight: bold;
    }

    .banned-ip-info {
      border-radius: 7px;
      margin-top: 30px;
      padding: 30px 15px 15px 30px;
      background: rgba(3, 155, 229, 0.1);
      border-left: 6px solid #039be5;
      text-align: justify;
      font-size: 12px;

      -webkit-animation: infoAni 0.4s ease-in;
      animation: infoAni 0.4s ease-in;
      @keyframes infoAni {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .blocked-ip {
        color: #039be5;
        font-weight: bold;
      }

      .unblock-ip-button {
        background: rgba(0, 0, 0, 0.05);
      }
    }

    @keyframes formAni {
      from {
        transform: translateY(100vh);
      }
      to {
        transform: translateY(0);
      }
    }

    .success-button {
      background-color: #4bb543;
      color: white;
    }

    .next-icon {
      font-size: 14px;
      margin-left: 7px;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      text-align: center;
      padding: 45px 20px 20vh 20px;
      height: 33vh;
    }

    .inner {
      padding: 15px;
      margin: 10px;

      .banned-ip-info {
        font-size: 11px;
      }
    }
  }
}
