.container {
  .title1 {
    padding: 94px 60px 27px 30px;

    background-color: #000000 !important;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%) !important;
    color: white;
    font-size: 16px;
    font-weight: bold;

    .account-id {
      color: yellow;
    }
  }

  width: 100%;

  .inner {
    padding: 15px 30px 15px 30px;

    .title2 {
      padding-top: 30px;
      padding-bottom: 15px;

      font-weight: bold;
    }

    .notification {
      text-align: justify;
      padding-top: 20px;
    }

    .ban-ip-form {
      margin-top: 25px;
      padding: 15px;

      box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
      background-color: white;
    }

    .button-area {
      margin-top: 15px;
    }

    .step {
      font-weight: bold;
    }

    .banned-ip-info {
      margin-top: 30px;
      padding: 20px;

      background-color: rgba(217, 83, 79, 0.1);
      border-left: 7px solid rgba(217, 83, 79, 1);

      text-align: justify;

      box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);

      button {
        border-radius: 0;
      }
    }

    .success-button {
      background-color: #4bb543;
      color: white;
    }

    .next-icon {
      font-size: 18px;
      margin-left: 5px;
    }
  }
}

@media screen and (max-width: 600px) {
  .container{
    .inner {
      padding: 15px;
    }
  }
}
