.clear {
  clear: both;
}
.container {
  width: 100%;

  .main-title {
    background-color: #000000 !important;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%) !important;
    color: white;
    font-size: 16px;
    padding: 79px 30px 0px 30px;
    font-weight: bold;

    .main-title-text {
      float: left;
      padding-top: 15px;
    }

    .datePicker {
      width: 250px;
      float: right;
      color: black;

      input {
        color: white;
      }
    }
  }

  .section {
    margin: 20px;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    border-radius: 4px;
    padding-bottom: 10px;
    background-color: white;

    .datePicker {
      width: 250px;
      float: right;
    }

    .click-total {
      position: relative;
      left: 50%;
      top: -110px;
      width: 50px;
      height: 50px;
      -webkit-transform: translate(-50%, -110px);
      transform: translate(-50%, -110px);
    }

    .invalid-click-info {
      position: relative;
      left: 30%;
      top: -350px;
      height: 70px;
      width: 70px;
    }

    .valid-click-info {
      position: relative;
      left: 64.5%;
      top: -15px;
      height: 70px;
      width: 70px;
    }

    .click-number {
      font-size: 20px;
    }

    .click-percentage {
      background: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 2px 4px 2px 4px;
      border-radius: 6px;
      font-size: 12px;
    }

    .title1 {
      padding: 30px;
      // background-color: #000000 !important;
      // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%) !important;
      // color: white;
      font-size: 16px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.7);

      .datePicker {
        color: #039be5;

        input {
          color: white;
        }
      }
    }

    .pagination-buttons {
      padding: 10px;
      color: gray;

      .item-per-page-options {
        mat-form-field {
          width: 100%;
        }
      }
    }

    .pie-chart-report-title {
      padding-bottom: 0;
    }

    .div-pie-chart {
      width: 100%;
      padding-top: 20px;
    }
  }

  .full-view-button {
    border-radius: 15px;
    background-color: #eee;
    color: gray;
  }

  .div-line-chart {
    padding-bottom: 0;
  }

  .line-chart-options {
    padding: 20px;

    .mat-radio-button ~ .mat-radio-button {
      margin-left: 16px;
    }
  }

  .left,
  .right {
    margin: 10px;
    margin-bottom: 0;
    border-radius: 0;
  }

  .left {
    margin: 0;
    border-radius: 0;
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .tables {
    padding-top: 0;
    min-height: 500px;

    mat-table {
      box-shadow: none;

      .ip-detail-link {
        font-weight: bold;
        padding-left: 2px;
        transition: 0.2s;
        font-size: 12px;

        &:hover {
          background: rgba(3, 155, 229, 0.1);
        }
      }

      mat-row {
        transition: 0.2s;

        &:hover {
          background-color: rgba(3, 155, 229, 0.1);
        }
      }

      mat-row,
      mat-header-row {
        min-width: 1000px;
        width: 100%;
      }

      mat-header-cell:last-child,
      mat-cell:last-child {
        justify-content: center;
      }

      mat-icon {
        font-size: 20px;
      }

      .ip-symbol {
        margin-right: 5px;
        margin-left: -5px;
        font-size: 18px;
      }

      mat-header-cell {
        background-color: #039be5;
        color: white;
        // background: rgba(3, 155, 229, 0.1);
      }

      mat-cell {
        font-size: 12px;
      }
    }
  }

  .left-table,
  .right-table {
    background-color: white;
    overflow: auto;
    border: 0.5px solid #eee;
  }

  .table-button {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 0;
  }

  :host ::ng-deep .pie-chart {
    margin-top: 30px;
    margin-bottom: 0;

    .pie-label {
      font-size: 20px !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {

    :host ::ng-deep .pie-chart {
      margin-top: 0;
      margin-bottom: -9vh;
  
      .pie-label {
        font-size: 16px !important;
      }
    }

    .main-title {
      .main-title-text {
        padding-bottom: 10px;
        clear: both;
      }

      .datePicker {
        width: 100%;
        clear: both;
      }
    }

    .section {
      margin: 10px;
      padding: 5px;

      .title1 {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }

      .click-total {
        font-size: 12px;
      }

      .click-number {
        font-size: 14px;
      }

      .div-pie-chart {
        padding: 0;
        padding-top: 30px;
      }

      .pagination-buttons {
        .item-per-page-options {
          width: 50%;
        }
      }
    }

    .left {
      padding-left: 10px;
      padding-right: 10px;
    }

    :host ::ng-deep .pie-chart {
      margin-top: -60px;

      .pie-label {
        font-size: 12px !important;
      }
    }
  }
}
