$primaryFontSize: 12px;
$primaryBorderRadius: 5px;
$headerForeColor: whitesmoke;
$headerTextShadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
$primarySectionMargin: 10px;
$primaryPadding: 10px;
$primaryMargin: 10px;

.container {
  width: 100%;
  padding: (2.25 * $primaryPadding) $primaryPadding;

  background-color: #00a1e0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%2300a1e0' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%231095d2' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%231889c3' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%231c7eb5' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%231e72a7' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%231f6799' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  .primary-title {
    letter-spacing: 1px !important;
    font-family: "Quicksand", sans-serif !important;
    font-weight: bold !important;
  }

  .header {
    padding-left: $primaryPadding * 2.25;
    color: $headerForeColor;
    font-size: $primaryFontSize + 4;
    text-shadow: $headerTextShadow;

    /* Border */
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      color: silver !important;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.5em 0 0.5em 0 !important;
    }

    .header__icon {
      font-size: 18px;
      margin-right: 7px;
      margin-top: -5px;
    }

    .header__text {
      padding-top: 15px;
      line-height: 35px;
      width: 100%;
      @extend .primary-title;
    }

    .header__adsId {
      margin-left: 10px;
      color: white;
      background: rgba(255, 255, 255, 0.2);
      padding: 0 6px 2px 6px;
      font-size: $primaryFontSize + 2;
      border-radius: 12px;
      max-width: 120px;
      margin: 0 auto;
    }

    mat-label {
      color: $headerForeColor;
      font-size: $primaryFontSize + 1;
    }

    .header__website-selection {
      width: 250px;

      ::ng-deep .mat-select {
        .mat-select-value {
          color: $headerForeColor;
          font-size: $primaryFontSize;
          font-weight: bold;
        }
        .mat-select-arrow {
          color: $headerForeColor;
        }
      }
    }

    .header__date-picker {
      width: 250px;

      input {
        font-size: $primaryFontSize;
        font-weight: bold;
        text-shadow: $headerTextShadow;
      }
    }

    .header__no-website-notifier {
      font-size: $primaryFontSize;
    }
  }

  .content {
    border-radius: $primaryBorderRadius;

    .content__notifier {
      background: #e6ffe6;
      color: green;
      padding: 13px;
      border-left: 4px solid green;
      border-radius: $primaryBorderRadius;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      margin: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      -webkit-animation: notificationAni 0.4s ease-out;
      animation: notificationAni 0.4s ease-out;
      @keyframes notificationAni {
        from {
          transform: translateY(3vh);
        }
        to {
          transform: translateY(0);
        }
      }

      .highline1 {
        font-size: 12px;
        font-weight: bold;
        color: green;
      }

      .highline2 {
        font-size: 12px;
        font-weight: bold;
        color: green;
      }
    }

    .content__charts {
      padding-top: $primaryPadding;
    }

    .section {
      background: white;
      border-radius: $primaryBorderRadius;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      .section__title {
        padding: 3 * $primaryPadding;
        padding-bottom: 2 * $primaryPadding;
        font-size: $primaryFontSize;
        color: gray;
        text-align: center;
      }

      .section__title--2 {
        @extend .section__title;
        padding-top: $primaryPadding * 2;
      }

      &.section__pie-chart {
        padding: 0;
        position: relative;

        -webkit-animation: animation1 0.4s ease-out;
        animation: animation1 0.4s ease-out;
        @keyframes animation1 {
          from {
            transform: translateY(100vh);
          }
          to {
            transform: translateY(0);
          }
        }

        .section__pie-chart__div-pie-chart {
          width: 100%;
          height: 250px;

          .section__pie-chart__div-pie-chart__inner {
            height: 170px;

            :host ::ng-deep .pie-chart {
              margin-bottom: 0;
              margin-top: -15px;

              .pie-label {
                font-size: 18px !important;
              }
            }

            .click-total {
              position: relative;
              left: 50%;
              top: -48%;
              width: 50px;
              height: 50px;
              -webkit-transform: translate(-50%, -48%);
              transform: translate(-50%, -48%);
            }

            .click-number {
              font-size: 18px;
            }

            .click-number-text {
              color: gray;
              font-size: 11px;
            }
          }
        }

        .click-detail {
          width: 100%;
          display: table;
          margin: 0 auto;
          text-align: center;
          font-weight: bold;
          min-height: 90px;
          position: absolute;
          bottom: 0;

          .number {
            font-size: $primaryFontSize + 6;

            .percentage {
              font-size: $primaryFontSize;
              margin-left: 10px;
              color: gray;
              font-weight: normal;
            }
          }

          .detail-number {
            font-size: 11px;
            letter-spacing: 0.5px;
          }

          .real-click {
            color: green;
            padding: 10px 5px 0px 5px;
            border-bottom-left-radius: 7px;
            border-right: 1px solid #eee;
            border-top: 1px solid #eee;
            @extend .detail-number;
          }

          .spam-click {
            color: crimson;
            padding: 10px 5px 0px 5px;
            border-bottom-right-radius: 7px;
            border-top: 1px solid #eee;
            @extend .detail-number;
          }
        }
      }

      &.section__line-chart {
        padding-bottom: 0;
        -webkit-animation: animation2 0.6s ease-out;
        animation: animation2 0.6s ease-out;

        @keyframes animation2 {
          from {
            transform: translateY(100vh);
          }
          to {
            transform: translateY(0);
          }
        }

        .section__line-chart__inner {
          height: 280px;
        }
      }

      &.section__line-chart--2 {
        padding-bottom: 0;

        @keyframes animation3 {
          from {
            transform: translateY(100vh);
          }
          to {
            transform: translateY(0);
          }
        }

        .section__line-chart2__inner {
          height: 160px;
        }

        &:nth-of-type(1) {
          -webkit-animation: animation3 0.8s ease-out;
          animation: animation3 0.8s ease-out;
        }

        &:nth-of-type(2) {
          -webkit-animation: animation3 1s ease-out;
          animation: animation3 1s ease-out;
        }

        &:nth-of-type(3) {
          -webkit-animation: animation3 1.2s ease-out;
          animation: animation3 1.2s ease-out;
        }
      }

      &.section__list-ip {
        margin-top: $primarySectionMargin;
        border-radius: $primaryBorderRadius;

        -webkit-animation: animation4 1.4s ease-out;
        animation: animation4 1.4s ease-out;
        @keyframes animation4 {
          from {
            transform: translateY(100vh);
          }
          to {
            transform: translateY(0vh);
          }
        }

        .section__list-ip__wrapper {
          overflow: auto;
          mat-table {
            box-shadow: none;

            .ip-detail-link {
              font-weight: bold;
              padding-left: 2px;
              transition: 0.2s;
              font-size: $primaryFontSize - 2;

              &:hover {
                background: rgba(3, 155, 229, 0.1);
              }
            }

            mat-row {
              transition: 0.2s;

              &:nth-child(odd) {
                background: whitesmoke;
              }

              &:hover {
                background-color: rgba(3, 155, 229, 0.05);
              }

              -webkit-animation: rowAppearance 0.4s linear;
              animation: rowAppearance 0.4s linear;
              @keyframes rowAppearance {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
            }

            mat-row,
            mat-header-row {
              min-width: 1100px;
              width: 100%;
            }

            mat-header-cell:nth-child(2),
            mat-cell:nth-child(2),
            mat-header-cell:nth-child(7),
            mat-cell:nth-child(7) {
              flex: 0 0 10%;
            }

            mat-header-cell:nth-child(8),
            mat-cell:nth-child(8) {
              justify-content: center;
            }

            mat-header-cell:nth-child(3),
            mat-cell:nth-child(3),
            mat-header-cell:nth-child(6),
            mat-cell:nth-child(6),
            mat-header-cell:nth-child(9),
            mat-cell:nth-child(9),
            mat-header-cell:nth-child(10),
            mat-cell:nth-child(10),
            mat-header-cell:nth-child(11),
            mat-cell:nth-child(11) {
              flex: 0 0 8%;
              justify-content: center;
            }

            mat-header-cell {
              background: whitesmoke;
              color: rgba(0, 0, 0, 0.7);
              font-weight: bold;
            }

            mat-cell {
              mat-icon {
                font-size: 14px;
                margin-top: 6px;
                margin-right: -5px;
              }
            }

            mat-header-cell,
            mat-cell {
              font-size: $primaryFontSize - 2;
            }
          }
        }
      }

      .section__pagination {
        padding: 15px 15px 0 15px;
        color: gray;

        .item-per-page-options {
          mat-form-field {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .header {
      text-align: center;
      padding-left: 0;

      .header__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .header__website-selection {
        margin-top: 10px;
        width: 100%;
      }
      .header__date-picker {
        margin-top: -10px;
        width: 100%;
      }
    }

    .content {
      .section {
        .section__pagination {
          .item-per-page-options {
            width: 50%;
          }
        }
      }

      :host ::ng-deep .pie-chart {
        .pie-label {
          font-size: 12px !important;
        }
      }
    }
  }
}
