<div class="container">
  <div class="title1">
    WEBSITE ĐANG QUẢNG CÁO TRONG TÀI KHOẢN <b><span [(ngModel)]="selectedAdsId" ngDefaultControl
        style="color:black">{{selectedAdsId}}</span></b>
  </div>
  <p style="margin-top: 30px">
    <b>Bạn cần thêm 1 website để sử dụng các tính năng của hệ thống</b>
  </p>
  <ul style="list-style: none">
    <li>
      <mat-icon class="list-check">check</mat-icon> Theo dõi khách đang truy cập website thông qua <span
        style="color: red; font-weight: bold">Khách Đang Truy Cập</span>
    </li>
    <li>
      <mat-icon class="list-check">check</mat-icon> Tích hợp tất cả các công cụ thu thập thông tin khách hàng, giúp bạn
      có nhiều thông tin khách hàng hơn
    </li>
    <li>
      <mat-icon class="list-check">check</mat-icon> Đồng bộ thông tin khách hàng vào tập khách hàng "<span
        style="color: red; font-weight: bold">THEO DÕI</span>", dễ dàng triển khai
      quảng cáo "<span style="color: red; font-weight: bold">BÁM ĐUÔI</span>"
    </li>
  </ul>

  <hr style="border: 0.5px solid #DCDCDC; margin-top: 30px; margin-bottom: 30px">

  <form [formGroup]="form" (ngSubmit)="onSubmitForm()">

    <p><strong>Tài Khoản AdWords Đang Quảng Cáo Cho Website Này</strong></p>
    <app-select-text (valueChanged)="onSelectAdsId($event)" [itemsSource]="accountItemsSource" [displayPath]="'text'"
      [valuePath]="'value'" [title]="'Chọn tài khoản AdWords'" [formControlName]="'adsId'"></app-select-text>

    <p>
      <strong>Tên miền (domain) website của bạn vào ô bên dưới</strong>
    </p>
    <div fxLayout="row" fxLayout.xs="column">
      <app-input-text [formControlName]="'domain'" [errors]="getMessageErrors('domain')"
        [title]="'Nhập tên miền của bạn'"></app-input-text>
      <button type="submit" mat-raised-button color="accent" class="add-website-button" [disabled]="onAddingDomain">
        THÊM WEBSITE
      </button>
    </div>
  </form>

  <br><span><b><span style="color: red">*</span>Lưu ý:</b> Tên miền phải kèm theo <span
      style="color: dodgerblue">http://</span> hoặc <span style="color: dodgerblue">https://</span></span>

  <hr style="border: 0.5px solid #DCDCDC; margin-top: 30px; margin-bottom: 20px">

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
    <p><strong>CÁC WEBSITE CỦA BẠN TRONG TÀI KHOẢN: <span [(ngModel)]="selectedAdsId" ngDefaultControl
        style="color: dodgerblue">{{selectedAdsId}}</span></strong></p>
    <button mat-raised-button class="update-website-list-button" (click)="getWebsites()">
      <mat-icon>sync</mat-icon> Cập nhật
    </button>
  </div>

  <div class="table-wrapper">
    <mat-table [dataSource]="websites" class="mat-elevation-z8">

      <ng-container matColumnDef="order">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let i = index"> {{i + 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="website">
        <mat-header-cell *matHeaderCellDef> Website cần gắn tracking </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a href="{{element.domain}}" target="_blank">{{element.domain}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tracking">
        <mat-header-cell *matHeaderCellDef> Gắn tracking </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button *ngIf="element.isTracking" mat-stroked-button color="accent">
            <mat-icon>check</mat-icon> Hoàn
            thành
          </button>
          <a *ngIf="!element.isTracking" mat-stroked-button matTooltip="Nhấn để tiến hành gắn tracking"
            style="color: crimson; border: 0; padding-left: 0">
            <mat-icon>close</mat-icon> Chưa có
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</div>