<div class="container">
  <div class="title1">
    WEBSITE ĐANG QUẢNG CÁO TRONG TÀI KHOẢN <b><span [(ngModel)]="selectedAdsId" ngDefaultControl
        style="color:yellow">{{selectedAdsId}}</span></b>
  </div>

  <div class="inner">
    <p style="margin-top: 30px">
      <b>Bạn cần thêm 1 website để sử dụng các tính năng của hệ thống</b>
    </p>
    <ul style="list-style: none">
      <li>
        <mat-icon class="list-check">check</mat-icon> Theo dõi khách đang truy cập website thông qua <span
          style="color: crimson; font-weight: bold">khách đang truy cập</span>.
      </li>
      <li>
        <mat-icon class="list-check">check</mat-icon> Tích hợp tất cả các công cụ thu thập thông tin khách hàng,
        giúp bạn
        có nhiều thông tin khách hàng hơn.
      </li>
      <li>
        <mat-icon class="list-check">check</mat-icon> Đồng bộ thông tin khách hàng vào tập khách hàng <span
          style="color: crimson; font-weight: bold">theo dõi</span>, dễ dàng triển khai
        quảng cáo <span style="color: crimson; font-weight: bold">bám đuôi</span>.
      </li>
    </ul>



    <form [formGroup]="form" (ngSubmit)="onSubmitForm()" class="main-form">

      <p *ngIf="user.licence.type === 'CUSTOM'"><strong>Tài Khoản Google Ads đang quảng cáo cho website này</strong></p>
      <app-select-text (valueChanged)="onSelectAdsId($event)" [itemsSource]="accountItemsSource" [displayPath]="'text'"
        [valuePath]="'value'" [title]="'Chọn tài khoản Google Ads'" [formControlName]="'adsId'"
        [isDisabled]="isProcessing" *ngIf="user.licence.type === 'CUSTOM'"></app-select-text>

      <div *ngIf="isAddingWebsiteAllowed === true">
        <p>
          <strong>Vui lòng nhập tên miền website của bạn vào ô bên dưới</strong>
        </p>
        <div fxLayout="row" fxLayout.xs="column">
          <app-input-text [formControlName]="'domain'" [errors]="getMessageErrors('domain')"
            [title]="'Nhập tên miền của bạn'" [isDisabled]="isProcessing === true">
          </app-input-text>
          <button type="submit" mat-raised-button color="accent" class="add-website-button"
            [disabled]="isProcessing === true">
            <mat-icon style="font-size: 20px">add</mat-icon> THÊM WEBSITE
          </button>
        </div>
        <br><span><b><span style="color: crimson">*</span>Lưu ý:</b> Tên miền phải kèm theo <span
            style="color: #0093e5; font-weight: bold">http://</span> hoặc <span
            style="color: #0093e5; font-weight: bold">https://</span></span>
      </div>
      <p *ngIf="isAddingWebsiteAllowed === false" class="limit-website-notification">
        Số lượng website của tài khoản Google Ads này đã đạt tối đa. Vui
        lòng nâng cấp thêm <a routerLink="/nang-cap-vip">tại đây</a>
      </p>
    </form>

    <hr style="border: 0.5px solid #DCDCDC; margin-bottom: 20px">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxLayoutAlign="start center">
      <p><strong>CÁC WEBSITE TRONG TÀI KHOẢN <span [(ngModel)]="selectedAdsId" ngDefaultControl
            style="color: #0093e5">{{selectedAdsId}}</span></strong></p>
      <button mat-button class="update-website-list-button" color="accent" (click)="getWebsites()"
        [disabled]="isProcessing">
        <mat-icon style="font-size: 18px">sync</mat-icon>Cập nhật
      </button>
    </div>

    <div class="table-wrapper">
      <mat-table [dataSource]="websites" class="mat-elevation-z8">

        <ng-container matColumnDef="order">
          <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
          <mat-cell *matCellDef="let i = index"> {{i + 1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="website">
          <mat-header-cell *matHeaderCellDef> Website cần gắn tracking </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a href="{{element.domain}}" target="_blank">{{element.domain}}</a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tracking">
          <mat-header-cell *matHeaderCellDef> Gắn tracking </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button *ngIf="element.isTracking === true" mat-stroked-button color="accent" class="tracking-status">
              <mat-icon>check</mat-icon> Hoàn
              thành
            </button>
            <button *ngIf="element.isTracking === false" mat-stroked-button matTooltip="Nhấn để tiến hành gắn tracking"
              style="color: crimson" class="tracking-status"
              [routerLink]="['/gan-tracking/website', selectedAccountId]">
              <mat-icon>close</mat-icon> Chưa có
            </button>
            <button (click)="openRemoveWebsiteConfirmDialog(element.code)" class="delete-button" mat-icon-button
              color="accent" matTooltip="Xóa website" [disabled]="isProcessing">
              <mat-icon style="color: silver">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>

</div>