.container {
  width: 100%;
  height: 90vh;

  .title1 {
    // padding: 94px 30px 27px 30px;
    // background-color: #000000 !important;
    // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%) !important;
    // color: white;
    // font-size: 16px;
    // font-weight: bold;
    // padding: 40px 30px 0px 30px;
    // color: rgba(0, 0, 0, 0.7);

    background-color: #ffffb5;
    background-image: linear-gradient(315deg, #ffffb5 0%, #247ba0 74%);
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    font-weight: bold;
    color: white;
    //padding: 94px 30px 27px 30px;
    padding: 45px 30px 0 45px;
    height: 25vh;

    .adsId {
      color: yellow;
      margin-left: 5px;
    }
  }

  .inner {
    padding: 30px;
    margin: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: white;
    border-radius: 7px;
    position: relative;
    top: -15vh;

    ul {
      li {
        color: rgba(0, 0, 0, 0.7);
      }
    }

    -webkit-animation: formAni 0.4s ease-out;
    @keyframes formAni {
      from {
        transform: translateY(100vh);
      }
      to {
        transform: translateY(0);
      }
    }

    .list-check {
      font-size: 16px;
      color: green;
    }

    .update-website-list-button {
      max-height: 40px;
      max-width: 120px;
      padding-left: 5px;
      padding-right: 10px;
      margin-top: 2px;

      mat-icon {
        font-size: 18px;
      }
    }

    .main-form {
      padding-bottom: 20px;
      .add-website-button {
        height: 58px;
        margin: 2px;
        margin-top: 4px;
        font-size: 12px;
        min-width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        mat-icon {
          font-size: 16px;
          margin-top: 5px;
        }
      }

      .limit-website-notification {
        width: 100%;
        padding: 20px;
        border-left: 4px solid darkorange;
        background: lightyellow;
      }
    }

    .no-website-notification {
      color: gray;
      padding: 10px;
    }

    .website-list {
      margin-top: 30px;
      border: 0.5px solid #eee;
      border-radius: 7px;
      background: white;

      .table-title {
        color: rgba(0, 0, 0, 0.7);
        padding: 2.5px 20px 2.5px 20px;
        font-size: 14px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;

        button {
          font-weight: normal !important;
        }
      }

      .table-wrapper {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        background-color: white;
        border: 0.5px solid #eee;
        max-height: 500px;
        overflow: auto;
        box-shadow: none !important;

        mat-table {
          box-shadow: none;
        }

        mat-row,
        mat-header-row {
          min-width: 600px;
          width: 100%;
        }

        mat-row {
          transition: 0.2s;

          -webkit-animation: rowAppearance 0.4s linear;
          @keyframes rowAppearance {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }

          &:hover {
            background-color: rgba(3, 155, 229, 0.05);
          }
        }

        mat-header-cell:nth-child(1),
        mat-cell:nth-child(1) {
          flex: 0 0 15%;
        }

        mat-header-cell:nth-child(2),
        mat-cell:nth-child(2) {
          flex: 0 0 45%;
        }

        mat-cell:nth-child(3) {
          button:not(.delete-button) {
            width: 100%;
            text-align: left !important;
            border: 0;
            padding-left: 0;
          }

          .delete-button {
            margin-left: 20px;
          }
        }

        mat-cell {
          font-size: 12px;

          mat-icon {
            font-size: 20px;
          }

          .tracking-status {
            font-size: 12px;
            border: 0;
            padding-left: 0;
            max-width: 100px;
          }
        }

        mat-header-cell {
          background: whitesmoke;
          color: rgba(0, 0, 0, 0.7);
          font-weight: bold;
        }

        mat-header-row,
        mat-row {
          min-width: 650px;
          width: 100%;
        }
      }
    }

    li {
      text-align: justify;
      font-size: 12px;

      mat-icon {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      padding: 45px 20px 20vh 20px;
      height: 33vh;
    }

    .inner {
      padding: 30px 15px 15px 15px;
      margin: 15px;

      ul {
        padding-left: 5px;
        font-size: 12px;

        li {
          padding-bottom: 10px;
        }
      }

      .main-form {
        .add-website-button {
          height: 35px;
          margin-top: -5px;
        }
      }
    }
  }
}
