.container {
  padding: 15px 30px 15px 30px;

  width: 100%;

  .title1 {
    padding: 15px;

    background-color: #eee;
    color: gray;
    font-size: 16px;
    font-weight: bold;

    box-shadow: 2px 2px 5px silver;
  }

  .list-check {
    font-size: 16px;
    color: green;
  }

  .update-website-list-button {
    border-radius: 15px;
    max-height: 40px;
    max-width: 120px;
    padding-left: 5px;
    padding-right: 10px;
    color: gray;
  }

  .add-website-button {
    height: 60px;
    margin: 2px;
    border-radius: 0;
    padding-left: 5px;
  }

  .table-wrapper {
    background-color: white;
    box-shadow: 2px 2px 5px silver;
    height: 500px;
    margin-top: 10px;
    overflow: auto;

    mat-table {
      box-shadow: none;
    }

    mat-row,
    mat-header-row {
      min-width: 800px;
      width: 100%;
    }

    mat-row {
      transition: 0.2s;
    }

    mat-row:hover {
      background-color: #eeee;
    }

    mat-header-cell:nth-child(1),
    mat-cell:nth-child(1) {
      flex: 0 0 10%;
    }

    mat-header-cell:nth-child(2),
    mat-cell:nth-child(2) {
      flex: 0 0 75%;
    }

    mat-cell:nth-child(3) {
      button {
        width: 100%;
        text-align: left !important;
        border: 0;
        padding-left: 0;
      }
    }
  }

  li {
    text-align: justify;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 15px;

    ul {
      padding-left: 0px;
      font-size: 12px;
    }

    .add-website-button {
      height: 35px;
    }
  }
}
