@mixin academy-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $is-dark: map-get($theme, is-dark);

  #academy-courses {
    .header {
      background: #1a237e;
      background: linear-gradient(to right, #0e2a3b 0%, #34306b 100%);

      .hero-text {
        h1 {
          color: white;
        }

        h3 {
          color: rgba(255, 255, 255, 0.75);
        }
      }
    }

    .content {
      .courses {
        .course {
          .course-content {
            background: map-get($background, card);

            .header {
              .category {
                color: rgba(0, 0, 0, 0.54);
              }

              .length {
                .length-icon {
                  color: rgba(0, 0, 0, 0.54) !important;
                }

                .min {
                  color: rgba(0, 0, 0, 0.54);
                }
              }
            }

            .content {
              .updated {
                color: map-get($foreground, hint-text);
              }
            }
          }
        }
      }
    }
  }

  #academy-course {
    .sidebar {
      // background: map-get($background, app-bar);

      background-color: #d2d2d2;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23d2d2d2' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23dbdbdb' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23e4e4e4' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23ededed' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23f6f6f6' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23ffffff' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;

      .steps {
        .step {
          // background: map-get($background, app-bar);
          // color: map-get($accent, "50-contrast");

          &.current {
            @if ($is-dark) {
              background: map-get($background, app-bar);
              color: map-get($foreground, text);
            } @else {
              // background: map-get($accent, 50);
              // color: map-get($accent, "50-contrast");
              background: #039be5;
              color: white;
              border-top-left-radius: 24px;
              border-bottom-left-radius: 24px;
            }

            .index {
              span {
                @if ($is-dark) {
                  background: map-get($background, app-bar);
                  border-color: map-get($accent, default);
                } @else {
                  background: map-get($background, background);
                  border-color: map-get($accent, default);
                }
              }
            }
          }

          // &.completed {
          //   color: map-get($foreground, text);

          //   .index {
          //     span {
          //       border-color: map-get($accent, default);
          //     }

          //     &:after {
          //       border-left-color: map-get($accent, default);
          //     }
          //   }

          //   + .step {
          //     .index {
          //       &:before {
          //         border-left-color: map-get($accent, default);
          //       }
          //     }
          //   }
          // }

          .index {
            &:before,
            &:after {
              border-left-color: map-get($foreground, divider);
            }

            span {
              background: map-get($background, background);
              border-color: map-get($foreground, divider);
            }
          }
        }
      }
    }

    .center {
      .content {
        @if ($is-dark) {
          background: #353535;
        } @else {
          // background: mat-color($mat-grey, 200);
          background-color: #d2d2d2;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23d2d2d2' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23dbdbdb' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23e4e4e4' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23ededed' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23f6f6f6' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23ffffff' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
          background-attachment: fixed;
          background-size: cover;
        }

        .course-step {
          .course-step-content {
            background: map-get($background, card);
          }
        }
      }
    }
  }
}
