<div class="container">
  <div class="title1">
    CẤU HÌNH CHẶN TRÌNH DUYỆT ẨN DANH - TÀI KHOẢN <span class="account-id">{{sessionService.activeAdsAccountId}}</span>
  </div>

  <div class="inner">
    <p class="title2">
      Bằng việc cấu hình này, các quảng cáo sẽ <span style="color: crimson; font-weight: bold">không hiển thị</span> trên các thiết bị sử dụng
      <span style="color: #40a5ec; font-weight: bold">trình duyệt ẩn danh</span>, giúp tiết kiệm chi phí với những người dùng muốn <span
        style="color: crimson; font-weight: bold">ẩn thông tin</span> khi truy cập vào quảng cáo.
    </p>

    <div class="config-checking">
      <mat-checkbox [checked]="checked" (change)="checkSetting($event)" [disabled]="isProcessing">
        <b>Chặn trình duyệt ẩn danh</b>
      </mat-checkbox>
    </div>

    <p class="button-area">
      <button mat-raised-button color="accent" [disabled]="isProcessing" (click)="setBlockingAnonymousBrowser()">
        <mat-icon style="font-size: 20px">check</mat-icon> KÍCH HOẠT VÀ CẬP NHẬT CẤU HÌNH
      </button>
    </p>
  </div>

</div>