.container {
  width: 100%;
  height: 90vh;

  .title1 {
    padding: 60px 30px 0 45px;
    height: 27vh;
    background-color: #039be5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23039be5' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%230090de' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%230085d6' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23047bce' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%231070c6' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%231a65bd' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: bold;

    .account-id {
      color: yellow;
      margin-left: 5px;
    }
  }

  .inner {
    padding: 15px 30px 15px 30px;
    margin: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: white;
    border-radius: 7px;
    position: relative;
    top: -15vh;

    -webkit-animation: formAni 0.4s ease-out;
    animation: formAni 0.4s ease-out;
    @keyframes formAni {
      from {
        transform: translateY(100vh);
      }
      to {
        transform: translateY(0);
      }
    }

    .title2 {
      padding-top: 15px;
      padding-bottom: 15px;
      color: rgba(0, 0, 0, 0.7);
      font-size: 12px;
      text-align: justify;
    }

    .config-checking {
      font-size: 20px;
      padding-left: 10%;
      color: rgba(0, 0, 0, 0.8);
    }

    .button-area {
      text-align: center;
      padding-top: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      text-align: center;
      padding: 45px 20px 20vh 20px;
      height: 33vh;
    }
    .inner {
      padding: 15px;
      margin: 10px;

      .config-checking {
        padding: 0;
        text-align: center;
      }

      .button-area {
        button {
          font-size: 12px;
        }
      }
    }
  }
}
