<mat-form-field appearance="outline">
  <mat-label>{{title}}</mat-label>
  <input matInput
         type='text'
         mask='{{_mask}}'
         [disabled]="isDisabled"
         [(ngModel)]="_value"
         [class]="classes"
         [placeholder]="placeholder"
         (blur)="onGotBlur()"
         [errorStateMatcher]="matcher"
         [ngModelOptions]="{standalone: true}"
         (ngModelChange)="onChangeValue()"/>
  <mat-icon matSuffix *ngIf="icon">{{icon}}</mat-icon>
  <mat-error *ngIf="!pristine">
    <div *ngFor="let m of errors" class="error">{{m}}</div>
  </mat-error>
  <mat-error *ngIf="pristine">
    <div class="error">{{errors[0]}}</div>
  </mat-error>

</mat-form-field>
