.container {
  width: 100%;
  height: 90vh;

  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

  .main-title {
    background-color: #00a1e0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%2300a1e0' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%231095d2' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%231889c3' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%231c7eb5' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%231e72a7' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%231f6799' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    .main-title-inner {
      padding: 50px 20px 250px 20px;
      text-align: center;
      width: 100%;

      .notice {
        color: white;
        font-size: 13px;
        font-weight: normal;
        font-style: italic;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
        font-weight: bold;
        font-family: "Quicksand", sans-serif !important;
        letter-spacing: 1px;
      }
    }
  }

  .shiny {
    color: lightyellow;
    background: -webkit-gradient(linear, left top, left bottom, from(lightyellow), to(skyblue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 22px !important;
    font-weight: 900;
    position: relative;
    text-transform: uppercase;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
    letter-spacing: 1px;
  }

  .shiny::before {
    -webkit-animation: flare 2s infinite;
    -webkit-animation-timing-function: linear;
    animation: flare 2s infinite;
    animation-timing-function: linear;
    background-image: linear-gradient(
      65deg,
      transparent 20%,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.3) 27%,
      transparent 27%,
      transparent 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "Nâng cấp tài khoản";
    color: #fff;
    display: block;
    // padding-right: 140px;
    position: absolute;
  }

  .shiny::after {
    // content: "Chặn Click Ảo 2019 - Giảm đến 50% phí quảng cáo Google Ads";
    color: #fff;
    display: block;
    position: absolute;
    text-shadow: 0 1px #6e4414, 0 2px #6e4414, 0 3px #6e4414, 0 4px #6e4414, 0 5px #6e4414, 0 6px #6e4414, 0 7px #6e4414,
      0 8px #6e4414, 0 9px #6e4414, 0 10px #6e4414;
    top: 0;
    z-index: -1;
  }

  .inner-shiny::after,
  .inner-shiny::before {
    -webkit-animation: sparkle 5s infinite;
    -webkit-animation-timing-function: linear;
    animation: sparkle 5s infinite;
    animation-timing-function: linear;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
    content: "Nâng cấp tài khoản";
    display: block;
    height: 10px;
    opacity: 0.7;
    position: absolute;
    width: 10px;
  }

  .inner-shiny::before {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    height: 7px;
    left: 0.12em;
    top: 0.8em;
    width: 7px;
  }

  .inner-shiny::after {
    top: 0.32em;
    right: -5px;
  }

  @keyframes flare {
    0% {
      background-position: -17vw;
    }
    30% {
      background-position: 500px;
    }
    100% {
      background-position: 500px;
    }
  }
  @-webkit-keyframes flare {
    0% {
      background-position: -17vw;
    }
    30% {
      background-position: 500px;
    }
    100% {
      background-position: 500px;
    }
  }
  @keyframes sparkle {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 0.8;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes sparkle {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 0.8;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .package-wrapper {
    position: relative;
    z-index: 100;
    top: -220px;

    .package {
      position: relative;
      background: white;
      padding-bottom: 10px;
      width: 265px;
      margin: 25px;
      border-radius: 7px;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      transition: 0.2s;
      color: rgba(0, 0, 0, 0.7);

      // &:nth-of-type(1) {
      //   background: #f2ffe6;
      //   color: darkgreen;
      // }

      &:nth-of-type(2) {
        top: -20px;
        // background: lightyellow;
      }

      // &:nth-of-type(3) {
      //   background: white;
      //   color: rgba(0, 0, 0, 0.8);
      // }

      &.package-FREE {
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
      }

      &.package-VIP1 {
        -webkit-animation-duration: 0.6s;
        animation-duration: 0.6s;
      }

      &.package-CUSTOM {
        -webkit-animation-duration: 0.9s;
        animation-duration: 0.9s;
      }

      // &:hover {
      //   transform: translateY(-10px);
      // }

      .register-package-button,
      .contact-button {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          background: #44b543;
          margin: 0 auto;
          display: table;
        }
      }

      mat-divider {
        margin: 25px;
      }

      .package-price {
        width: 100%;
        padding-top: 20px;
        font-size: 16px;
        text-align: center;
      }

      .package-benefit {
        padding: 0 20px;
        min-height: 230px;

        .benefit-title {
          font-size: 16px;
        }

        ul {
          list-style: none;
          padding-left: 5px;

          .benefit-highline {
            font-weight: bold;
            color: green;
          }

          li {
            font-size: 10px;
            font-weight: bold;

            mat-icon {
              color: green;
              font-size: 12px;
            }
          }
        }
      }

      .recommended {
        background: #039be5;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        color: white;
        padding: 5px;
        position: absolute;
        font-weight: bold;
        font-size: 11px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-top-left-radius: 5px;
      }

      .on-sale {
        position: absolute;
        right: 0;
        width: 100px;
        top: -20px;
        right: -20.5px;
        @extend .no-select;

        img {
          object-fit: cover;
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
        }
      }

      .label-base {
        background: white;
        box-shadow: 1px 1px 2px gray;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        display: table;
        margin: 0 auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-shadow: 1px 0.8px 0.8px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .label-FREE {
        background-color: #63d471;
        background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
        color: white;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
      }

      .label-VIP1 {
        background: radial-gradient(
            ellipse farthest-corner at right bottom,
            #fedb37 0%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%
          ),
          radial-gradient(
            ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%
          );
        color: lightyellow;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
      }

      .label-CUSTOM {
        font-weight: bold;
        color: gold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #e0455f;
        background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .package-wrapper {
      .package {
        width: 90vw;
        margin: 20px;
      }
    }
  }
}
