<div class="container">

  <div class="main-title" fxLayout="column" fxLayoutAlign="center center">
    <div class="main-title-inner">
      <span class="shiny">
        <span class="inner-shiny">Nâng cấp tài khoản</span>
      </span>
      <!-- <span class="title">NÂNG CẤP TÀI KHOẢN</span> -->
      <p class="notice">
        Hãy nâng cấp tài khoản của bạn để trải nghiệm những tính năng tuyệt vời nhất !
      </p>
    </div>
  </div>

  <div class="package-wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div class="package fadeInUp {{'package-' + p.type}}" *ngFor="let p of packages">
      <span class="recommended" *ngIf="p.type === LICENCE.VIP1.type">Khuyên dùng</span>
      <span class="label-base {{'label-' + p.type}}">{{p.name}}</span>
      <p class="package-price">
        {{p.price !== 0 ? ((p.price | number: '1.0-0')  + ' VNĐ/Tháng') : (p.type === LICENCE.FREE.type ? 'Miễn phí' : 'Liên hệ')}}
      </p>
      <mat-divider></mat-divider>
      <div class="package-benefit">
        <ul>
          <li *ngFor="let item of p.interests">
            <mat-icon>check</mat-icon>
            {{item}}
          </li>
        </ul>
      </div>

      <div class="register-package-button" (click)="openUpgradeLicenceDialog(LICENCE.VIP1.type, LICENCE.VIP1.name)"
        *ngIf="isRegisterButtonDisplayed && p.type === LICENCE.VIP1.type && p.type !== LICENCE.FREE.type">
        <button mat-raised-button color="accent">Đăng ký ngay</button>
      </div>

      <div class="contact-button"
        *ngIf="isRegisterButtonDisplayed && p.type === LICENCE.CUSTOM.type && p.type !== LICENCE.FREE.type">
        <button mat-raised-button color="accent" (click)="openContactInfoDialog()">Liên hệ ngay</button>
      </div>

    </div>
  </div>
</div>