.container {
  width: 100%;
  height: 100vh;
  background: #e7ecf0;

  .no-display {
    display: none;
  }

  .main-title {

    // background-color: #76daff;
    // background-image: linear-gradient(315deg, #76daff 0%, #fcd000 74%);
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    background-attachment: fixed;

    .main-title-inner {
      padding: 70px 20px 250px 20px;
      text-align: center;
      //background-color: rgba(3, 155, 229, 0.5);
      width: 100%;
      backdrop-filter: blur(6px);

      .title {
        color: lightgreen;
        font-size: 22px;
        font-weight: bold;
        filter: drop-shadow(0 1px 1px black);
      }

      .notice {
        color: white;
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        filter: drop-shadow(0 1px 1px black);
        font-weight: bold;
      }
    }
  }

  .shiny {
    color: orange;
    background: -webkit-gradient(linear, left top, left bottom, from(orange), to(darkorange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 26px !important;
    font-weight: 900;
    position: relative;
    text-transform: uppercase;
    filter: drop-shadow(0.5px 1px 1px black);
  }

  .shiny::before {
    // background-position: -180px;
    -webkit-animation: flare 2s infinite;
    -webkit-animation-timing-function: linear;
    background-image: linear-gradient(
      65deg,
      transparent 20%,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.3) 27%,
      transparent 27%,
      transparent 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "Nâng cấp tài khoản";
    color: #fff;
    display: block;
    // padding-right: 140px;
    position: absolute;
  }

  .shiny::after {
    // content: "Chặn Click Ảo 2019 - Giảm đến 50% phí quảng cáo Google Ads";
    color: #fff;
    display: block;
    position: absolute;
    text-shadow: 0 1px #6e4414, 0 2px #6e4414, 0 3px #6e4414, 0 4px #6e4414, 0 5px #6e4414, 0 6px #6e4414, 0 7px #6e4414,
      0 8px #6e4414, 0 9px #6e4414, 0 10px #6e4414;
    top: 0;
    z-index: -1;
  }

  .inner-shiny::after,
  .inner-shiny::before {
    -webkit-animation: sparkle 5s infinite;
    -webkit-animation-timing-function: linear;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
    content: "Nâng cấp tài khoản";
    display: block;
    height: 10px;
    opacity: 0.7;
    position: absolute;
    width: 10px;
  }

  .inner-shiny::before {
    -webkit-animation-delay: 0.2s;
    height: 7px;
    left: 0.12em;
    top: 0.8em;
    width: 7px;
  }

  .inner-shiny::after {
    top: 0.32em;
    right: -5px;
  }

  @-webkit-keyframes flare {
    0% {
      background-position: -180px;
    }
    30% {
      background-position: 500px;
    }
    100% {
      background-position: 500px;
    }
  }

  @-webkit-keyframes sparkle {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 0.8;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .package-wrapper {
    position: relative;
    z-index: 100;
    top: -32vh;

    .package {
      background: white;
      padding-bottom: 20px;
      width: 21vw;
      margin: 25px;
      border-radius: 7px;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      transition: 0.2s;

      &.free-package {
        -webkit-animation: packageAnimation 0.4s ease-out;
      }

      &.vip-package {
        -webkit-animation: packageAnimation 0.6s ease-out;
      }

      &.custom-package {
        -webkit-animation: packageAnimation 0.8s ease-out;
      }

      @keyframes packageAnimation {
        from {
          transform: translateY(100vh);
        }
        to {
          transform: translateY(0);
        }
      }

      &:hover {
        transform: translateY(-10px);
      }

      .register-package-button {
        width: 100%;

        button {
          background: #44b543;
          margin: 0 auto;
          display: table;
        }
      }

      .package-price {
        width: 100%;
        padding-top: 20px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.8);
        text-align: center;
      }

      .package-benefit {
        padding: 20px;
        padding-top: 0;

        .benefit-title {
          font-size: 16px;
        }

        ul {
          list-style: none;
          padding-left: 0;

          .benefit-highline {
            font-weight: bold;
            color: green;
          }

          li {
            padding-bottom: 5px;
            font-size: 12px;
            mat-icon {
              color: #44b543;
              font-size: 16px;
            }
          }
        }
      }

      .label-base {
        background: white;
        box-shadow: 1px 1px 2px gray;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        display: table;
        margin: 0 auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-shadow: 1px 0.8px 0.8px rgba(0, 0, 0, 0.5);
      }

      .free-label {
        background-color: #63d471;
        background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
        color: white;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
      }

      .vip-label {
        background: radial-gradient(
            ellipse farthest-corner at right bottom,
            #fedb37 0%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%
          ),
          radial-gradient(
            ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%
          );
        color: lightyellow;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
      }

      .custom-label {
        font-weight: bold;
        color: gold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #e0455f;
        background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .package-wrapper {
      top: -33vh;
      .package {
        width: 90vw;
        margin: 20px;
      }
    }
  }
}
