<div class="container">

  <div class="main-title" fxLayout="column" fxLayoutAlign="center center">
    <div class="main-title-inner">
      <span class="shiny">
        <span class="inner-shiny">Nâng cấp tài khoản</span>
      </span>
      <p class="notice">
        Hãy nâng cấp tài khoản của bạn để trải nghiệm những tính năng tuyệt vời nhất!
      </p>
    </div>
  </div>

  <div class="package-wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div class="package">
      <span class="label-base free-label">CƠ BẢN</span>
      <p class="package-price">
        Miễn phí
      </p>
      <div style="padding: 10px 25px 10px 25px">
        <mat-divider></mat-divider>
      </div>
      <div class="package-benefit">
        <ul>
          <li>
            <mat-icon>check</mat-icon>
            Chặn click ảo theo tần suất
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Chặn click ảo theo nhà mạng (3G/4G)
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Chặn click ảo tự động ít hơn 5 giây
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Tùy chỉnh danh sách IP cần chặn
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Báo cáo quản trị IP click
          </li>
        </ul>
      </div>
    </div>
    <div class="package">
      <span class="label-base vip-label">TỐI ƯU</span>
      <p class="package-price">
        500.000 VNĐ/Tháng
      </p>
      <div style="padding: 10px 25px 10px 25px">
        <mat-divider></mat-divider>
      </div>
      <div class="package-benefit">
        <ul>
          <li>
            <mat-icon>check</mat-icon>
            Chặn click ảo theo tần suất
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Chặn click ảo theo nhà mạng (3G/4G)
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Chặn click ảo tự động ít hơn 5 giây
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Tùy chỉnh danh sách IP cần chặn
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Báo cáo quản trị IP click
          </li>
          <li class="benefit-highline">
            <mat-icon>check</mat-icon>
            Chặn click ảo theo hành vi người dùng
          </li>
          <li class="benefit-highline">
            <mat-icon>check</mat-icon>
            Chặn click ảo theo nhắm chọn vị trí
          </li>
          <li class="benefit-highline">
            <mat-icon>check</mat-icon>
            Hỗ trợ gửi bồi hoàn phí từ Google
          </li>
        </ul>
      </div>
      <div class="register-package-button" (click)="openUpgradeLicenceDialog('VIP1', 'Tối ưu')"
        [class.no-display]="isRegisterButtonNotDisplayed">
        <button mat-raised-button color="accent">Đăng ký ngay</button>
      </div>
    </div>
    <div class="package">
      <span class="label-base custom-label">ĐỐI TÁC</span>
      <p class="package-price">
        Liên hệ
      </p>
      <div style="padding: 10px 25px 10px 25px">
        <mat-divider></mat-divider>
      </div>
      <div class="package-benefit">
        <ul>
          <li>
            <mat-icon>check</mat-icon>
            Chặn click ảo theo tần suất
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Chặn click ảo theo nhà mạng (3G/4G)
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Chặn click ảo tự động ít hơn 5 giây
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Tùy chỉnh danh sách IP cần chặn
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Báo cáo quản trị IP click
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Chặn click ảo theo hành vi người dùng
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Chặn click ảo theo nhắm chọn vị trí
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Hỗ trợ gửi bồi hoàn phí từ Google
          </li>
          <li class="benefit-highline">
            <mat-icon>check</mat-icon>
            Có 1 nhân viên hỗ trợ riêng
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>