.container {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;

  .title1 {
    padding: 77px 30px 0 30px;
    background-color: #000000 !important;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%) !important;
    color: white;
    font-size: 16px;
    font-weight: bold;
    
    mat-icon {
      margin-top: -5px;
    }

    .datePicker {
      color: #0093e5;
      margin-top: 10px;

      input {
        color: white;
      }
    }
  }

  .main-inner {
    .inner {
      padding: 50px 30px 30px 30px;
      margin-top: -18px;

      .left {
        padding: 40px;
        padding-top: 10px;
        padding-bottom: 15px;
        text-align: center;
  
        .avatar {
          height: 110px;
          width: 110px;
          display: table;
          margin: 0 auto;
          margin-bottom: 15px;
        }
      }
  
      .right {
        background-color: white;
        border: 0.5px solid #eee;
  
        .user-action-icon {
          margin-right: 10px;
          font-size: 20px;
          margin-top: 5px;
        }

        .blocked-ip {
          background: rgba(217, 83, 79, 0.2);
        }

        .visitor-ip {
          //background: rgba(0, 128, 0, 0.1);
        }

        .ads-click-ip {
          background: rgba(255, 165, 0, 0.1);
        }
  
        mat-table {
          box-shadow: none;
  
          .ip-detail-link {
            font-weight: bold;
            padding-left: 2px;
            transition: 0.2s;
            font-size: 12px;
    
            &:hover {
              background: rgba(3, 155, 229, 0.1);
            }
          }
  
          mat-cell {
            font-size: 12px;
          }
  
          mat-header-cell:nth-child(1),
          mat-cell:nth-child(1) {
            flex: 0 0 17%;
          }
  
          mat-header-cell:nth-child(2),
          mat-cell:nth-child(2) {
            mat-icon {
              font-size: 20px;
            }
          }
  
          mat-cell:nth-child(4) {
            a {
              width: 200px;
              display: block;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
  
          mat-header-cell:nth-child(5),
          mat-cell:nth-child(5),
          mat-header-cell:nth-child(7),
          mat-cell:nth-child(7) {
            justify-content: center;
          }
  
          mat-row {
            transition: 0.2s;

            &:hover {
              //background-color: rgba(3, 155, 229, 0.1);
              font-weight: bold;
            }
          }
  
          mat-header-cell {
            background: #0093e5;
            color: white;
            font-weight: bold;
          }
  
          mat-row,
          mat-header-row {
            min-width: 1000px;
            width: 100%;
          }
        }
  
        .adwords-badge {
          border: 1px solid #4bb543;
          border-radius: 5px;
          padding: 5px;
        }
      }
  
      .icon {
        height: 22px;
        width: 22px;
        margin-right: 5px;
      }
  
      .pagination-buttons {
        width: 100%;
        color: gray;
      }
  
      .bottom {
        margin-top: 15px;
        padding: 15px;
  
        .last-history-icon {
          text-align: center;
  
          mat-icon {
            font-size: 30px;
          }
        }

        .back-button {
          padding-left: 5px;
          a {
            padding-left: 0;
            mat-icon {
              font-size: 20px;
              margin-right: 7px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;

      .datePicker {
        margin-left: 10px;
      }
    }

    .main-inner {
      .inner {
        padding-left: 15px;
        padding-right: 15px;

        .right {
          overflow: auto;
        }
      }
    }
  }
}
