.container {
  width: 100%;

  .title1 {
    padding: 141px 30px 37px 45px;
    background: url("../../../../assets/images/backgrounds/dark-material-bg.jpg");
    background-size: 100% 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .type1 {
    background: rgba(255,165,0,0.1);
  }

  .type2 {
    background: rgba(0,128,0,0.1);
  }

  .main-inner {
    .inner {
      padding: 30px;
      padding-top: 80px;
      margin-top: -18px;
    }

    .left {
      padding: 40px;
      padding-top: 10px;
      padding-bottom: 15px;
      text-align: center;

      .avatar {
        height: 110px;
        width: 110px;
        display: table;
        margin: 0 auto;
        margin-bottom: 15px;
      }
    }

    .right {
      width: 100%;

      mat-tree {
        box-shadow: 1px 1px 4px silver;
        padding-top: 20px;
      }

      .example-tree-invisible {
        display: none !important;
      }

      .example-tree ul,
      .example-tree li {
        list-style-type: none;
        width: 100%;
      }

      .ip-click-detail {
        width: 100%;
      }

      .div-uuid {
        margin: 10px;
        border: 0.5px solid #d2d2d2;
        padding: 15px;
        border-radius: 5px;
        width: 100%;

        li {
          width: 100%;
          padding-bottom: 10px;
        }
      }

      mat-table {
        box-shadow: none;

        mat-row {
          transition: 0.2s;
        }
        mat-row:hover {
          background-color: rgba(3, 155, 229, 0.1);
        }

        mat-header-cell {
          background: #039be5;
          color: white;
        }

        mat-row,
        mat-header-row {
          min-width: 1000px;
          width: 100%;
        }
      }

      .adwords-badge {
        border: 1px solid #4bb543;
        border-radius: 5px;
        padding: 5px;
      }
    }

    .ip-click-history {
      width: 100%;
      overflow: auto;
      box-shadow: 1px 1px 4px silver;

      mat-table {
        box-shadow: none;

        mat-row {
          transition: 0.2s;

          &:hover {
            font-weight: bolder;
          }
        }

        mat-header-cell {
          background: #039be5;
          color: white;
        }

        mat-header-cell:nth-child(1),
        mat-cell:nth-child(1) {
          flex: 0 0 5%;
        }

        mat-header-cell:nth-child(5),
        mat-cell:nth-child(5) {
          justify-content: center;
        }

        mat-row,
        mat-header-row {
          min-width: 1500px;
          width: 100%;
        }
      }
    }

    .icon,
    .os-icon {
      height: 20px;
      width: 20px;
      //margin-top: -2px;
      margin-right: 5px;
      //margin-left: 18px;
    }

    .os-icon {
      margin-left: 3px;
    }

    .pagination-buttons {
      width: 100%;
      color: gray;
    }

    .bottom {
      margin-top: 15px;
      padding: 15px;

      .last-history-icon {
        text-align: center;

        mat-icon {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      text-align: center;
    }

    .main-inner {
      .inner {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
