.container {
  width: 100%;

  .title1 {
    padding: 141px 30px 37px 45px;
    background: url("../../../../assets/images/backgrounds/dark-material-bg.jpg");
    background-size: 100% 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .main-inner {
    .inner {
      padding: 50px 30px 30px 30px;
      margin-top: -18px;
    }

    .left {
      padding: 40px;
      padding-top: 10px;
      padding-bottom: 15px;
      text-align: center;

      .avatar {
        height: 110px;
        width: 110px;
        display: table;
        margin: 0 auto;
        margin-bottom: 15px;
      }
    }

    .right {
      height: auto;
      background-color: white;
      box-shadow: 1px 1px 3px silver;
      overflow: auto;

      mat-table {
        box-shadow: none;

        mat-header-cell:nth-child(1),
        mat-cell:nth-child(1) {
          flex: 0 0 10%;
        }

        mat-header-cell:nth-child(2),
        mat-cell:nth-child(2) {
          flex: 0 0 17%;
        }

        mat-header-cell:nth-child(3),
        mat-cell:nth-child(3) {
          mat-icon {
            font-size: 20px;
          }
        }

        mat-header-cell:nth-child(6),
        mat-cell:nth-child(6) {
          justify-content: center;
        }

        mat-row {
          transition: 0.2s;
        }
        mat-row:hover {
          background-color: rgba(3, 155, 229, 0.1);
        }

        mat-header-cell {
          background: #039be5;
          color: white;
        }

        mat-row,
        mat-header-row {
          min-width: 1500px;
          width: 100%;
        }
      }

      .adwords-badge {
        border: 1px solid #4bb543;
        border-radius: 5px;
        padding: 5px;
      }
    }

    .icon {
      height: 22px;
      width: 22px;
      margin-right: 5px;
    }

    .pagination-buttons {
      width: 100%;
      color: gray;
    }

    .bottom {
      margin-top: 15px;
      padding: 15px;

      .last-history-icon {
        text-align: center;

        mat-icon {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      text-align: center;
    }
  }
}
