.container {
  width: 100%;
  height: 90vh;

  .title1 {
    padding: 45px 30px 0 45px;
    height: 25vh;
    // background-color: #000000 !important;
    // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%) !important;
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    text-shadow: 1px 1px 2px black;
    color: white;
    font-size: 16px;
    font-weight: bold;

    .adsId {
      color: yellow;
      margin-left: 5px;
    }
  }

  .type1 {
    //background: rgba(255, 165, 0, 0.1);
  }

  .type2 {
    //background: rgba(0, 128, 0, 0.1);
  }

  .type3 {
    //background: rgba(217, 83, 79, 0.1);
  }

  .main-inner {
    padding: 0 30px 30px 30px;
    position: relative;
    top: -7.6vh;

    .inner {
      .left-detail {
        -webkit-animation: leftDetailAni 0.4s ease-out;

        @keyframes leftDetailAni {
          from {
            transform: translateY(100vh);
          }
          to {
            transform: translateY(0);
          }
        }
      }

      .left {
        padding: 0 40px 0 40px;
        text-align: center;

        .avatar {
          border-radius: 50%;
          display: table;
          margin: 0 auto;
          border: 8px solid #e7ecf0;
        }
      }

      .right-container {
        border-radius: 7px;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        -webkit-animation: tableAni 0.6s ease-out;
        @keyframes tableAni {
          from {
            transform: translateY(100vh);
          }
          to {
            transform: translateY(0);
          }
        }

        .ip-click-history {
          height: 500px;
          overflow: auto;
          border-radius: 7px;

          mat-table {
            box-shadow: none;

            .uuid-detail-link {
              padding-left: 0;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              font-weight: bold;
              font-size: 11px;

              &:hover {
                background: rgba(3, 155, 229, 0.05);
              }
            }

            .user-action-icon {
              margin-right: 10px;
              font-size: 20px;
              margin-top: 5px;
            }

            mat-row {
              transition: 0.2s;

              &:nth-child(odd) {
                background: whitesmoke;
              }

              &:hover {
                background-color: rgba(3, 155, 229, 0.05);
                //font-weight: bold;
              }

              -webkit-animation: rowAppearance 0.4s linear;
              @keyframes rowAppearance {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
            }

            mat-header-cell {
              background: whitesmoke;
              color: rgba(0, 0, 0, 0.7);
              font-weight: bold;
            }

            mat-header-cell:nth-child(1),
            mat-cell:nth-child(1),
            mat-header-cell:nth-child(2),
            mat-cell:nth-child(2),
            mat-header-cell:nth-child(3),
            mat-cell:nth-child(3) {
              flex: 0 0 9%;
            }

            mat-header-cell:nth-child(5),
            mat-cell:nth-child(5) {
              flex: 0 0 9%;
              a {
                width: 130px;
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }

            mat-header-cell:nth-child(4),
            mat-cell:nth-child(4),
            mat-header-cell:nth-child(11),
            mat-cell:nth-child(11) {
              justify-content: center;
            }

            mat-header-cell:nth-child(12),
            mat-cell:nth-child(12),
            mat-header-cell:nth-child(13),
            mat-cell:nth-child(13),
            mat-header-cell:nth-child(14),
            mat-cell:nth-child(14) {
              flex: 0 0 6%;
              justify-content: center;
            }

            mat-header-cell,
            mat-cell {
              font-size: 10px;
            }

            mat-cell {
              mat-icon {
                font-size: 14px;
                margin-top: 8px;
                margin-right: -5px;
              }
            }

            mat-row,
            mat-header-row {
              min-width: 1400px;
              width: 100%;
            }
          }
        }

        .icon,
        .os-icon {
          height: 14px;
          width: 14px;
          //margin-top: -2px;
          margin-right: 3px;
          //margin-left: 18px;
        }

        .os-icon {
          margin-left: 3px;
        }

        .user-image {
          height: 24px;
          width: 24px;
          margin-right: 10px;
          border-radius: 50%;
        }

        .pagination-buttons {
          width: 100%;
          color: gray;
          padding-left: 15px;
        }
      }

      .bottom {
        padding-top: 20px;
        font-size: 12px;

        .mat-list-icon {
          color: #039be5;
        }

        .mat-list-item {
          font-size: 12px !important;
          margin-top: -20px;

          h4 {
            color: gray;
          }

          p {
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      padding: 30px 20px 20px 20px;
      text-align: center;

      mat-icon {
        margin-left: -20px;
      }
    }

    .main-inner {
      padding: 22px 15px 15px 15px;
    }
  }
}
