.container {
  padding: 30px 30px 15px 30px;

  width: 100%;

  .title1 {
    padding: 15px;
    padding-left: 0;

    background-color: whitesmoke;
    color: gray;
    font-size: 16px;
    font-weight: bold;

    box-shadow: 2px 2px 5px silver;
  }

  .add-account-button {
  }

  .website-list {
    width: 100%;
    max-height: 250px;
    overflow: auto;
    border: 0.5px solid #d2d2d2;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #d2d2d2;
    padding: 10px;
  }

  .add-domain-button {
    background-color: rgba(3, 155, 229, 0.1);

    mat-icon {
      font-size: 20px;
    }
  }

  .table-container {
    max-height: 500px;
    box-shadow: 2px 2px 5px silver;
    background-color: white;
    overflow: auto;

    li {
      transition: 0.2s;
      height: 25px;
    }

    li:hover {
      background-color: rgba(3, 155, 229, 0.1);
    }

    mat-table {
      width: 100%;
      box-shadow: none;
    }

    ​mat-header-cell,
    mat-cell {
      display: flex;
      justify-content: center;
    }

    mat-row,
    mat-header-row {
      min-width: 1000px;
      width: 100%;
    }

    mat-header-cell,
    mat-cell {
      justify-content: left;
    }

    mat-header-cell:nth-child(1),
    mat-cell:nth-child(1) {
      flex: 0 0 8%;
    }

    mat-header-cell:nth-child(2),
    mat-cell:nth-child(2) {
      flex: 0 0 15%;
    }

    mat-header-cell:nth-child(3),
    mat-cell:nth-child(3) {
      flex: 0 0 23%;
    }

    mat-header-cell:nth-child(4),
    mat-cell:nth-child(4) {
      justify-content: center;
      flex: 0 0 15%;
    }

    mat-cell:nth-child(5) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    mat-row {
      transition: 0.2s;
    }

    mat-row:hover {
      background-color: whitesmoke;
    }
  }

  .info-button {
    cursor: pointer;
  }

  .vip-service {
    color: dodgerblue;
    font-weight: bold;
  }

  .free-service {
    color: coral;
    font-weight: bold;
  }

  .button-area {
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }

  .tracking {
    color: orange;
  }

  .tracking-button {
    color: red;

    &:disabled {
      color: gray;
    }
  }

  .no-tracking {
    color: dodgerblue;
  }

  .clear {
    clear: both;
  }

  .footer {
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 15px;
  }
  .title1 {
    text-align: center;
  }
}
