<div class="container">
  <div class="title1" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
    <span fxFlex="75">QUẢN LÝ TÀI KHOẢN ADWORDS VÀ WEBSITE</span>
    <a [routerLink]="'/them-tai-khoan-moi'" mat-button color="accent" class="add-account-button">
      <mat-icon>person_add</mat-icon> Thêm tài khoản mới
    </a>
  </div>

  <form>

    <div class="table-container">

      <mat-table [dataSource]="accounts" class="mat-elevation-z8">

        <ng-container matColumnDef="task">
          <mat-header-cell *matHeaderCellDef> Tác vụ </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" matTooltip="Cập nhật dữ liệu" *ngIf="element.isConnected">
              <mat-icon>update</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Ngày </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'HH:mm dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="adwords">
          <mat-header-cell *matHeaderCellDef> AdWords ID </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div fxLayout="row">
              <p style="width: 120px; color: #4bb543; font-weight: bold" *ngIf="element.isConnected">
                {{element.adsId | adsAccountId}}
              </p>
              <p style="width: 120px; color: silver; font-weight: bold" *ngIf="!element.isConnected">
                {{element.adsId | adsAccountId}}
              </p>
              <div fxLayout="row" *ngIf="element.isConnected">
                <button mat-icon-button color="accent" matTooltip="Xem báo cáo tổng quan"
                       (click)="navigateToSpamClickReport(element.id, element.adsId)">
                  <mat-icon>notifications</mat-icon>
                </button>
                <a *ngIf="element.websites.length > 0"
                  [routerLink]="['/gan-tracking/website', element.id]" mat-icon-button
                  color="accent" matTooltip="Gắn mã tracking cho các website" style="color: red">
                  <mat-icon>code</mat-icon>
                </a>
                <!-- <button mat-icon-button color="accent" matTooltip="Chỉnh sửa">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" matTooltip="Xóa">
                  <mat-icon>delete</mat-icon>
                </button> -->
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="accepted">
          <mat-header-cell *matHeaderCellDef> Quyền quản lý </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" matTooltip="Đã được chấp nhận" *ngIf="element.isConnected">
              <mat-icon style="color: #4bb543">check_circle</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="Chưa được chấp nhận" *ngIf="!element.isConnected">
              <mat-icon style="color: crimson">highlight_off</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="website">
          <mat-header-cell *matHeaderCellDef> Website </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ul style="width: 100%" *ngIf="element.isConnected">
              <li *ngFor="let website of element.websites, let i = index" fxLayout="row">
                <p style="padding-left: 5px" fxFlex="90">
                  <span>{{i+1}}</span>.
                  <a href="{{website.domain}}" target="_blank">{{website.domain}}</a>
                </p>
                <div fxFlex="10">
                  <button (click)="openRemoveWebsiteDialog(website.code)" mat-icon-button color="accent"
                    matTooltip="Xóa website">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <!-- <button mat-icon-button color="accent" matTooltip="Kết nối AdWords">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button> -->
                </div>
              </li>
              <li>
                <button (click)="navigateToWebsiteManagement(element.id, element.campaignNumber)"
                   mat-button color="accent" style="padding-left: 0">
                  <mat-icon>add_circle_outline</mat-icon> Thêm Website
                </button>
              </li>
            </ul>
          </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="website">
          <mat-header-cell *matHeaderCellDef> Website </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <p *ngIf="element.website">
              {{element.website}}
              <button mat-icon-button color="accent" matTooltip="Gắn tracking chiến dịch tài khoản"
                *ngIf="element.tracking" style="color: red">
                <mat-icon>code</mat-icon>
              </button>
              <button mat-icon-button color="accent" matTooltip="Ngắt kết nối Adwords cho website này">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="accent" matTooltip="Kết nối AdWords cho website này">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </p>
            <button mat-button color="accent" *ngIf="!element.website" style="padding-left: 0">
              <mat-icon>add_circle_outline</mat-icon> Thêm Website
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="service">
          <mat-header-cell *matHeaderCellDef> Dịch vụ </mat-header-cell>
          <mat-cell *matCellDef="let element"> <span [class.vip-service]="element.service === 'VIP (17/06/2019)'"
              [class.free-service]="element.service === 'MIỄN PHÍ - NÂNG VIP'">{{element.service}}</span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cost">
          <mat-header-cell *matHeaderCellDef>
            <p>
              Chi phí
              <mat-icon matBadgeColor="warn" matTooltip="Xem báo cáo Chi phí" class="info-button">info</mat-icon>
            </p>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="display">
          <mat-header-cell *matHeaderCellDef>
            <p>
              Hiển thị
              <mat-icon matBadgeColor="warn" matTooltip="Xem báo cáo Hiển thị" class="info-button">info</mat-icon>
            </p>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.display}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="click">
          <mat-header-cell *matHeaderCellDef>
            <p>
              Click
              <mat-icon matBadgeColor="warn" matTooltip="Xem báo cáo Click" class="info-button">info</mat-icon>
            </p>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.click}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="spamClick">
          <mat-header-cell *matHeaderCellDef>
            <p>
              Click ảo
              <mat-icon matBadgeColor="warn" matTooltip="Xem báo cáo Click ảo" class="info-button">info</mat-icon>
            </p>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.spamClick}} </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>

    <!-- <div class="button-area">
      <button mat-raised-button color="accent" style="border-radius: 0">
        <mat-icon>wifi</mat-icon> KẾT NỐI TÀI KHOẢN ADWORDS
      </button>
    </div> -->

  </form>

</div>