.container {
  padding: 15px 30px 15px 30px;

  width: 100%;

  .title1 {
    padding: 15px;

    background-color: #eee;
    color: gray;
    font-size: 16px;
    font-weight: bold;
  }

  .table-container {
    height: 420px;
    box-shadow: 2px 2px 10px silver;
    overflow: auto;

    margin-top: 30px;

    mat-table{
      width: 100%;
      box-shadow: none;
    }

    mat-header-cell,
    mat-cell {
      display: flex;
      justify-content: center;
    }

    mat-header-cell:nth-child(2),
    mat-cell:nth-child(2) {
      flex: 0 0 10%;
    }

    mat-header-cell:nth-child(3),
    mat-cell:nth-child(3) {
      flex: 0 0 15%;
      justify-content: left;
    }

    mat-header-cell:nth-child(4),
    mat-cell:nth-child(4) {
      flex: 0 0 25%;
      justify-content: left;
    }

    mat-header-cell:nth-child(5),
    mat-cell:nth-child(5) {
      flex: 0 0 15%;
    }

    mat-row:hover {
      background-color: #eeee;
    }

    mat-row,
    mat-header-row {
      min-width: 1500px;
      width: 100%;
    }
  }

  .info-button {
    cursor: pointer;
  }

  .vip-service {
    color: dodgerblue;
    font-weight: bold;
  }

  .free-service {
    color: coral;
    font-weight: bold;
  }

  .button-area {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  .tracking {
    color: orange;
  }

  .no-tracking {
    color: dodgerblue;
  }

  .footer {
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 15px;
  }
}
