<div class="container">
  <div class="title1">
    QUẢN LÝ TÀI KHOẢN ADWORDS VÀ WEBSITE
  </div>

  <form>

    <div class="table-container">

      <mat-table [dataSource]="accounts" class="mat-elevation-z8">

        <ng-container matColumnDef="task">
          <mat-header-cell *matHeaderCellDef> Tác vụ </mat-header-cell>
          <mat-cell *matCellDef>
            <button mat-icon-button color="accent" matTooltip="Cập nhật dữ liệu">
              <mat-icon>update</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Ngày </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy HH:mm'}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="adwords">
          <mat-header-cell *matHeaderCellDef> AdWords </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <p>
              <span *ngIf="element.tracking" class="tracking"
                matTooltip="Cần thực hiện tracking">{{element.adsId}}</span>
              <span *ngIf="!element.tracking" class="no-tracking">{{element.adsId}}</span>
              <button mat-icon-button color="accent" matTooltip="Xem báo cáo tổng quan" *ngIf="!element.tracking">
                <mat-icon>notifications</mat-icon>
              </button>
              <button mat-icon-button color="accent" matTooltip="Chỉnh sửa" *ngIf="element.tracking">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="accent" matTooltip="Xóa">
                <mat-icon>delete</mat-icon>
              </button>
            </p>
          </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="adwords">
          <mat-header-cell *matHeaderCellDef> AdWords </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div fxLayout="row">
              <p style="width: 100px">
                {{element.adsId | adsAccountId}}
              </p>
              <div>
                <button mat-icon-button color="accent" matTooltip="Xem báo cáo tổng quan">
                  <mat-icon>notifications</mat-icon>
                </button>
                <button mat-icon-button color="accent" matTooltip="Chỉnh sửa">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" matTooltip="Xóa">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="website">
          <mat-header-cell *matHeaderCellDef> Website </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ol *ngIf="element.websites.length > 0">
              <li *ngFor="let website of element.websites" fxLayout="row">
                <p>{{website.domain}}</p>
                <div>
                  <button mat-icon-button color="accent" matTooltip="Gắn tracking chiến dịch tài khoản"
                    style="color: red">
                    <mat-icon>code</mat-icon>
                  </button>
                  <button mat-icon-button color="accent" matTooltip="Ngắt kết nối Adwords cho website này">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button color="accent" matTooltip="Kết nối AdWords cho website này">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>
                </div>
              </li>
            </ol>
            <a href="/add-tracking-tags/select-campaigns" mat-button color="accent" style="padding-left: 0"
              *ngIf="element.websites.length === 0">
              <mat-icon>add_circle_outline</mat-icon> Thêm Website
            </a>
          </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="website">
          <mat-header-cell *matHeaderCellDef> Website </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <p *ngIf="element.website">
              {{element.website}}
              <button mat-icon-button color="accent" matTooltip="Gắn tracking chiến dịch tài khoản"
                *ngIf="element.tracking" style="color: red">
                <mat-icon>code</mat-icon>
              </button>
              <button mat-icon-button color="accent" matTooltip="Ngắt kết nối Adwords cho website này">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="accent" matTooltip="Kết nối AdWords cho website này">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </p>
            <button mat-button color="accent" *ngIf="!element.website" style="padding-left: 0">
              <mat-icon>add_circle_outline</mat-icon> Thêm Website
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="service">
          <mat-header-cell *matHeaderCellDef> Dịch vụ </mat-header-cell>
          <mat-cell *matCellDef="let element"> <span [class.vip-service]="element.service === 'VIP (17/06/2019)'"
              [class.free-service]="element.service === 'MIỄN PHÍ - NÂNG VIP'">{{element.service}}</span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cost">
          <mat-header-cell *matHeaderCellDef>
            <p>
              Chi phí
              <mat-icon matBadgeColor="warn" matTooltip="Xem báo cáo Chi phí" class="info-button">info</mat-icon>
            </p>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="display">
          <mat-header-cell *matHeaderCellDef>
            <p>
              Hiển thị
              <mat-icon matBadgeColor="warn" matTooltip="Xem báo cáo Hiển thị" class="info-button">info</mat-icon>
            </p>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.display}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="click">
          <mat-header-cell *matHeaderCellDef>
            <p>
              Click
              <mat-icon matBadgeColor="warn" matTooltip="Xem báo cáo Click" class="info-button">info</mat-icon>
            </p>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.click}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="spamClick">
          <mat-header-cell *matHeaderCellDef>
            <p>
              Click ảo
              <mat-icon matBadgeColor="warn" matTooltip="Xem báo cáo Click ảo" class="info-button">info</mat-icon>
            </p>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.spamClick}} </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>

    <div class="button-area">
      <button mat-raised-button color="accent" style="border-radius: 0">
        <mat-icon>wifi</mat-icon> KẾT NỐI TÀI KHOẢN ADWORDS
      </button>
    </div>

  </form>

</div>