.container {
  width: 100%;
  background-color: #046085;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23046085' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23497a99' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%237596ae' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%239db2c3' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23c5d0d8' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23eeeeee' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  .title1 {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: bold;
    padding: 30px 30px 0 45px;
    padding-left: 15px;
    height: 25vh;

    .title1-main {
      padding-top: 15px;
    }

    mat-icon {
      font-size: 18px;
    }

    .add-account {
      padding-top: 5px;

      .add-account-button {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        max-width: 250px;
        color: white;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: none;
        transition: 0.2s;

        img {
          width: 14px;
          margin-right: 5px;
          margin-top: -5px;
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
        }

        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  .inner {
    margin: 30px;
    position: relative;
    top: -15vh;
    -webkit-animation: formAni 0.4s ease-out;
    animation: formAni 0.4s ease-out;
    @keyframes formAni {
      from {
        transform: translateY(100vh);
      }
      to {
        transform: translateY(0);
      }
    }

    mat-icon {
      font-size: 20px;
    }

    .warning {
      padding: 20px;
      background: lightyellow;
      border-left: 4px solid darkorange;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      position: relative;
      top: -50vh;
      width: 60%;
      display: table;
      margin: 0 auto;
      margin-top: 30px;
      text-align: center;

      mat-icon {
        color: orange;
        font-size: 24px;
        margin-right: 10px;
      }

      -webkit-animation: notificationAni 0.2s ease-out;
      animation: notificationAni 0.2s ease-out;
      @keyframes notificationAni {
        from {
          transform: translateY(5vh);
        }
        to {
          transform: translateY(0);
        }
      }
    }

    .website-list {
      width: 100%;
      max-height: 105px;
      overflow: auto;
      border-radius: 5px;
      margin: 5px;
      border: 1px solid #eee;
      padding: 5px;

      li {
        a {
          padding-left: 5px;
        }
      }
    }

    .add-domain-button {
      width: 40%;
      text-align: left;
      padding-left: 0;
      width: 100%;
      margin-left: 5px;
      font-size: 12px;

      mat-icon {
        font-size: 14px;
        margin-top: 8px;
        margin-right: -5px;
      }
    }

    .caution {
      font-size: 12px;
      color: gray;
      margin-left: 5px;
    }

    .table-container {
      min-height: 60vh;
      background: white;
      border-bottom: 0.5px solid #eee;
      overflow: auto;
      border-radius: 7px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

      li {
        transition: 0.2s;
        height: 30px;

        &:hover {
          background: rgba(3, 155, 229, 0.05);
        }
      }

      .ads-account {
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
        width: 140px;
        display: flex;
        flex-direction: column;

        .ads-account-id {
          font-size: 15px;
        }
      }

      mat-table {
        width: 100%;
        box-shadow: none;

        .ggAds-icon {
          height: 12px;
          width: 12px;
          margin-right: 8px;
        }

        mat-header-cell,
        mat-cell {
          display: flex;
          justify-content: left;
        }

        mat-header-cell:nth-child(1),
        mat-cell:nth-child(1) {
          flex: 0 0 8%;
        }

        mat-header-cell:nth-child(2),
        mat-cell:nth-child(2) {
          flex: 0 0 14%;
        }

        mat-header-cell:nth-child(3),
        mat-cell:nth-child(3) {
          flex: 0 0 24%;
        }

        mat-header-cell:nth-child(4),
        mat-cell:nth-child(4) {
          justify-content: center;
          flex: 0 0 12%;
        }

        mat-cell:nth-child(5) {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        mat-header-cell:nth-child(5) {
          padding-left: 5px;
        }

        mat-header-cell {
          background: whitesmoke;
          color: rgba(0, 0, 0, 0.7);
          font-weight: bold;
        }

        mat-row {
          transition: 0.2s;

          -webkit-animation: rowFadeIn 0.4s linear;
          animation: rowFadeIn 0.4s linear;
          @keyframes rowFadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }

        mat-header-cell,
        mat-cell {
          font-size: 12px;
        }

        mat-icon {
          font-size: 16px;
        }

        mat-row,
        mat-header-row {
          min-width: 1000px;
          width: 100%;
        }
      }
    }

    .info-button {
      cursor: pointer;
    }

    .button-area {
      padding-top: 30px;
      display: flex;
      justify-content: center;
    }

    .tracking {
      color: orange;
    }

    .tracking-button {
      color: red;

      &:disabled {
        color: gray;
      }
    }

    .no-tracking {
      color: #40a5ec;
    }

    .clear {
      clear: both;
    }

    .footer {
      padding-top: 15px;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .title1 {
      text-align: center;
      padding: 30px 20px 20vh 20px;
      height: 40vh;
    }

    .inner {
      margin: 10px;

      .table-container {
        .ads-account {
          .ads-account-id {
            font-size: 13px !important;
          }
        }
      }
    }
  }
}
